In [1]:
import sys
sys.path.append('..')

from data_center.binance_handler import BinanceHandHandler

In [2]:
df = BinanceHandHandler().update_data_from_binance()

Loading: BTCUSDT
Last record time: 2024-03-10 00:00:00, Asia/Hong_Kong
Finish

Loading: ETHUSDT
Last record time: 2024-03-10 00:00:00, Asia/Hong_Kong
Finish

Loading: BNBUSDT
Last record time: 2024-03-10 00:00:00, Asia/Hong_Kong
Finish

Loading: AAVEUSDT
Last record time: 2024-03-10 00:00:00, Asia/Hong_Kong
Finish

Loading: AVAXUSDT
Last record time: 2024-03-10 00:00:00, Asia/Hong_Kong
Finish

Loading: ETCUSDT
Last record time: 2024-03-10 00:00:00, Asia/Hong_Kong
Finish

Loading: SOLUSDT
Last record time: 2024-03-10 00:00:00, Asia/Hong_Kong
Finish

Loading: ADAUSDT
Generateing new file for ADAUSDT and loading data from Binance
Finish

Loading: LINKUSDT
Last record time: 2024-03-10 00:00:00, Asia/Hong_Kong
Finish

Loading: BCHUSDT
Last record time: 2024-03-10 00:00:00, Asia/Hong_Kong
Finish

Loading: DOTUSDT
Last record time: 2024-03-10 00:00:00, Asia/Hong_Kong
Finish

Loading: LTCUSDT
Last record time: 2024-03-10 00:00:00, Asia/Hong_Kong
Finish

Loading: UNIUSDT
Generateing new file for UNIUSDT and loading data from Binance
Finish

Loading: XRPUSDT
Generateing new file for XRPUSDT and loading data from Binance
Finish

Loading: XLMUSDT
Generateing new file for XLMUSDT and loading data from Binance
Finish

Loading: MATICUSDT
Last record time: 2022-07-23 00:00:00, Asia/Hong_Kong
Finish

Loading: TRXUSDT
Last record time: 2024-03-10 00:00:00, Asia/Hong_Kong
Finish

Loading: DOGEUSDT
Last record time: 2024-03-10 00:00:00, Asia/Hong_Kong
Finish

Loading: INJUSDT
Last record time: 2024-03-10 00:00:00, Asia/Hong_Kong
Finish

In [ ]:
df = BinanceHandHandler().get_data_from_database("BTCUSDT")
df

                 datetime      open      high       low     close      volume
0     2019-09-08 00:00:00  10000.00  10412.65  10000.00  10391.63    3096.291
1     2019-09-09 00:00:00  10316.62  10475.54  10077.22  10307.00   14824.373
2     2019-09-10 00:00:00  10307.00  10382.97   9940.87  10102.02    9068.955
3     2019-09-11 00:00:00  10094.27  10293.11   9884.31  10159.55   10897.922
4     2019-09-12 00:00:00  10163.06  10450.13  10042.12  10415.13   15609.634
...                   ...       ...       ...       ...       ...         ...
1642  2024-03-06 00:00:00  63747.50  67729.50  62829.30  66128.10  534011.813
1643  2024-03-07 00:00:00  66128.00  68101.30  65609.30  66870.00  296092.788
1644  2024-03-08 00:00:00  66870.00  70330.80  66120.00  68180.20  459387.207
1645  2024-03-09 00:00:00  68180.20  68608.70  67908.70  68360.10   94899.005
1646  2024-03-10 00:00:00  68360.20  69344.00  68262.50  68979.00   42229.930

[1647 rows x 6 columns]