In [1]:
import sys
sys.path.append('..')

from data_center.binance_handler import BinanceHandHandler

In [2]:
df = BinanceHandHandler().update_data_from_binance()

BTCUSDT
Asia/Hong_Kong

ValueError: time data "1567900800000" doesn't match format "%Y-%m-%d %H:%M:%S", at position 1000. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [ ]:
df = BinanceHandHandler().get_data_from_database("BTCUSDT")
df

                datetime      open      high       low     close      volume
0    2019-09-08 00:00:00  10000.00  10412.65  10000.00  10391.63    3096.291
1    2019-09-09 00:00:00  10316.62  10475.54  10077.22  10307.00   14824.373
2    2019-09-10 00:00:00  10307.00  10382.97   9940.87  10102.02    9068.955
3    2019-09-11 00:00:00  10094.27  10293.11   9884.31  10159.55   10897.922
4    2019-09-12 00:00:00  10163.06  10450.13  10042.12  10415.13   15609.634
..                   ...       ...       ...       ...       ...         ...
995  2022-05-30 00:00:00  29452.60  32307.60  29301.10  31726.50  502712.176
996  2022-05-31 00:00:00  31726.50  32427.50  31222.00  31797.80  383688.265
997  2022-06-01 00:00:00  31797.90  31986.10  29300.00  29796.90  556992.756
998  2022-06-02 00:00:00  29796.90  30750.00  29566.10  30437.10  370924.687
999  2022-06-03 00:00:00  30437.10  30693.20  29220.00  29682.80  357110.377

[1000 rows x 6 columns]