In [3]:
from pymongo import MongoClient
import pandas as pd

In [2]:
mongo = MongoClient('mongodb+srv://doadmin:12VQ3UrM70T695BL@medina-mongo-prod-4d15c7ee.mongo.ondigitalocean.com/admin?tls=true&authSource=admin')
db = mongo['PSTAGE']
collection = db['financial_report']

In [4]:
df = pd.DataFrame(list(collection.find().limit(100)))

In [5]:
df

,_id,證券碼,財務資料日,季別,合併(Y/N),單季(Q)/單半年(H),月份,幣別,財報發布日,每股盈餘,...,營業利益,營業外收入及支出,所得稅費用,合併總損益,歸屬母公司淨利（損）,折舊－CFO,攤提－CFO,來自營運之現金流量,投資活動之現金流量,籌資活動之現金流量
0,6604db8aec0eccbba86526d3,000930,2023-09-01,3,Y,Q,09,NTD,2023-11-08,2.96,...,486556.0,NaN,93292.0,485949.0,485918.0,45219.0,21516.0,-1503432.0,-11518.0,1487687.0
1,6604db8aec0eccbba86526d4,000930,2023-06-01,2,Y,Q,06,NTD,2023-08-24,2.88,...,416753.0,NaN,62722.0,468606.0,468556.0,44147.0,20854.0,-2261335.0,-99593.0,2417283.0
2,6604db8aec0eccbba86526d5,000930,2023-12-01,4,Y,Q,12,NTD,2024-03-11,2.04,...,318776.0,NaN,74438.0,331687.0,331659.0,47824.0,22265.0,-728861.0,-49821.0,651527.0
3,6604db8aec0eccbba86526d6,000960,2023-09-01,3,Y,Q,09,NTD,2023-11-10,5.04,...,1332119.0,NaN,262029.0,2049953.0,2049912.0,112968.0,48656.0,12487278.0,-1600.0,-3178118.0
4,6604db8aec0eccbba86526d7,000960,2023-06-01,2,Y,Q,06,NTD,2023-08-30,4.44,...,1059947.0,NaN,103262.0,1905014.0,1810791.0,161089.0,62184.0,-9679364.0,-14242387.0,18789172.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,6604db8aec0eccbba8652732,1264,2023-12-01,4,Y,Q,12,NTD,2024-03-26,17.68,...,246987.0,6301.0,58892.0,194396.0,163893.0,21623.0,568.0,233310.0,-4356.0,-50127.0
96,6604db8aec0eccbba8652733,1268,2023-06-01,2,Y,Q,06,NTD,2023-08-10,7.16,...,82459.0,4474.0,11537.0,75396.0,75396.0,92048.0,947.0,243367.0,-33405.0,-70485.0
97,6604db8aec0eccbba8652734,1268,2023-09-01,3,Y,Q,09,NTD,2023-11-09,8.04,...,84927.0,17059.0,17297.0,84689.0,84689.0,88768.0,953.0,211940.0,-62801.0,-45068.0
98,6604db8aec0eccbba8652735,1268,2023-12-01,4,Y,Q,12,NTD,2024-02-29,3.20,...,38234.0,-1438.0,2878.0,33918.0,33918.0,121849.0,1099.0,316008.0,-229110.0,-167735.0
99,6604db8aec0eccbba8652736,1269,2023-06-01,2,Y,H,06,NTD,2023-08-11,8.72,...,147318.0,-96419.0,10351.0,40548.0,40548.0,247205.0,4949.0,383540.0,-213673.0,-161496.0