In [1]:
import os
import sys
sys.path.append('..')
from data_center.tej_handler import TEJHandler
from monitor.tw_monitor import TWMarketMonitor

from pymongo import MongoClient
import tejapi
TEJHandler() # init handler inf

import pandas as pd
import numpy as np
from datetime import date
from dateutil.relativedelta import relativedelta

### 目前月營收、財報時間資料都有誤

In [2]:
mongo = MongoClient(TWMarketMonitor().client_url)
db = mongo['PSTAGE']
collection = db['financial_report']
df = pd.DataFrame(list(collection.find().sort('財務資料日', -1).limit(1000000)))
df

,_id,證券碼,財務資料日,季別,合併(Y/N),單季(Q)/單半年(H),月份,幣別,財報發布日,每股盈餘,...,營業利益,營業外收入及支出,所得稅費用,合併總損益,歸屬母公司淨利（損）,折舊－CFO,攤提－CFO,來自營運之現金流量,投資活動之現金流量,籌資活動之現金流量
0,6604db8aec0eccbba86526d5,000930,2023-12-01,4,Y,Q,12,NTD,2024-03-11,2.04,...,318776.0,NaN,74438.0,331687.0,331659.0,47824.0,22265.0,-728861.0,-49821.0,651527.0
1,6604db8aec0eccbba86526d8,000960,2023-12-01,4,Y,Q,12,NTD,2024-03-15,3.84,...,734790.0,NaN,210149.0,1564768.0,1564801.0,111534.0,48569.0,-5415113.0,-214243.0,823941.0
2,6604db8aec0eccbba86526db,0009A0,2023-12-01,4,Y,Q,12,NTD,2024-03-14,1.92,...,549008.0,NaN,130525.0,779095.0,779095.0,111403.0,33149.0,-11378205.0,2634040.0,7753619.0
3,6604db8aec0eccbba86526de,1101,2023-12-01,4,Y,Q,12,NTD,2024-02-28,1.00,...,3433504.0,383504.0,1317094.0,2499914.0,1801908.0,2082429.0,282945.0,13796962.0,-11346930.0,-5820763.0
4,6604db8aec0eccbba86526e1,1102,2023-12-01,4,Y,Q,12,NTD,2024-03-15,1.60,...,1467155.0,481242.0,667356.0,1281041.0,1325636.0,1124744.0,80517.0,3335886.0,-7680917.0,693873.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108160,660678e360b8c294fcf82cf9,8712,2005-06-01,2,N,H,6,NTD,NaT,-2.70,...,-147867.0,-2581873.0,0.0,-2729740.0,-2729740.0,10228.0,3389.0,-31897.0,323676.0,-287406.0
108161,660678e360b8c294fcf82cfa,8725,2005-06-01,2,N,H,6,NTD,NaT,-3.65,...,-7160.0,-90791.0,0.0,-423249.0,-423249.0,158.0,0.0,18339.0,-1529.0,-37528.0
108162,660678e360b8c294fcf82d02,8913,2005-06-01,2,Y,H,6,NTD,NaT,-0.03,...,-15436.0,28417.0,1944.0,11037.0,11037.0,60924.0,36.0,128306.0,133327.0,-271975.0
108163,660678e360b8c294fcf82db6,8925,2005-06-01,2,N,H,6,NTD,NaT,0.19,...,41628.0,-14578.0,5930.0,21120.0,21120.0,21576.0,5024.0,-21634.0,-28630.0,-51783.0
108164,660678e360b8c294fcf82e14,8934,2005-06-01,2,Y,H,6,NTD,NaT,-2.91,...,-40857.0,-8411.0,4540.0,-53808.0,-53808.0,19724.0,0.0,-31389.0,-27892.0,42856.0

In [6]:
org_fr_df = pd.read_table("/Volumes/Database/Original_data/IFRS合併一般產業單季/財報.txt", encoding='Big5-HKSCS', low_memory=False)
org_fr_df

form_new =  df[['CFO/負債','CFO/合併總損益']]
old_fr_data1 = org_fr_df [['公司',
                    '年/月', 
                    '季別', 
                    '合併(Y/N)',
                    '單季(Q)/單半年(H)',
                    '月份',
                    '幣別',
                    '財報發布日',
                    '每股盈餘',
                    'ROA(C)稅前息前折舊前',
                    'ROE(A)－稅後',
                    '營業毛利率',
                    '營業利益率',
                    '稅後淨利率']]

old_fr_data2 = org_fr_df [[
                    '現金流量比率',
                    '每股淨值(F)－TSE公告數',
                    '營收成長率',
                    '營業毛利成長率',
                    '營業利益成長率',
                    '流動比率',
                    '速動比率',
                    '負債比率',
                    '長期資金適合率(A)',
                    '應收帳款週轉次數',
                    '總資產週轉次數',
                    '存貨週轉率（次）',
                    '  應收帳款及票據',
                    '  存貨',
                    '流動資產',
                    '  採權益法之長期股權投資',
                    '  不動產廠房及設備',
                    '  商譽及無形資產合計',
                    '非流動資產',
                    '資產總額',
                    '  短期借款',
                    '  應付商業本票／承兌匯票',
                    '  一年內到期長期負債',
                    '流動負債',
                    '  應付公司債－非流動',
                    '  銀行借款－非流動',
                    '  其他長期借款－非流動',
                    '非流動負債',
                    '負債總額',
                    '  股本',
                    '  保留盈餘',
                    '股東權益總額',
                    '負債及股東權益總額',
                    '營業收入淨額',
                    '營業成本',
                    '營業毛利',
                    '營業費用',
                    '營業利益',
                    '營業外收入及支出',
                    '所得稅費用',
                    '合併總損益',
                    '歸屬母公司淨利（損）',
                    '  折舊－CFO',
                    '  攤提－CFO',
                    '來自營運之現金流量',
                    '投資活動之現金流量',
                    '籌資活動之現金流量']
]

In [ ]:
data = pd.concat([form_new, old_fr_data2], axis = 1)
data = pd.concat([old_fr_data1, data], axis = 1)
data.columns = df.columns[1:] 
data

In [3]:
data_code = "TWN/EWIFINQ"
pdata = TWMarketMonitor().pdata_pipline(df, data_code)
pdata#['財報發布日']['2013':].sort_index(ascending=False)

{'季別': symbol     000930 000960 0009A0 1101 1102 1103 1104 1107 1108 1109  ... 9945  \
 datetime                                                            ...
 2005-06-01    NaN    NaN    NaN    2    2    2    2    2    2    2  ...    2
 2005-12-01    NaN    NaN    NaN    4    4    4    4    4    4    4  ...    4
 2006-06-01    NaN    NaN    NaN    2    2    2    2    2    2    2  ...    2
 2006-12-01    NaN    NaN    NaN    4    4    4    4    4    4    4  ...    4
 2007-06-01    NaN    NaN    NaN    2    2    2    2    2    2    2  ...    2
 ...           ...    ...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
 2022-12-01    NaN    NaN    NaN    4    4    4    4  NaN    4    4  ...    4
 2023-03-01    NaN    NaN    NaN    1    1    1    1  NaN    1    1  ...    1
 2023-06-01      2      2      2    2    2    2    2  NaN    2    2  ...    2
 2023-09-01      3      3      3    3    3    3    3  NaN    3    3  ...    3
 2023-12-01      4      4      4    4    4    4    4  NaN    4    4  ...    4

 symbol     9946 9949 9950 9951 9955 9957 9958 9960 9962
 datetime
 2005-06-01    2    2    2    2    2  NaN    2    2    2
 2005-12-01    4    4    4    4    4  NaN    4    4    4
 2006-06-01    2    2    2    2    2  NaN    2    2    2
 2006-12-01    4    4    4    4    4  NaN    4    4    4
 2007-06-01    2    2    2    2    2  NaN    2    2    2
 ...         ...  ...  ...  ...  ...  ...  ...  ...  ...
 2022-12-01    4    4    4    4    4  NaN    4    4    4
 2023-03-01    1    1    1    1    1  NaN    1    1    1
 2023-06-01    2    2    2    2    2    2    2    2    2
 2023-09-01    3    3    3    3    3  NaN    3    3    3
 2023-12-01    4    4    4    4    4  NaN    4    4    4

 [70 rows x 2466 columns],
 '合併(Y/N)': symbol     000930 000960 0009A0 1101 1102 1103 1104 1107 1108 1109  ... 9945  \
 datetime                                                            ...
 2005-06-01    NaN    NaN    NaN    Y    Y    Y    Y    Y    Y    Y  ...    Y
 2005-12-01    NaN    NaN    NaN    Y    Y    Y    Y    Y    Y    Y  ...    Y
 2006-06-01    NaN    NaN    NaN    Y    Y    Y    Y    Y    Y    Y  ...    Y
 2006-12-01    NaN    NaN    NaN    Y    Y    Y    Y    Y    Y    Y  ...    Y
 2007-06-01    NaN    NaN    NaN    Y    Y    Y    Y    Y    Y    Y  ...    Y
 ...           ...    ...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
 2022-12-01    NaN    NaN    NaN    Y    Y    Y    Y  NaN    Y    Y  ...    Y
 2023-03-01    NaN    NaN    NaN    Y    Y    Y    Y  NaN    Y    Y  ...    Y
 2023-06-01      Y      Y      Y    Y    Y    Y    Y  NaN    Y    Y  ...    Y
 2023-09-01      Y      Y      Y    Y    Y    Y    Y  NaN    Y    Y  ...    Y
 2023-12-01      Y      Y      Y    Y    Y    Y    Y  NaN    Y    Y  ...    Y

 symbol     9946 9949 9950 9951 9955 9957 9958 9960 9962
 datetime
 2005-06-01    Y    Y    Y    Y    Y  NaN    N    Y    N
 2005-12-01    Y    Y    Y    Y    Y  NaN    N    Y    N
 2006-06-01    Y    Y    Y    Y    Y  NaN    N    Y    N
 2006-12-01    Y    Y    Y    Y    Y  NaN    N    Y    N
 2007-06-01    Y    Y    Y    Y    Y  NaN    N    Y    N
 ...         ...  ...  ...  ...  ...  ...  ...  ...  ...
 2022-12-01    Y    Y    Y    Y    Y  NaN    Y    Y    Y
 2023-03-01    Y    Y    Y    Y    Y  NaN    Y    Y    Y
 2023-06-01    Y    Y    Y    Y    Y    Y    Y    Y    Y
 2023-09-01    Y    Y    Y    Y    Y  NaN    Y    Y    Y
 2023-12-01    Y    Y    Y    Y    Y  NaN    Y    Y    Y

 [70 rows x 2466 columns],
 '單季(Q)/單半年(H)': symbol     000930 000960 0009A0 1101 1102 1103 1104 1107 1108 1109  ... 9945  \
 datetime                                                            ...
 2005-06-01    NaN    NaN    NaN    H    H    H    H    H    H    H  ...    H
 2005-12-01    NaN    NaN    NaN    H    H    H    H    H    H    H  ...    H
 2006-06-01    NaN    NaN    NaN    H    H    H    H    H    H    H  ...    H
 2006-12-01    NaN    NaN    NaN    H    H    H    H    H    H    H  ...    H
 2007-06-01    NaN    NaN    NaN    H    H    H    H    H    H    H  ...    H
 ...           ...    ...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
 2022-12-01    NaN    NaN    NaN    Q    Q    Q    Q  NaN    Q    Q  ...    Q
 2023-03-01    NaN    NaN    NaN    Q    Q    Q    Q  NaN    Q    Q  ...    Q
 2023-06-01      Q      Q      Q    Q    Q    Q    Q  NaN    Q    Q  ...    Q
 2023-09-01      Q      Q      Q    Q    Q    Q    Q  NaN    Q    Q  ...    Q
 2023-12-01      Q      Q      Q    Q    Q    Q    Q  NaN    Q    Q  ...    Q

 symbol     9946 9949 9950 9951 9955 9957 9958 9960 9962
 datetime
 2005-06-01    H    H    H    H    H  NaN    H    H    H
 2005-12-01    H    H    H    H    H  NaN    H    H    H
 2006-06-01    H    H    H    H    H  NaN    H    H    H
 2006-12-01    H    H    H    H    H  NaN    H    H    H
 2007-06-01    H    H    H    H    H  NaN    H    H    H
 ...         ...  ...  ...  ...  ...  ...  ...  ...  ...
 2022-12-01    Q    Q    Q    Q    Q  NaN    Q    Q    Q
 2023-03-01    Q    Q    Q    Q    Q  NaN    Q    Q    Q
 2023-06-01    Q    Q    Q    Q    Q    H    Q    Q    Q
 2023-09-01    Q    Q    Q    Q    Q  NaN    Q    Q    Q
 2023-12-01    Q    Q    Q    Q    Q  NaN    Q    Q    Q

 [70 rows x 2466 columns],
 '月份': symbol     000930 000960 0009A0 1101 1102 1103 1104 1107 1108 1109  ... 9945  \
 datetime                                                            ...
 2005-06-01    NaN    NaN    NaN    6    6    6    6    6    6    6  ...    6
 2005-12-01    NaN    NaN    NaN   12   12   12   12   12   12   12  ...   12
 2006-06-01    NaN    NaN    NaN    6    6    6    6    6    6    6  ...    6
 2006-12-01    NaN    NaN    NaN   12   12   12   12   12   12   12  ...   12
 2007-06-01    NaN    NaN    NaN    6    6    6    6    6    6    6  ...    6
 ...           ...    ...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
 2022-12-01    NaN    NaN    NaN   12   12   12   12  NaN   12   12  ...   12
 2023-03-01    NaN    NaN    NaN    3    3    3    3  NaN    3    3  ...    3
 2023-06-01     06     06     06   06   06   06   06  NaN   06   06  ...   06
 2023-09-01     09     09     09   09   09   09   09  NaN   09   09  ...   09
 2023-12-01     12     12     12   12   12   12   12  NaN   12   12  ...   12

 symbol     9946 9949 9950 9951 9955 9957 9958 9960 9962
 datetime
 2005-06-01    6    6    6    6    6  NaN    6    6    6
 2005-12-01   12   12   12   12   12  NaN   12   12   12
 2006-06-01    6    6    6    6    6  NaN    6    6    6
 2006-12-01   12   12   12   12   12  NaN   12   12   12
 2007-06-01    6    6    6    6    6  NaN    6    6    6
 ...         ...  ...  ...  ...  ...  ...  ...  ...  ...
 2022-12-01   12   12   12   12   12  NaN   12   12   12
 2023-03-01    3    3    3    3    3  NaN    3    3    3
 2023-06-01   06   06   06   06   06   06   06   06   06
 2023-09-01   09   09   09   09   09  NaN   09   09   09
 2023-12-01   12   12   12   12   12  NaN   12   12   12

 [70 rows x 2466 columns],
 '幣別': symbol     000930 000960 0009A0  1101  1102  1103  1104  1107  1108  1109  \
 datetime
 2005-06-01    NaN    NaN    NaN  NTD   NTD   NTD   NTD   NTD   NTD   NTD
 2005-12-01    NaN    NaN    NaN  NTD   NTD   NTD   NTD   NTD   NTD   NTD
 2006-06-01    NaN    NaN    NaN  NTD   NTD   NTD   NTD   NTD   NTD   NTD
 2006-12-01    NaN    NaN    NaN  NTD   NTD   NTD   NTD   NTD   NTD   NTD
 2007-06-01    NaN    NaN    NaN  NTD   NTD   NTD   NTD   NTD   NTD   NTD
 ...           ...    ...    ...   ...   ...   ...   ...   ...   ...   ...
 2022-12-01    NaN    NaN    NaN  NTD   NTD   NTD   NTD    NaN  NTD   NTD
 2023-03-01    NaN    NaN    NaN  NTD   NTD   NTD   NTD    NaN  NTD   NTD
 2023-06-01    NTD    NTD    NTD   NTD   NTD   NTD   NTD   NaN   NTD   NTD
 2023-09-01    NTD    NTD    NTD   NTD   NTD   NTD   NTD   NaN   NTD   NTD
 2023-12-01    NTD    NTD    NTD   NTD   NTD   NTD   NTD   NaN   NTD   NTD

 symbol      ...  9945  9946  9949  9950  9951  9955 9957  9958  9960  9962
 datetime    ...
 2005-06-01  ...  NTD   NTD   NTD   NTD   NTD   NTD   NaN  NTD   NTD   NTD
 2005-12-01  ...  NTD   NTD   NTD   NTD   NTD   NTD   NaN  NTD   NTD   NTD
 2006-06-01  ...  NTD   NTD   NTD   NTD   NTD   NTD   NaN  NTD   NTD   NTD
 2006-12-01  ...  NTD   NTD   NTD   NTD   NTD   NTD   NaN  NTD   NTD   NTD
 2007-06-01  ...  NTD   NTD   NTD   NTD   NTD   NTD   NaN  NTD   NTD   NTD
 ...         ...   ...   ...   ...   ...   ...   ...  ...   ...   ...   ...
 2022-12-01  ...  NTD   NTD   NTD   NTD   NTD   NTD   NaN  NTD   NTD   NTD
 2023-03-01  ...  NTD   NTD   NTD   NTD   NTD   NTD   NaN  NTD   NTD   NTD
 2023-06-01  ...   NTD   NTD   NTD   NTD   NTD   NTD  NTD   NTD   NTD   NTD
 2023-09-01  ...   NTD   NTD   NTD   NTD   NTD   NTD  NaN   NTD   NTD   NTD
 2023-12-01  ...   NTD   NTD   NTD   NTD   NTD   NTD  NaN   NTD   NTD   NTD

 [70 rows x 2466 columns],
 '財報發布日': symbol         000930     000960     0009A0       1101       1102       1103  \
 datetime
 2005-06-01        NaT        NaT        NaT        NaT        NaT        NaT
 2005-12-01        NaT        NaT        NaT        NaT        NaT        NaT
 2006-06-01        NaT        NaT        NaT        NaT        NaT        NaT
 2006-12-01        NaT        NaT        NaT        NaT        NaT        NaT
 2007-06-01        NaT        NaT        NaT        NaT        NaT        NaT
 ...               ...        ...        ...        ...        ...        ...
 2022-12-01        NaT        NaT        NaT        NaT        NaT        NaT
 2023-03-01        NaT        NaT        NaT        NaT        NaT        NaT
 2023-06-01 2023-08-24 2023-08-30 2023-08-30 2023-08-10 2023-08-11 2023-08-11
 2023-09-01 2023-11-08 2023-11-10 2023-11-13 2023-11-10 2023-11-13 2023-11-10
 2023-12-01 2024-03-11 2024-03-15 2024-03-14 2024-02-28 2024-03-15 2024-02-29

 symbol           1104 1107       1108       1109  ...       9945       9946  \
 datetime                                          ...
 2005-06-01        NaT  NaT        NaT        NaT  ...        NaT        NaT
 2005-12-01        NaT  NaT        NaT        NaT  ...        NaT        NaT
 2006-06-01        NaT  NaT        NaT        NaT  ...        NaT        NaT
 2006-12-01        NaT  NaT        NaT        NaT  ...        NaT        NaT
 2007-06-01        NaT  NaT        NaT        NaT  ...        NaT        NaT
 ...               ...  ...        ...        ...  ...        ...        ...
 2022-12-01        NaT  NaT        NaT        NaT  ...        NaT        NaT
 2023-03-01        NaT  NaT        NaT        NaT  ...        NaT        NaT
 2023-06-01 2023-08-11  NaT 2023-08-14 2023-08-10  ... 2023-08-11 2023-08-14
 2023-09-01 2023-11-13  NaT 2023-11-13 2023-11-09  ... 2023-11-13 2023-11-13
 2023-12-01 2024-03-15  NaT 2024-03-27 2024-03-13  ... 2024-03-13 2024-02-23

 symbol           9949       9950       9951       9955       9957       9958  \
 datetime
 2005-06-01        NaT        NaT        NaT        NaT        NaT        NaT
 2005-12-01        NaT        NaT        NaT        NaT        NaT        NaT
 2006-06-01        NaT        NaT        NaT        NaT        NaT        NaT
 2006-12-01        NaT        NaT        NaT        NaT        NaT        NaT
 2007-06-01        NaT        NaT        NaT        NaT        NaT        NaT
 ...               ...        ...        ...        ...        ...        ...
 2022-12-01        NaT        NaT        NaT        NaT        NaT        NaT
 2023-03-01        NaT        NaT        NaT        NaT        NaT        NaT
 2023-06-01 2023-08-09 2023-08-14 2023-08-08 2023-08-09 2023-08-14 2023-08-11
 2023-09-01 2023-11-09 2023-11-14 2023-11-06 2023-11-09        NaT 2023-11-13
 2023-12-01 2024-03-25 2024-03-15 2024-03-13 2024-03-14        NaT 2024-03-08

 symbol           9960       9962
 datetime
 2005-06-01        NaT        NaT
 2005-12-01        NaT        NaT
 2006-06-01        NaT        NaT
 2006-12-01        NaT        NaT
 2007-06-01        NaT        NaT
 ...               ...        ...
 2022-12-01        NaT        NaT
 2023-03-01        NaT        NaT
 2023-06-01 2023-08-10 2023-08-09
 2023-09-01 2023-11-10 2023-11-13
 2023-12-01 2024-03-14 2024-03-12

 [70 rows x 2466 columns],
 '每股盈餘': symbol      000930  000960  0009A0  1101  1102  1103  1104  1107  1108  1109  \
 datetime
 2005-06-01     NaN     NaN     NaN  1.25  1.43 -0.47  0.88 -0.97  0.26  0.35
 2005-12-01     NaN     NaN     NaN  0.72  1.39  0.93  0.39  0.32  0.29  0.45
 2006-06-01     NaN     NaN     NaN  0.81  1.57  4.85  0.82  0.33  0.54  1.13
 2006-12-01     NaN     NaN     NaN  1.42  1.39  0.51  0.43 -1.19  0.13  0.37
 2007-06-01     NaN     NaN     NaN  1.17  2.01  0.36  0.14 -0.41  0.15  0.32
 ...            ...     ...     ...   ...   ...   ...   ...   ...   ...   ...
 2022-12-01     NaN     NaN     NaN  0.36  0.18  0.05  0.93   NaN  0.68  0.34
 2023-03-01     NaN     NaN     NaN  0.20  0.81  0.03  0.42   NaN  0.31  0.42
 2023-06-01    2.88    4.44    2.28  1.80  5.04  0.00  2.48   NaN  1.48  2.40
 2023-09-01    2.96    5.04    3.28  0.68  3.28  0.72  5.68   NaN  1.88  1.36
 2023-12-01    2.04    3.84    1.92  1.00  1.60 -0.32  2.72   NaN  0.56  2.60

 symbol      ...  9945  9946  9949   9950  9951  9955  9957  9958  9960  9962
 datetime    ...
 2005-06-01  ... -0.12 -0.19  1.34   0.62  1.18  1.13   NaN  2.28  1.18  1.62
 2005-12-01  ...  0.51  0.18  1.26   0.72  1.48  1.35   NaN  0.35  1.00 -0.63
 2006-06-01  ...  1.42  0.06  1.46   0.55  1.82  1.47   NaN  0.89  1.21  1.18
 2006-12-01  ...  0.69  0.22  0.87   0.28  1.76  1.31   NaN  1.26  1.15  3.38
 2007-06-01  ...  1.49 -0.20  1.33   0.56  2.62  1.46   NaN  0.43  1.58  3.79
 ...         ...   ...   ...   ...    ...   ...   ...   ...   ...   ...   ...
 2022-12-01  ... -1.66  0.13  0.14  -0.12  1.82 -0.27   NaN -0.61  0.86  0.58
 2023-03-01  ...  0.10  0.01 -0.23   0.15  1.35 -0.31   NaN  0.20  0.59  0.48
 2023-06-01  ...  6.08  0.32 -0.80  22.32  5.76 -0.08 -1.88  3.96  1.48  1.32
 2023-09-01  ...  8.40 -0.24 -0.80   1.92  6.08 -0.80   NaN  5.28  3.88  1.28
 2023-12-01  ... -4.40  0.92 -0.20  -0.60  5.84 -1.08   NaN  7.80  2.36  0.56

 [70 rows x 2466 columns],
 'ROA(C) 稅前息前折舊前': symbol      000930  000960  0009A0  1101  1102   1103  1104  1107   1108  \
 datetime
 2005-06-01     NaN     NaN     NaN  6.41  5.62   0.96  1.90 -0.62   4.38
 2005-12-01     NaN     NaN     NaN  4.83  5.56   3.60  2.75  0.65   2.48
 2006-06-01     NaN     NaN     NaN  4.69  5.43  10.42  2.73  3.82   4.46
 2006-12-01     NaN     NaN     NaN  6.12  5.33   4.09  3.50 -2.53   2.82
 2007-06-01     NaN     NaN     NaN  5.91  6.44   3.45  2.26  0.78   2.98
 ...            ...     ...     ...   ...   ...    ...   ...   ...    ...
 2022-12-01     NaN     NaN     NaN  1.55  0.33   1.46  1.35   NaN   4.17
 2023-03-01     NaN     NaN     NaN  0.93  1.18   0.33  1.22   NaN   2.05
 2023-06-01    4.88    6.16    3.24  7.44  6.40   0.64  7.40   NaN   9.24
 2023-09-01    5.04    5.84    4.00  6.08  3.24   3.08  8.60   NaN  10.36
 2023-12-01    3.96    4.80    3.08  6.60  0.64   1.52  0.84   NaN   5.08

 symbol       1109  ...   9945  9946   9949   9950   9951   9955  9957   9958  \
 datetime           ...
 2005-06-01   4.28  ...   1.24  2.72  13.21   4.61   7.54   9.28   NaN   7.58
 2005-12-01   4.57  ...   3.52  4.39  11.60   4.66  10.67  12.37   NaN   2.53
 2006-06-01   5.51  ...   6.74  2.74  13.39   3.93  12.24  11.88   NaN   4.16
 2006-12-01   4.09  ...   3.30  4.07   8.32   2.65  11.13  10.26   NaN   5.68
 2007-06-01   3.69  ...   5.67  2.19  11.57   3.90  13.67  10.01   NaN   2.64
 ...           ...  ...    ...   ...    ...    ...    ...    ...   ...    ...
 2022-12-01   3.43  ...  -1.05  0.24   2.36   1.36   3.59  -0.24   NaN  -0.80
 2023-03-01   2.33  ...   0.84  0.05  -1.50   1.98   2.98  -0.30   NaN   0.83
 2023-06-01  13.00  ...  14.24  0.80  -4.16  12.08  11.84   2.96  -1.0   6.68
 2023-09-01   9.36  ...  18.12  0.64  -4.40 -61.24  12.96   0.52   NaN  10.00
 2023-12-01  11.80  ...  -2.64  1.96   0.16 -73.08  11.48  -0.76   NaN  14.44

 symbol       9960   9962
 datetime
 2005-06-01   7.07   9.43
 2005-12-01   7.69  -2.05
 2006-06-01   7.95   9.01
 2006-12-01   8.51  18.94
 2007-06-01  10.39  12.94
 ...           ...    ...
 2022-12-01   4.26   4.65
 2023-03-01   2.82   3.97
 2023-06-01   7.88  11.96
 2023-09-01  19.28  10.72
 2023-12-01  12.72   5.44

 [70 rows x 2466 columns],
 'ROE(A)-稅後': symbol      000930  000960  0009A0  1101  1102   1103   1104    1107   1108  \
 datetime
 2005-06-01     NaN     NaN     NaN  7.54  6.98  -1.95   0.71 -197.81   2.40
 2005-12-01     NaN     NaN     NaN  4.21  6.64   4.13   1.76  -75.10   2.56
 2006-06-01     NaN     NaN     NaN  4.45  6.57  17.27   1.40   27.23   4.89
 2006-12-01     NaN     NaN     NaN  7.76  6.12   3.72   2.43 -193.70   1.13
 2007-06-01     NaN     NaN     NaN  6.31  8.01   1.44   0.85     NaN   1.52
 ...            ...     ...     ...   ...   ...    ...    ...     ...    ...
 2022-12-01     NaN     NaN     NaN  1.13  0.35   0.17   3.44     NaN   5.81
 2023-03-01     NaN     NaN     NaN  0.42  1.52   0.12   1.29     NaN   2.65
 2023-06-01   15.80   17.52   11.84  7.08  9.64   0.00   7.60     NaN  12.72
 2023-09-01   16.08   15.64   16.60  3.84  5.60   2.16  20.72     NaN  15.44
 2023-12-01   10.36   11.64    9.28  4.00  2.68  -0.92   8.40     NaN   4.64

 symbol       1109  ...   9945  9946   9949    9950   9951   9955  9957   9958  \
 datetime           ...
 2005-06-01   2.70  ...  -0.66 -1.54  10.05    4.13   8.28   7.80   NaN  16.94
 2005-12-01   3.38  ...   5.03  1.56   9.97    4.03  10.24  10.13   NaN   2.79
 2006-06-01   4.21  ...  11.40  0.42  10.55    3.02  13.36   8.94   NaN   6.88
 2006-12-01   2.68  ...   5.69  1.84   6.78    0.09  11.54   7.82   NaN   9.75
 2007-06-01   2.33  ...  10.65 -1.65   9.53    2.64  16.01   7.59   NaN   3.17
 ...           ...  ...    ...   ...    ...     ...    ...    ...   ...    ...
 2022-12-01   1.61  ...  -8.39  0.64   1.52   -6.24   4.12  -2.00   NaN  -3.70
 2023-03-01   1.71  ...   0.50  0.06  -2.56    8.26   3.04  -2.30   NaN  -0.07
 2023-06-01  10.32  ...  20.32  1.72  -9.16  456.64  13.00  -0.68 -25.2   8.36
 2023-09-01   6.00  ...  27.20 -1.12  -9.40   25.24  13.20  -5.96   NaN  15.88
 2023-12-01   9.88  ... -11.32  4.68  -2.44   -7.24  12.20  -8.28   NaN  22.28

 symbol       9960   9962
 datetime
 2005-06-01   6.89  11.29
 2005-12-01   7.05  -5.74
 2006-06-01   7.58  10.16
 2006-12-01   8.01  25.66
 2007-06-01   9.77  25.40
 ...           ...    ...
 2022-12-01   4.88   4.42
 2023-03-01   3.24   3.76
 2023-06-01   8.44  10.80
 2023-09-01  22.12  10.20
 2023-12-01  12.68   4.28

 [70 rows x 2466 columns],
 '營業毛利率': symbol      000930  000960  0009A0   1101   1102   1103   1104   1107   1108  \
 datetime
 2005-06-01     NaN     NaN     NaN  22.82  15.43  18.99  15.37  -1.09  15.52
 2005-12-01     NaN     NaN     NaN  17.13  14.26  19.36  12.53  -5.38  14.52
 2006-06-01     NaN     NaN     NaN  15.99  14.96  19.89   7.43 -34.96  14.83
 2006-12-01     NaN     NaN     NaN  21.96  18.06  20.30   9.26  23.81  13.79
 2007-06-01     NaN     NaN     NaN  21.61  16.89  16.96   8.42  19.45  12.71
 ...            ...     ...     ...    ...    ...    ...    ...    ...    ...
 2022-12-01     NaN     NaN     NaN  15.39   7.58  11.79  21.59    NaN  33.75
 2023-03-01     NaN     NaN     NaN   9.39  10.30   9.62  18.77    NaN  18.43
 2023-06-01   81.97   81.41   70.07  21.63  15.12  10.81  19.99    NaN  20.64
 2023-09-01   80.67   77.29   71.23  21.39  13.44  14.61  19.28    NaN  18.15
 2023-12-01   78.31   74.51   70.20  22.24  11.33  14.75  20.83    NaN  12.62

 symbol       1109  ...   9945   9946   9949   9950   9951   9955  9957   9958  \
 datetime           ...
 2005-06-01  24.88  ...  19.21  67.85  74.46  19.90  26.81  14.72   NaN  13.50
 2005-12-01  27.27  ...  18.88  67.86  71.21  17.70  29.00  17.36   NaN  13.58
 2006-06-01  26.80  ...  23.49  65.10  70.93  19.23  32.66  13.95   NaN  10.40

In [5]:
pdata['財報發布日'].sort_index(ascending=False)

symbol,000930,000960,0009A0,1101,1102,1103,1104,1107,1108,1109,...,9945,9946,9949,9950,9951,9955,9957,9958,9960,9962
datetime,,,,,,,,,,,,,,,,,,,,,
2023-12-01,2024-03-11,2024-03-15,2024-03-14,2024-02-28,2024-03-15,2024-02-29,2024-03-15,NaT,2024-03-27,2024-03-13,...,2024-03-13,2024-02-23,2024-03-25,2024-03-15,2024-03-13,2024-03-14,NaT,2024-03-08,2024-03-14,2024-03-12
2023-09-01,2023-11-08,2023-11-10,2023-11-13,2023-11-10,2023-11-13,2023-11-10,2023-11-13,NaT,2023-11-13,2023-11-09,...,2023-11-13,2023-11-13,2023-11-09,2023-11-14,2023-11-06,2023-11-09,NaT,2023-11-13,2023-11-10,2023-11-13
2023-06-01,2023-08-24,2023-08-30,2023-08-30,2023-08-10,2023-08-11,2023-08-11,2023-08-11,NaT,2023-08-14,2023-08-10,...,2023-08-11,2023-08-14,2023-08-09,2023-08-14,2023-08-08,2023-08-09,2023-08-14,2023-08-11,2023-08-10,2023-08-09
2023-03-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2022-12-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2007-06-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2006-12-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2006-06-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2005-12-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2005-06-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT

In [6]:
data_code = "TWN/EWIFINQ"
df_ = df.drop(columns='_id')
pdata = TWMarketMonitor().pdata_pipline(df_, data_code)

clean_pdata_dic = {}
for key in list(pdata.keys()):
    sorted_data = pdata[key].sort_index(ascending=False)
    clean_df = sorted_data.dropna(axis = 1, how = 'all')
    clean_pdata_dic[key] = clean_df
pmart = TWMarketMonitor().pmart_pipline(clean_pdata_dic, data_code, 90)
pmart

ValueError: cannot reindex on an axis with duplicate labels

In [8]:
clean_pdata_dic["財報發布日"]

symbol,000930,000960,0009A0,1101,1102,1103,1104,1108,1109,1110,...,9945,9946,9949,9950,9951,9955,9957,9958,9960,9962
datetime,,,,,,,,,,,,,,,,,,,,,
2023-12-01,2024-03-11,2024-03-15,2024-03-14,2024-02-28,2024-03-15,2024-02-29,2024-03-15,2024-03-27,2024-03-13,2024-03-15,...,2024-03-13,2024-02-23,2024-03-25,2024-03-15,2024-03-13,2024-03-14,NaT,2024-03-08,2024-03-14,2024-03-12
2023-09-01,2023-11-08,2023-11-10,2023-11-13,2023-11-10,2023-11-13,2023-11-10,2023-11-13,2023-11-13,2023-11-09,2023-11-10,...,2023-11-13,2023-11-13,2023-11-09,2023-11-14,2023-11-06,2023-11-09,NaT,2023-11-13,2023-11-10,2023-11-13
2023-06-01,2023-08-24,2023-08-30,2023-08-30,2023-08-10,2023-08-11,2023-08-11,2023-08-11,2023-08-14,2023-08-10,2023-08-11,...,2023-08-11,2023-08-14,2023-08-09,2023-08-14,2023-08-08,2023-08-09,2023-08-14,2023-08-11,2023-08-10,2023-08-09
2023-03-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2022-12-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2007-06-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2006-12-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2006-06-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2005-12-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2005-06-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT

In [7]:
clean_pdata_dic['每股盈餘']

date_df_code = "TWN/EWIPRCD"
date_df = tejapi.get(date_df_code, chinese_column_name=True,paginate=True)
for_date_dict = TEJHandler().pdata_pipline(date_df, date_df_code)


releaserankpct = source_dict[release].rank(axis=1,pct=True)
filter = source_dict[column][releaserankpct < signal_delay]
filter.index = source_dict[release][releaserankpct < signal_delay].max(axis=1)
data_reindex = filter.reindex(for_date_dict['指數收盤價'].index, method = 'ffill')
factor_dict[column] = data_reindex

symbol,000930,000960,0009A0,1101,1102,1103,1104,1108,1109,1110,...,9945,9946,9949,9950,9951,9955,9957,9958,9960,9962
datetime,,,,,,,,,,,,,,,,,,,,,
2023-12-01,2.04,3.84,1.92,1.00,1.60,-0.32,2.72,0.56,2.60,-0.04,...,-4.40,0.92,-0.2,-0.60,5.84,-1.08,NaN,7.80,2.36,0.56
2023-09-01,2.96,5.04,3.28,0.68,3.28,0.72,5.68,1.88,1.36,0.40,...,8.40,-0.24,-0.8,1.92,6.08,-0.80,NaN,5.28,3.88,1.28
2023-06-01,2.88,4.44,2.28,1.80,5.04,0.00,2.48,1.48,2.40,0.48,...,6.08,0.32,-0.8,22.32,5.76,-0.08,-1.88,3.96,1.48,1.32
2023-03-01,NaN,NaN,NaN,0.20,0.81,0.03,0.42,0.31,0.42,0.06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-01,NaN,NaN,NaN,0.36,0.18,0.05,0.93,0.68,0.34,0.19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2007-06-01,NaN,NaN,NaN,1.17,2.01,0.36,0.14,0.15,0.32,0.16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-12-01,NaN,NaN,NaN,1.42,1.39,0.51,0.43,0.13,0.37,-0.16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-06-01,NaN,NaN,NaN,0.81,1.57,4.85,0.82,0.54,1.13,0.28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-12-01,NaN,NaN,NaN,0.72,1.39,0.93,0.39,0.29,0.45,0.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-06-01,NaN,NaN,NaN,1.25,1.43,-0.47,0.88,0.26,0.35,0.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
keys_list = list(pdata.keys())
keys_list

['季別',
 '合併(Y/N)',
 '單季(Q)/單半年(H)',
 '月份',
 '幣別',
 '財報發布日',
 '每股盈餘',
 'ROA(C) 稅前息前折舊前',
 'ROE(A)-稅後',
 '營業毛利率',
 '營業利益率',
 '稅後淨利率',
 'CFO/負債',
 'CFO/合併總損益',
 '現金流量比率',
 '每股淨值(F)-TSE公告數',
 '營收成長率',
 '營業毛利成長率',
 '營業利益成長率',
 '流動比率',
 '速動比率',
 '負債比率',
 '長期資金適合率(A)',
 '應收帳款週轉次數',
 '總資產週轉次數',
 '存貨週轉率(次)',
 '應收帳款及票據',
 '存貨',
 '流動資產',
 '採權益法之長期股權投資',
 '不動產廠房及設備',
 '商譽及無形資產合計',
 '非流動資產',
 '資產總額',
 '短期借款',
 '應付商業本票∕承兌匯票',
 '一年內到期長期負債',
 '流動負債',
 '應付公司債－非流動',
 '銀行借款－非流動',
 '其他長期借款－非流動',
 '非流動負債',
 '負債總額',
 '股本',
 '保留盈餘',
 '股東權益總額',
 '負債及股東權益總額',
 '營業收入淨額',
 '營業成本',
 '營業毛利',
 '營業費用',
 '營業利益',
 '營業外收入及支出',
 '所得稅費用',
 '合併總損益',
 '歸屬母公司淨利（損）',
 '折舊－CFO',
 '攤提－CFO',
 '來自營運之現金流量',
 '投資活動之現金流量',
 '籌資活動之現金流量']

In [14]:
pdata.keys().to_list()

AttributeError: 'dict_keys' object has no attribute 'to_list'

In [2]:
get_historical_returns = TWMarketMonitor().get_market_returns(review_month = 1)