In [1]:
import os
import sys
sys.path.append('..')
from data_center.tej_handler import TEJHandler
from monitor.tw_monitor import TWMarketMonitor

from pymongo import MongoClient
import tejapi

import pandas as pd
import numpy as np
from datetime import date
from dateutil.relativedelta import relativedelta
# TEJHandler()

In [2]:
pdata = TWMarketMonitor().get_data_from_mongo('PSTAGE', 'financial_report', limit = 10000)
pdata

KeyError: 'database'

In [ ]:
mongo = MongoClient(TWMarketMonitor().client_url)
db = mongo['PSTAGE']
collection = db['margin_trading']
df = pd.DataFrame(list(collection.find().sort('財務資料日', -1).limit(1000000)))
df

,_id,證券碼,財務資料日,季別,合併(Y/N),單季(Q)/單半年(H),月份,幣別,財報發布日,每股盈餘,...,營業利益,營業外收入及支出,所得稅費用,合併總損益,歸屬母公司淨利（損）,折舊－CFO,攤提－CFO,來自營運之現金流量,投資活動之現金流量,籌資活動之現金流量
0,660cd7f1673ad9148a129469,1101,2023-12-01,4,Y,Q,12,NTD,2024-02-28,0.25,...,3433504.0,383504.0,1317094.0,2499914,1801908,2082429.0,282945.0,13796962.0,-11346930.0,-5820763.0
1,660cd7f1673ad9148a1294f4,1103,2023-12-01,4,Y,Q,12,NTD,2024-02-29,-0.08,...,-20970.0,-46157.0,-15624.0,-51503,-54360,110085.0,671.0,84138.0,-214439.0,-2268.0
2,660cd7f1673ad9148a1297a7,1216,2023-12-01,4,Y,Q,12,NTD,2024-03-07,0.27,...,4521577.0,1969696.0,2915000.0,3576273,1562387,10352526.0,343745.0,16412096.0,-11161173.0,-6706368.0
3,660cd7f1673ad9148a129a15,1232,2023-12-01,4,Y,Q,12,NTD,2024-02-23,2.06,...,428744.0,-6644.0,80728.0,341372,329943,66624.0,206.0,342154.0,-99204.0,-86820.0
4,660cd7f1673ad9148a129b2a,1236,2023-12-01,4,Y,Q,12,NTD,2024-02-29,0.02,...,-7498.0,4784.0,-4950.0,2236,2236,37543.0,9789.0,65426.0,-60536.0,-22957.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106048,660cd7f1673ad9148a1431cd,8712,2005-06-01,2,N,H,6,NTD,2005-08-30,-2.70,...,-147867.0,-2581873.0,0.0,-2729740,-2729740,10228.0,3389.0,-31897.0,323676.0,-287406.0
106049,660cd7f1673ad9148a1431ce,8725,2005-06-01,2,N,H,6,NTD,2006-08-30,-3.65,...,-7160.0,-90791.0,0.0,-423249,-423249,158.0,0.0,18339.0,-1529.0,-37528.0
106050,660cd7f1673ad9148a1431d3,8913,2005-06-01,2,Y,H,6,NTD,2006-08-29,-0.03,...,-15436.0,28417.0,1944.0,11037,11037,60924.0,36.0,128306.0,133327.0,-271975.0
106051,660cd7f1673ad9148a143208,8925,2005-06-01,2,N,H,6,NTD,2006-08-29,0.19,...,41628.0,-14578.0,5930.0,21120,21120,21576.0,5024.0,-21634.0,-28630.0,-51783.0
106052,660cd7f1673ad9148a143230,8934,2005-06-01,2,Y,H,6,NTD,2006-08-31,-2.91,...,-40857.0,-8411.0,4540.0,-53808,-53808,19724.0,0.0,-31389.0,-27892.0,42856.0

In [ ]:
data_code = "TWN/EWIFINQ"
pdata = TWMarketMonitor().pdata_pipline(df, data_code)
pdata['每股盈餘']['2013':].sort_index(ascending=False)

symbol,1101,1102,1103,1104,1107,1108,1109,1110,1113,1201,...,9944,9945,9946,9949,9950,9951,9955,9958,9960,9962
datetime,,,,,,,,,,,,,,,,,,,,,
2023-12-01,0.25,NaN,-0.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.23,NaN,NaN,NaN,NaN,1.95,NaN,0.14
2023-09-01,0.17,0.82,0.18,1.42,NaN,0.47,0.34,0.10,NaN,0.12,...,-0.61,2.10,-0.06,-0.20,0.48,1.52,-0.20,1.32,0.97,0.32
2023-06-01,0.45,1.26,0.00,0.62,NaN,0.37,0.60,0.12,NaN,0.07,...,-0.60,1.52,0.08,-0.20,5.58,1.44,-0.02,0.99,0.37,0.33
2023-03-01,0.20,0.81,0.03,0.42,NaN,0.31,0.42,0.06,NaN,0.25,...,2.92,0.10,0.01,-0.23,0.15,1.35,-0.31,0.20,0.59,0.48
2022-12-01,0.36,0.18,0.05,0.93,NaN,0.68,0.34,0.19,NaN,-0.17,...,1.63,-1.66,0.13,0.14,-0.12,1.82,-0.27,-0.61,0.86,0.58
2022-09-01,0.22,1.33,0.41,0.63,NaN,0.33,0.63,0.12,NaN,0.28,...,-0.25,1.47,0.20,-0.24,0.10,1.78,-0.29,0.68,1.38,0.67
2022-06-01,-0.02,1.35,-0.62,0.51,NaN,0.29,-0.06,-0.10,NaN,0.18,...,0.21,2.87,0.05,-0.47,-0.91,0.74,-0.24,0.05,0.81,0.70
2022-03-01,0.20,0.76,-0.12,1.06,NaN,0.14,0.26,0.05,NaN,0.19,...,0.54,1.91,0.05,-0.22,-0.58,1.16,-0.15,1.47,0.57,0.41
2021-12-01,0.90,1.25,0.09,0.55,NaN,0.23,0.91,0.03,NaN,0.24,...,4.26,1.02,0.22,0.05,-0.74,1.18,-0.32,0.80,0.64,0.62
2021-09-01,0.59,1.04,1.37,0.30,NaN,0.09,0.31,0.14,NaN,0.40,...,-0.17,2.24,0.31,-0.20,-0.75,0.89,-0.37,1.67,0.93,0.44
2021-06-01,1.24,1.44,-0.25,0.46,NaN,0.20,0.47,0.05,NaN,0.20,...,0.24,2.56,0.13,-0.39,-2.13,1.52,-0.05,1.92,0.31,0.41
2021-03-01,0.57,1.02,-0.20,0.35,NaN,0.13,0.83,0.03,NaN,0.17,...,0.38,3.34,0.03,-0.22,-0.59,1.75,-0.21,1.08,0.66,0.07
2020-12-01,1.17,1.40,1.93,0.57,NaN,0.16,1.21,0.03,NaN,0.42,...,-0.12,0.25,-0.06,-0.02,-0.31,2.81,-0.37,0.69,0.42,0.13
2020-09-01,1.30,1.57,0.93,0.60,NaN,0.24,0.79,0.04,NaN,0.42,...,0.40,2.59,0.13,-0.16,-0.49,1.97,0.20,1.35,0.51,0.04
2020-06-01,1.39,1.49,0.22,0.66,NaN,0.33,0.66,0.02,NaN,0.16,...,0.07,1.52,0.07,-0.14,-0.90,0.93,-0.55,1.03,0.25,-0.01
2020-03-01,0.55,0.24,-0.33,0.07,NaN,0.23,0.27,-0.05,NaN,0.05,...,0.34,3.05,0.48,-0.33,-0.61,0.97,-0.47,0.55,0.23,-0.15
2019-12-01,1.19,1.27,-0.29,0.67,NaN,0.12,0.94,-0.01,NaN,0.12,...,-0.47,-1.31,1.04,0.06,-0.34,2.17,-0.24,0.63,0.18,0.13
2019-09-01,1.20,1.38,1.18,0.37,NaN,0.04,0.83,0.02,NaN,0.25,...,-0.30,4.46,1.19,-0.23,-0.35,1.65,0.07,2.92,0.15,0.02
2019-06-01,1.41,1.97,0.94,0.46,NaN,0.04,0.67,-0.01,NaN,0.10,...,0.10,3.98,1.39,-0.15,-0.22,1.77,0.21,0.04,0.27,0.12
2019-03-01,0.77,0.93,0.20,0.24,NaN,-0.07,0.37,0.05,NaN,2.21,...,0.21,2.22,1.88,-0.15,-0.56,1.94,0.05,0.07,0.22,-0.14
2018-12-01,1.08,0.58,-0.28,0.46,NaN,-0.32,0.96,-0.04,NaN,-0.08,...,-0.16,0.37,0.73,-0.01,-0.95,2.48,-0.18,-0.01,0.32,0.10
2018-09-01,1.20,0.98,0.75,0.53,NaN,-0.10,0.72,0.06,NaN,1.89,...,-0.30,2.37,0.24,-0.21,-0.90,1.42,-1.71,0.05,0.17,0.39
2018-06-01,1.51,1.38,0.38,0.63,NaN,0.00,0.35,0.07,NaN,-0.11,...,0.37,2.29,0.08,-0.17,-1.00,1.28,-0.29,-0.02,0.43,0.32
2018-03-01,0.69,0.60,0.24,0.01,NaN,-0.01,0.34,0.03,NaN,0.23,...,0.10,1.63,0.21,-0.15,-0.12,2.52,-0.44,-0.11,0.12,0.23
2017-12-01,0.71,0.54,1.46,0.59,NaN,-0.30,0.60,0.09,NaN,1.14,...,-0.07,4.11,0.97,0.06,-1.24,2.40,-0.28,0.10,0.18,0.23
2017-09-01,0.53,0.61,0.09,0.53,NaN,-0.02,0.30,0.03,NaN,0.07,...,0.04,1.87,0.19,-0.18,-0.77,2.08,0.09,0.13,0.22,0.08
2017-06-01,0.58,0.51,0.02,0.60,NaN,0.02,0.33,-0.06,NaN,0.01,...,0.36,0.79,0.01,-0.16,-0.35,2.25,-0.39,0.02,0.22,-0.10
2017-03-01,0.23,0.08,-0.17,0.45,NaN,0.05,0.09,0.04,NaN,0.09,...,0.11,0.33,0.35,-0.18,-0.45,2.10,-0.26,0.07,0.18,0.46
2016-12-01,0.49,0.51,0.22,0.77,0.23,0.10,0.20,-0.03,NaN,-0.65,...,-0.12,2.12,0.38,0.00,0.25,2.98,-1.17,0.10,-0.78,0.34
2016-09-01,0.63,0.30,0.21,0.56,NaN,0.20,0.08,-0.02,NaN,-0.03,...,0.02,1.67,0.12,-0.28,-0.04,2.11,-0.19,-0.06,0.09,0.08
2016-06-01,0.54,0.38,-0.10,0.81,-1.18,0.23,0.17,0.03,NaN,-0.64,...,0.41,0.40,0.36,-0.14,0.19,2.37,0.24,0.29,0.04,0.21
2016-03-01,0.06,0.06,-0.29,0.55,NaN,0.26,-0.03,0.21,NaN,-0.21,...,0.36,1.71,0.67,-0.14,0.05,2.46,-0.10,0.07,0.00,0.11
2015-12-01,0.48,0.14,0.97,0.76,-1.04,0.16,0.13,0.04,NaN,-1.44,...,-0.31,1.11,1.15,-0.19,0.04,2.47,-0.74,0.47,0.19,-0.12
2015-09-01,0.26,0.02,-0.50,0.48,NaN,0.23,-0.08,0.11,NaN,-1.15,...,0.16,2.72,1.52,-0.46,0.49,2.65,-0.23,0.48,-0.07,-0.23
2015-06-01,0.61,0.94,0.17,0.56,-0.28,0.39,-0.03,0.04,NaN,-0.61,...,0.37,1.34,0.17,-0.38,0.17,2.32,-0.35,0.04,0.20,0.02
2015-03-01,0.22,0.47,-0.29,0.43,NaN,0.39,0.02,0.06,NaN,-0.58,...,0.40,1.38,0.10,-0.25,0.25,1.34,0.08,0.02,0.09,-0.40
2014-12-01,0.70,0.69,-0.21,0.56,-0.24,0.18,0.13,-0.05,NaN,-1.24,...,0.13,1.32,0.41,0.23,0.22,2.45,0.19,0.06,0.20,-0.62
2014-09-01,0.87,0.64,0.24,0.58,NaN,0.20,0.08,0.11,NaN,-0.10,...,0.18,2.36,-0.08,-0.22,0.59,1.15,0.05,-0.05,0.20,0.42
2014-06-01,0.87,1.21,0.06,0.73,-0.92,0.37,0.26,0.06,NaN,0.34,...,0.36,1.23,-0.35,-0.08,0.66,1.81,0.01,0.13,0.22,0.24
2014-03-01,0.50,0.47,-0.06,0.40,NaN,0.18,0.20,0.12,NaN,0.50,...,0.46,0.79,0.23,0.10,0.31,2.39,0.12,0.22,0.00,0.15
2013-12-01,0.66,1.38,1.60,0.59,-0.55,0.02,0.35,-0.07,NaN,0.08,...,0.01,25.52,0.68,0.35,0.15,2.11,-0.63,-0.01,0.32,0.10
2013-09-01,0.97,0.53,0.29,0.39,NaN,0.14,0.05,0.19,NaN,0.56,...,0.11,1.34,2.58,-0.11,0.08,1.85,0.84,0.37,0.29,0.23
2013-06-01,0.70,1.09,-0.05,0.56,-0.52,0.11,0.16,0.03,NaN,0.51,...,0.49,1.42,1.46,-0.02,0.49,1.69,-0.89,0.41,0.41,-0.07
2013-03-01,0.38,0.40,0.13,0.30,NaN,0.17,0.09,0.11,NaN,0.58,...,0.44,0.85,1.99,0.05,0.53,1.38,0.06,0.53,0.15,0.51

In [ ]:
pdata['財報發布日']['2013':].sort_index(ascending=False)

symbol,1101,1102,1103,1104,1107,1108,1109,1110,1113,1201,...,9944,9945,9946,9949,9950,9951,9955,9958,9960,9962
datetime,,,,,,,,,,,,,,,,,,,,,
2023-12-01,2024-02-28,NaT,2024-02-29,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,2024-02-23,NaT,NaT,NaT,NaT,2024-03-08,NaT,2024-03-12
2023-09-01,2023-11-10,2023-11-13,2023-11-10,2023-11-13,NaT,2023-11-13,2023-11-09,2023-11-10,NaT,2023-11-08,...,2023-11-13,2023-11-13,2023-11-13,2023-11-09,2023-11-14,2023-11-06,2023-11-09,2023-11-13,2023-11-10,2023-11-13
2023-06-01,2023-08-10,2023-08-11,2023-08-11,2023-08-11,NaT,2023-08-14,2023-08-10,2023-08-11,NaT,2023-08-04,...,2023-08-11,2023-08-11,2023-08-14,2023-08-09,2023-08-14,2023-08-08,2023-08-09,2023-08-11,2023-08-10,2023-08-09
2023-03-01,2023-05-11,2023-05-12,2023-05-11,2023-05-15,NaT,2023-05-12,2023-05-12,2023-05-11,NaT,2023-05-11,...,2023-05-12,2023-05-12,2023-05-11,2023-05-12,2023-05-15,2023-05-09,2023-05-15,2023-05-15,2023-05-11,2023-05-05
2022-12-01,2023-02-24,2023-03-16,2023-03-14,2023-03-17,NaT,2023-03-31,2023-03-14,2023-03-16,NaT,2023-03-15,...,2023-03-30,2023-03-14,2023-02-24,2023-03-30,2023-03-29,2023-03-23,2023-03-23,2023-03-31,2023-03-29,2023-03-23
2022-09-01,2022-11-10,2022-11-11,2022-11-08,2022-11-14,NaT,2022-11-10,2022-11-11,2022-11-11,NaT,2022-11-04,...,2022-11-11,2022-11-11,2022-11-09,2022-11-11,2022-11-12,2022-11-08,2022-11-10,2022-11-11,2022-11-11,2022-11-10
2022-06-01,2022-08-12,2022-08-12,2022-08-11,2022-08-12,NaT,2022-08-12,2022-08-11,2022-08-11,NaT,2022-08-05,...,2022-08-12,2022-08-12,2022-08-04,2022-08-10,2022-08-12,2022-08-09,2022-08-02,2022-08-15,2022-08-10,2022-08-10
2022-03-01,2022-05-10,2022-05-12,2022-05-06,2022-05-13,NaT,2022-05-13,2022-05-12,2022-05-12,NaT,2022-05-06,...,2022-05-13,2022-05-13,2022-05-09,2022-05-11,2022-05-13,2022-05-09,2022-05-04,2022-05-13,2022-05-12,2022-05-10
2021-12-01,2022-02-25,2022-03-31,2022-03-22,2022-03-30,NaT,2022-03-31,2022-03-30,2022-03-18,NaT,2022-03-23,...,2022-03-30,2022-03-15,2022-03-30,2022-03-25,2022-03-30,2022-03-24,2022-03-29,2022-03-31,2022-03-29,2022-03-16
2021-09-01,2021-11-11,2021-11-15,2021-11-12,2021-11-15,NaT,2021-11-15,2021-11-11,2021-11-12,NaT,2021-11-11,...,2021-11-11,2021-11-12,2021-11-11,2021-11-12,2021-11-12,2021-11-09,2021-11-10,2021-11-12,2021-11-10,2021-11-11
2021-06-01,2021-08-12,2021-08-11,2021-08-13,2021-08-13,NaT,2021-08-13,2021-08-12,2021-08-12,NaT,2021-08-11,...,2021-08-12,2021-08-12,2021-08-12,2021-08-12,2021-08-13,2021-08-09,2021-08-13,2021-08-16,2021-08-12,2021-08-12
2021-03-01,2021-05-12,2021-05-14,2021-05-12,2021-05-14,NaT,2021-05-14,2021-05-13,2021-05-13,NaT,2021-05-14,...,2021-05-14,2021-05-13,2021-05-13,2021-05-13,2021-05-14,2021-05-11,2021-05-17,2021-05-14,2021-05-14,2021-05-07
2020-12-01,2021-03-19,2021-03-31,2021-03-29,2021-03-29,NaT,2021-03-30,2021-03-30,2021-03-24,NaT,2021-03-31,...,2021-03-30,2021-03-26,2021-03-16,2021-03-29,2021-03-29,2021-03-25,2021-03-31,2021-03-03,2021-03-30,2021-03-24
2020-09-01,2020-11-10,2020-11-13,2020-11-13,2020-11-13,NaT,2020-11-13,2020-11-12,2020-11-11,NaT,2020-11-10,...,2020-11-12,2020-11-12,2020-11-12,2020-11-12,2020-11-13,2020-11-10,2020-11-16,2020-11-12,2020-11-10,2020-11-06
2020-06-01,2020-08-11,2020-08-14,2020-08-14,2020-08-11,NaT,2020-08-14,2020-08-14,2020-08-12,NaT,2020-08-12,...,2020-08-13,2020-08-13,2020-08-12,2020-08-13,2020-08-12,2020-08-10,2020-08-13,2020-08-12,2020-08-12,2020-08-10
2020-03-01,2020-05-12,2020-05-15,2020-05-14,2020-05-12,NaT,2020-05-15,2020-05-14,2020-05-12,NaT,2020-05-14,...,2020-05-14,2020-05-14,2020-05-13,2020-05-14,2020-05-14,2020-05-12,2020-05-13,2020-05-13,2020-05-14,2020-05-13
2019-12-01,2020-03-20,2020-03-31,2020-03-31,2020-03-26,NaT,2020-03-31,2020-03-31,2020-03-24,NaT,2020-03-31,...,2020-03-30,2020-03-30,2020-03-31,2020-03-30,2020-03-26,2020-03-24,2020-03-30,2020-03-25,2020-03-27,2020-03-26
2019-09-01,2019-11-12,2019-11-14,2019-11-14,2019-11-08,NaT,2019-11-14,2019-11-13,2019-11-12,NaT,2019-11-12,...,2019-11-13,2019-11-13,2019-11-06,2019-11-13,2019-11-13,2019-11-08,2019-11-11,2019-11-13,2019-11-13,2019-11-13
2019-06-01,2019-08-13,2019-08-14,2019-08-14,2019-08-14,NaT,2019-08-14,2019-08-14,2019-08-13,NaT,2019-08-14,...,2019-08-13,2019-08-13,2019-08-05,2019-08-14,2019-08-13,2019-08-12,2019-08-13,2019-08-13,2019-08-09,2019-08-09
2019-03-01,2019-05-10,2019-05-15,2019-05-14,2019-05-14,NaT,2019-05-14,2019-05-15,2019-05-13,NaT,2019-05-14,...,2019-05-14,2019-05-14,2019-05-15,2019-05-14,2019-05-15,2019-05-13,2019-05-15,2019-05-14,2019-05-14,2020-05-13
2018-12-01,2019-03-23,2019-03-29,2019-03-29,2019-03-28,NaT,2019-03-28,2019-03-29,2019-03-29,NaT,2019-03-28,...,2019-03-28,2019-03-28,2019-03-29,2019-03-29,2019-03-27,2019-03-19,2019-03-28,2019-03-29,2019-03-27,2019-08-09
2018-09-01,2018-11-13,2018-11-14,2018-11-14,2018-11-12,NaT,2018-11-14,2018-11-14,2018-11-09,NaT,2018-11-13,...,2018-11-13,2018-11-14,2018-11-09,2018-11-14,2018-11-13,2018-11-09,2018-11-13,2018-11-14,2018-11-12,2019-11-13
2018-06-01,2018-08-10,2018-08-14,2018-08-13,2018-08-14,NaT,2018-08-14,2018-08-14,2018-08-10,NaT,2018-08-14,...,2018-08-13,2018-08-13,2018-08-10,2018-08-13,2018-08-13,2018-08-10,2018-08-10,2018-08-13,2018-08-10,2019-08-09
2018-03-01,2018-05-15,2018-05-15,2018-05-14,2018-05-14,NaT,2018-05-15,2018-05-14,2018-05-11,NaT,2018-05-14,...,2018-05-14,2018-05-11,2018-05-15,2018-05-14,2018-05-11,2018-05-09,2018-05-14,2018-05-14,2018-05-14,2018-05-11
2017-12-01,2018-03-30,2018-03-30,2018-03-30,2018-03-30,NaT,2018-03-30,2018-03-30,2018-03-29,NaT,2018-03-28,...,2018-03-29,2018-03-26,2018-02-23,2018-03-29,2018-03-28,2018-03-16,2018-03-31,2018-03-30,2018-03-29,2018-03-16
2017-09-01,2017-11-10,2017-11-14,2017-11-13,2017-11-10,NaT,2017-11-13,2017-11-14,2017-11-10,NaT,2017-11-14,...,2017-11-13,2017-11-13,2017-11-08,2017-11-10,2017-11-13,2017-11-10,2017-11-09,2017-11-13,2017-11-10,2017-11-10
2017-06-01,2017-08-11,2017-08-14,2017-08-14,2017-08-14,NaT,2017-08-14,2017-08-14,2017-08-11,NaT,2017-08-14,...,2017-08-11,2017-08-11,2017-08-07,2017-08-14,2017-08-11,2017-08-10,2017-08-11,2017-08-14,2017-08-11,2017-08-10
2017-03-01,2017-05-15,2017-05-15,2017-05-15,2017-05-15,NaT,2017-05-15,2017-05-15,2017-05-12,NaT,2017-05-15,...,2017-05-12,2017-05-12,2017-05-05,2017-05-12,2017-05-12,2017-05-10,2017-05-10,2017-05-12,2017-05-11,2017-05-11
2016-12-01,2017-03-29,2017-03-29,2017-03-31,2017-03-30,2017-04-30,2017-03-28,2017-03-30,2017-03-30,NaT,2017-03-31,...,2017-03-29,2017-03-24,2017-02-22,2017-03-30,2017-03-28,2017-03-17,2017-03-30,2017-03-27,2017-03-21,2017-03-24
2016-09-01,2016-11-11,2016-11-14,2016-11-14,2016-11-14,NaT,2016-11-11,2016-11-14,2016-11-11,NaT,2016-11-14,...,2016-11-11,2016-11-14,2016-11-09,2016-11-14,2016-11-11,2016-11-11,2016-11-14,2016-11-14,2016-11-08,2016-11-10
2016-06-01,2016-08-12,2016-08-15,2016-08-12,2016-08-12,2016-10-24,2016-08-15,2016-08-11,2016-08-12,NaT,2016-08-15,...,2016-08-12,2016-08-12,2016-08-10,2016-08-12,2016-08-12,2016-08-05,2016-08-15,2016-08-11,2016-08-11,2016-08-11
2016-03-01,2016-05-13,2016-05-13,2016-05-13,2016-05-13,NaT,2016-05-13,2016-05-13,2016-05-12,NaT,2016-05-16,...,2016-05-13,2016-05-13,2016-05-16,2016-05-13,2016-05-12,2016-05-06,2016-05-13,2016-05-13,2016-05-12,2016-05-10
2015-12-01,2016-03-31,2016-03-31,2016-03-30,2016-03-31,2016-03-29,2016-03-30,2016-03-31,2016-03-30,NaT,2016-03-31,...,2016-03-30,2016-03-28,2016-03-29,2016-03-30,2016-03-28,2016-03-21,2016-03-30,2016-03-29,2016-03-29,2016-03-29
2015-09-01,2015-11-13,2015-11-13,2015-11-12,2015-11-13,NaT,2015-11-12,2015-11-13,2015-11-12,NaT,2015-11-16,...,2015-11-13,2015-11-13,2015-11-13,2015-11-11,2015-11-12,2015-11-09,2015-11-11,2015-11-16,2015-11-12,2015-11-11
2015-06-01,2015-08-14,2015-08-14,2015-08-13,2015-08-14,2015-08-14,2015-08-13,2015-08-14,2015-08-13,NaT,2015-08-14,...,2015-08-13,2015-08-13,2015-08-12,2015-08-14,2015-08-13,2015-08-10,2015-08-12,2015-08-13,2015-08-10,2015-08-12
2015-03-01,2015-05-15,2015-05-15,2015-05-13,2015-05-14,NaT,2015-05-14,2015-05-15,2015-05-14,NaT,2015-05-15,...,2015-05-14,2015-05-15,2015-04-29,2015-05-15,2015-05-13,2015-05-08,2015-05-13,2015-05-14,2015-05-13,2015-05-12
2014-12-01,2015-03-31,2015-03-31,2015-03-30,2015-03-31,2015-08-14,2015-03-30,2015-03-30,2015-03-27,NaT,2015-03-31,...,2015-03-30,2015-03-26,2015-02-25,2015-03-31,2015-03-27,2015-03-18,2015-03-20,2015-03-26,2015-03-30,2015-03-25
2014-09-01,2014-11-14,2014-11-14,2014-11-13,2014-11-14,NaT,2014-11-13,2014-11-14,2014-11-13,NaT,2014-11-14,...,2014-11-13,2014-11-14,2014-10-28,2014-11-13,2014-11-13,2014-11-10,2014-11-11,2014-11-12,2014-11-11,2014-11-06
2014-06-01,2014-08-14,2014-08-14,2014-08-13,2014-08-14,2015-08-14,2014-08-13,2014-08-14,2014-08-13,NaT,2014-08-14,...,2014-08-14,2014-08-14,2014-08-12,2014-08-14,2014-08-13,2014-08-11,2014-08-12,2014-08-13,2014-08-12,2014-08-12
2014-03-01,2014-05-15,2014-05-15,2014-05-13,2014-05-15,NaT,2014-05-14,2014-05-15,2014-05-14,NaT,2014-05-15,...,2014-05-15,2014-05-15,2014-05-13,2014-05-14,2014-05-13,2014-05-12,2014-05-13,2014-05-13,2014-05-14,2014-05-13
2013-12-01,2014-03-31,2014-03-31,2014-03-31,2014-03-31,2014-04-21,2014-03-28,2014-03-31,2014-03-28,NaT,2014-03-31,...,2014-03-28,2014-03-28,2014-03-25,2014-03-28,2014-03-28,2014-03-19,2014-03-27,2014-03-25,2014-03-28,2014-03-27
2013-09-01,2013-11-14,2013-11-14,2013-11-13,2013-11-13,NaT,2013-11-12,2013-11-14,2013-11-13,NaT,2013-11-14,...,2013-11-14,2013-11-14,2013-11-12,2013-11-13,2013-11-13,2013-11-11,2013-11-08,2013-11-11,2013-11-12,2013-11-11
2013-06-01,2013-08-14,2013-08-14,2013-08-14,2013-08-14,2013-08-30,2013-08-13,2013-08-14,2013-08-13,NaT,2013-08-14,...,2013-08-13,2013-08-14,2013-08-09,2013-08-14,2013-08-14,2013-08-12,2013-08-12,2013-08-13,2013-08-13,2013-08-13
2013-03-01,2013-05-15,2013-05-15,2013-05-14,2013-05-14,NaT,2013-05-15,2013-05-15,2013-05-14,NaT,2013-05-15,...,2013-05-15,2013-05-15,2013-05-13,2013-05-15,2013-05-15,2013-05-13,2013-05-14,2013-05-14,2013-05-14,2013-05-14

In [ ]:
pdata.keys().to_list()

AttributeError: 'dict_keys' object has no attribute 'to_list'

In [ ]:
get_historical_returns = TWMarketMonitor().get_market_returns(review_month = 1)