In [9]:
import os
import sys
sys.path.append('..')
from data_center.tej_handler import TEJHandler
from monitor.tw_monitor import TWMarketMonitor

from pymongo import MongoClient
import tejapi
TEJHandler() # init handler inf

import pandas as pd
import numpy as np
from datetime import date
from dateutil.relativedelta import relativedelta

### 目前月營收、財報時間資料都有誤

In [3]:
mongo = MongoClient(TWMarketMonitor().client_url)
db = mongo['PSTAGE']
collection = db['financial_report']
df = pd.DataFrame(list(collection.find().limit(1000000)))
df

,_id,證券碼,財務資料日,季別,合併(Y/N),單季(Q)/單半年(H),月份,幣別,財報發布日,每股盈餘,...,營業利益,營業外收入及支出,所得稅費用,合併總損益,歸屬母公司淨利（損）,折舊－CFO,攤提－CFO,來自營運之現金流量,投資活動之現金流量,籌資活動之現金流量
0,6604db8aec0eccbba86526d3,000930,2023-09-01,3,Y,Q,09,NTD,2023-11-08,2.96,...,486556.0,NaN,93292.0,485949.0,485918.0,45219.0,21516.0,-1503432.0,-11518.0,1487687.0
1,6604db8aec0eccbba86526d4,000930,2023-06-01,2,Y,Q,06,NTD,2023-08-24,2.88,...,416753.0,NaN,62722.0,468606.0,468556.0,44147.0,20854.0,-2261335.0,-99593.0,2417283.0
2,6604db8aec0eccbba86526d5,000930,2023-12-01,4,Y,Q,12,NTD,2024-03-11,2.04,...,318776.0,NaN,74438.0,331687.0,331659.0,47824.0,22265.0,-728861.0,-49821.0,651527.0
3,6604db8aec0eccbba86526d6,000960,2023-09-01,3,Y,Q,09,NTD,2023-11-10,5.04,...,1332119.0,NaN,262029.0,2049953.0,2049912.0,112968.0,48656.0,12487278.0,-1600.0,-3178118.0
4,6604db8aec0eccbba86526d7,000960,2023-06-01,2,Y,Q,06,NTD,2023-08-30,4.44,...,1059947.0,NaN,103262.0,1905014.0,1810791.0,161089.0,62184.0,-9679364.0,-14242387.0,18789172.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108160,660c9d2660b8c294fc69df77,4575,2023-12-01,4,Y,H,12,NTD,2024-04-02,4.00,...,25043.0,23950.0,10428.0,38565.0,38565.0,22422.0,2351.0,187998.0,-6276.0,-75043.0
108161,660c9d2760b8c294fc69df7a,6498,2023-12-01,4,Y,H,12,NTD,2024-04-02,16.68,...,207200.0,6851.0,43651.0,170400.0,170400.0,34692.0,20.0,177552.0,-36074.0,-113613.0
108162,660c9d2760b8c294fc69df7b,6717,2023-12-01,4,N,H,12,NTD,2024-04-02,2.64,...,11503.0,8484.0,3565.0,16422.0,16422.0,10118.0,660.0,32461.0,-49517.0,18807.0
108163,660c9d2760b8c294fc69df89,6744,2023-12-01,4,N,H,12,NTD,2024-04-02,2.48,...,8910.0,1741.0,1163.0,9488.0,9488.0,3869.0,28.0,12295.0,-17894.0,-22087.0
108164,660c9d2760b8c294fc69df8b,6963,2023-12-01,4,Y,H,12,NTD,2024-04-02,1.24,...,6726.0,-1435.0,1525.0,3766.0,3766.0,20788.0,460.0,48368.0,25969.0,-101082.0

In [7]:
data_code = "TWN/EWIFINQ"
df_ = df.drop(columns='_id')
pdata = TWMarketMonitor().pdata_pipline(df_, data_code)
pdata['財報發布日']['2013':].sort_index(ascending=False)

symbol,000930,000960,0009A0,1101,1102,1103,1104,1107,1108,1109,...,9945,9946,9949,9950,9951,9955,9957,9958,9960,9962
datetime,,,,,,,,,,,,,,,,,,,,,
2023-12-01,2024-03-11,2024-03-15,2024-03-14,2024-02-28,2024-03-15,2024-02-29,2024-03-15,NaT,2024-03-27,2024-03-13,...,2024-03-13,2024-02-23,2024-03-25,2024-03-15,2024-03-13,2024-03-14,NaT,2024-03-08,2024-03-14,2024-03-12
2023-09-01,2023-11-08,2023-11-10,2023-11-13,2023-11-10,2023-11-13,2023-11-10,2023-11-13,NaT,2023-11-13,2023-11-09,...,2023-11-13,2023-11-13,2023-11-09,2023-11-14,2023-11-06,2023-11-09,NaT,2023-11-13,2023-11-10,2023-11-13
2023-06-01,2023-08-24,2023-08-30,2023-08-30,2023-08-10,2023-08-11,2023-08-11,2023-08-11,NaT,2023-08-14,2023-08-10,...,2023-08-11,2023-08-14,2023-08-09,2023-08-14,2023-08-08,2023-08-09,2023-08-14,2023-08-11,2023-08-10,2023-08-09
2023-03-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2022-12-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2022-09-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2022-06-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2022-03-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2021-12-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2021-09-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2021-06-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2021-03-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2020-12-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2020-09-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2020-06-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2020-03-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2019-12-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2019-09-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2019-06-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2019-03-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2018-12-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2018-09-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2018-06-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2018-03-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2017-12-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2017-09-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2017-06-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2017-03-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2016-12-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2016-09-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2016-06-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2016-03-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2015-12-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2015-09-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2015-06-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2015-03-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2014-12-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2014-09-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2014-06-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2014-03-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2013-12-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2013-09-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2013-06-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2013-03-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT

In [8]:
pdata['財報發布日'].sort_index(ascending=False)

symbol,000930,000960,0009A0,1101,1102,1103,1104,1107,1108,1109,...,9945,9946,9949,9950,9951,9955,9957,9958,9960,9962
datetime,,,,,,,,,,,,,,,,,,,,,
2023-12-01,2024-03-11,2024-03-15,2024-03-14,2024-02-28,2024-03-15,2024-02-29,2024-03-15,NaT,2024-03-27,2024-03-13,...,2024-03-13,2024-02-23,2024-03-25,2024-03-15,2024-03-13,2024-03-14,NaT,2024-03-08,2024-03-14,2024-03-12
2023-09-01,2023-11-08,2023-11-10,2023-11-13,2023-11-10,2023-11-13,2023-11-10,2023-11-13,NaT,2023-11-13,2023-11-09,...,2023-11-13,2023-11-13,2023-11-09,2023-11-14,2023-11-06,2023-11-09,NaT,2023-11-13,2023-11-10,2023-11-13
2023-06-01,2023-08-24,2023-08-30,2023-08-30,2023-08-10,2023-08-11,2023-08-11,2023-08-11,NaT,2023-08-14,2023-08-10,...,2023-08-11,2023-08-14,2023-08-09,2023-08-14,2023-08-08,2023-08-09,2023-08-14,2023-08-11,2023-08-10,2023-08-09
2023-03-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2022-12-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2007-06-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2006-12-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2006-06-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2005-12-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2005-06-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT

In [46]:
pdata['每股盈餘'].sort_index(ascending=False)#.dropna()

symbol,000930,000960,0009A0,1101,1102,1103,1104,1108,1109,1110,...,9945,9946,9949,9950,9951,9955,9957,9958,9960,9962
datetime,,,,,,,,,,,,,,,,,,,,,
2023-12-01,2.04,3.84,1.92,1.00,1.60,-0.32,2.72,0.56,2.60,-0.04,...,-4.40,0.92,-0.2,-0.60,5.84,-1.08,NaN,7.80,2.36,0.56
2023-09-01,2.96,5.04,3.28,0.68,3.28,0.72,5.68,1.88,1.36,0.40,...,8.40,-0.24,-0.8,1.92,6.08,-0.80,NaN,5.28,3.88,1.28
2023-06-01,2.88,4.44,2.28,1.80,5.04,0.00,2.48,1.48,2.40,0.48,...,6.08,0.32,-0.8,22.32,5.76,-0.08,-1.88,3.96,1.48,1.32
2023-03-01,NaN,NaN,NaN,0.20,0.81,0.03,0.42,0.31,0.42,0.06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-01,NaN,NaN,NaN,0.36,0.18,0.05,0.93,0.68,0.34,0.19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2007-06-01,NaN,NaN,NaN,1.17,2.01,0.36,0.14,0.15,0.32,0.16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-12-01,NaN,NaN,NaN,1.42,1.39,0.51,0.43,0.13,0.37,-0.16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-06-01,NaN,NaN,NaN,0.81,1.57,4.85,0.82,0.54,1.13,0.28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-12-01,NaN,NaN,NaN,0.72,1.39,0.93,0.39,0.29,0.45,0.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-06-01,NaN,NaN,NaN,1.25,1.43,-0.47,0.88,0.26,0.35,0.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
data_code = "TWN/EWIFINQ"
df_ = df.drop(columns='_id')
pdata = TWMarketMonitor().pdata_pipline(df_, data_code)

clean_pdata_dic = {}
for key in list(pdata.keys()):
    sorted_data = pdata[key].sort_index(ascending=False)
    clean_df = sorted_data.dropna(axis = 1, how = 'all')
    clean_pdata_dic[key] = clean_df
pmart = TWMarketMonitor().pmart_pipline(clean_pdata_dic, data_code, 90)
pmart

ValueError: cannot reindex on an axis with duplicate labels

In [8]:
clean_pdata_dic["財報發布日"]

symbol,000930,000960,0009A0,1101,1102,1103,1104,1108,1109,1110,...,9945,9946,9949,9950,9951,9955,9957,9958,9960,9962
datetime,,,,,,,,,,,,,,,,,,,,,
2023-12-01,2024-03-11,2024-03-15,2024-03-14,2024-02-28,2024-03-15,2024-02-29,2024-03-15,2024-03-27,2024-03-13,2024-03-15,...,2024-03-13,2024-02-23,2024-03-25,2024-03-15,2024-03-13,2024-03-14,NaT,2024-03-08,2024-03-14,2024-03-12
2023-09-01,2023-11-08,2023-11-10,2023-11-13,2023-11-10,2023-11-13,2023-11-10,2023-11-13,2023-11-13,2023-11-09,2023-11-10,...,2023-11-13,2023-11-13,2023-11-09,2023-11-14,2023-11-06,2023-11-09,NaT,2023-11-13,2023-11-10,2023-11-13
2023-06-01,2023-08-24,2023-08-30,2023-08-30,2023-08-10,2023-08-11,2023-08-11,2023-08-11,2023-08-14,2023-08-10,2023-08-11,...,2023-08-11,2023-08-14,2023-08-09,2023-08-14,2023-08-08,2023-08-09,2023-08-14,2023-08-11,2023-08-10,2023-08-09
2023-03-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2022-12-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2007-06-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2006-12-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2006-06-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2005-12-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2005-06-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT

In [7]:
clean_pdata_dic['每股盈餘']

date_df_code = "TWN/EWIPRCD"
date_df = tejapi.get(date_df_code, chinese_column_name=True,paginate=True)
for_date_dict = TEJHandler().pdata_pipline(date_df, date_df_code)


releaserankpct = source_dict[release].rank(axis=1,pct=True)
filter = source_dict[column][releaserankpct < signal_delay]
filter.index = source_dict[release][releaserankpct < signal_delay].max(axis=1)
data_reindex = filter.reindex(for_date_dict['指數收盤價'].index, method = 'ffill')
factor_dict[column] = data_reindex

symbol,000930,000960,0009A0,1101,1102,1103,1104,1108,1109,1110,...,9945,9946,9949,9950,9951,9955,9957,9958,9960,9962
datetime,,,,,,,,,,,,,,,,,,,,,
2023-12-01,2.04,3.84,1.92,1.00,1.60,-0.32,2.72,0.56,2.60,-0.04,...,-4.40,0.92,-0.2,-0.60,5.84,-1.08,NaN,7.80,2.36,0.56
2023-09-01,2.96,5.04,3.28,0.68,3.28,0.72,5.68,1.88,1.36,0.40,...,8.40,-0.24,-0.8,1.92,6.08,-0.80,NaN,5.28,3.88,1.28
2023-06-01,2.88,4.44,2.28,1.80,5.04,0.00,2.48,1.48,2.40,0.48,...,6.08,0.32,-0.8,22.32,5.76,-0.08,-1.88,3.96,1.48,1.32
2023-03-01,NaN,NaN,NaN,0.20,0.81,0.03,0.42,0.31,0.42,0.06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-01,NaN,NaN,NaN,0.36,0.18,0.05,0.93,0.68,0.34,0.19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2007-06-01,NaN,NaN,NaN,1.17,2.01,0.36,0.14,0.15,0.32,0.16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-12-01,NaN,NaN,NaN,1.42,1.39,0.51,0.43,0.13,0.37,-0.16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-06-01,NaN,NaN,NaN,0.81,1.57,4.85,0.82,0.54,1.13,0.28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-12-01,NaN,NaN,NaN,0.72,1.39,0.93,0.39,0.29,0.45,0.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-06-01,NaN,NaN,NaN,1.25,1.43,-0.47,0.88,0.26,0.35,0.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
keys_list = list(pdata.keys())
keys_list

['季別',
 '合併(Y/N)',
 '單季(Q)/單半年(H)',
 '月份',
 '幣別',
 '財報發布日',
 '每股盈餘',
 'ROA(C) 稅前息前折舊前',
 'ROE(A)-稅後',
 '營業毛利率',
 '營業利益率',
 '稅後淨利率',
 'CFO/負債',
 'CFO/合併總損益',
 '現金流量比率',
 '每股淨值(F)-TSE公告數',
 '營收成長率',
 '營業毛利成長率',
 '營業利益成長率',
 '流動比率',
 '速動比率',
 '負債比率',
 '長期資金適合率(A)',
 '應收帳款週轉次數',
 '總資產週轉次數',
 '存貨週轉率(次)',
 '應收帳款及票據',
 '存貨',
 '流動資產',
 '採權益法之長期股權投資',
 '不動產廠房及設備',
 '商譽及無形資產合計',
 '非流動資產',
 '資產總額',
 '短期借款',
 '應付商業本票∕承兌匯票',
 '一年內到期長期負債',
 '流動負債',
 '應付公司債－非流動',
 '銀行借款－非流動',
 '其他長期借款－非流動',
 '非流動負債',
 '負債總額',
 '股本',
 '保留盈餘',
 '股東權益總額',
 '負債及股東權益總額',
 '營業收入淨額',
 '營業成本',
 '營業毛利',
 '營業費用',
 '營業利益',
 '營業外收入及支出',
 '所得稅費用',
 '合併總損益',
 '歸屬母公司淨利（損）',
 '折舊－CFO',
 '攤提－CFO',
 '來自營運之現金流量',
 '投資活動之現金流量',
 '籌資活動之現金流量']

In [14]:
pdata.keys().to_list()

AttributeError: 'dict_keys' object has no attribute 'to_list'

In [2]:
get_historical_returns = TWMarketMonitor().get_market_returns(review_month = 1)