In [3]:
import os
import sys
sys.path.append('..')
from backtest.operators import * 
from data_center.tej_handler import TEJHandler
from monitor.tw_monitor import TWMarketMonitor

from pymongo import MongoClient
import tejapi

import pandas as pd
import numpy as np
from datetime import date
from dateutil.relativedelta import relativedelta
# TEJHandler()

### Get Weighting

##### 尚須新增過去幾天參數

In [4]:
collection = "monthly_revenue"
mv_pstage = TWMarketMonitor().get_data_from_mongo(database_str= 'PSTAGE',
                                                  collection_str = collection,
                                                  start_date = "2020-01-01"
                                                  )
mv_pstage

,_id,證券碼,資料日期,去年單月營收(千元),去年累積營收(千元),單月營收(千元),單月營收成長率%,營收發布日,累積營收(千元),累積營收成長率(%)
0,660b4af860b8c294fc4ac534,2402,2024-03-01,725229.0,1922969.0,684470.0,-5.62,2024-04-01,1999441.0,3.98
1,660b4af960b8c294fc4ac53e,3030,2024-03-01,626077.0,1166911.0,633795.0,1.23,2024-04-01,1510654.0,29.46
2,660b4af960b8c294fc4ac53f,3228,2024-03-01,27859.0,76582.0,37674.0,35.23,2024-04-01,109659.0,43.19
3,660b4af960b8c294fc4ac540,3572,2024-03-01,9292.0,21238.0,7201.0,-22.50,2024-04-01,16410.0,-22.73
4,660b4af960b8c294fc4ac542,4587,2024-03-01,83674.0,168892.0,90142.0,7.73,2024-04-01,200884.0,18.94
...,...,...,...,...,...,...,...,...,...,...
88503,66066a6d60b8c294fcb9dd68,9951,2020-02-01,381860.0,940060.0,327098.0,-14.34,2020-03-06,763596.0,-18.77
88504,66066a6d60b8c294fcb9dd69,9955,2020-02-01,114414.0,294084.0,121361.0,6.07,2020-03-09,247411.0,-15.87
88505,66066a6d60b8c294fcb9dd6a,9958,2020-02-01,121790.0,221675.0,467060.0,283.50,2020-03-10,798726.0,260.31
88506,66066a6d60b8c294fcb9dd6b,9960,2020-02-01,29931.0,60887.0,26521.0,-11.39,2020-03-09,54753.0,-10.07
88507,66066a6d60b8c294fcb9dd6c,9962,2020-02-01,159127.0,323031.0,180245.0,13.27,2020-03-06,363248.0,12.45

In [5]:
mv_pstage

,_id,證券碼,資料日期,去年單月營收(千元),去年累積營收(千元),單月營收(千元),單月營收成長率%,營收發布日,累積營收(千元),累積營收成長率(%)
0,660b4af860b8c294fc4ac534,2402,2024-03-01,725229.0,1922969.0,684470.0,-5.62,2024-04-01,1999441.0,3.98
1,660b4af960b8c294fc4ac53e,3030,2024-03-01,626077.0,1166911.0,633795.0,1.23,2024-04-01,1510654.0,29.46
2,660b4af960b8c294fc4ac53f,3228,2024-03-01,27859.0,76582.0,37674.0,35.23,2024-04-01,109659.0,43.19
3,660b4af960b8c294fc4ac540,3572,2024-03-01,9292.0,21238.0,7201.0,-22.50,2024-04-01,16410.0,-22.73
4,660b4af960b8c294fc4ac542,4587,2024-03-01,83674.0,168892.0,90142.0,7.73,2024-04-01,200884.0,18.94
...,...,...,...,...,...,...,...,...,...,...
88503,66066a6d60b8c294fcb9dd68,9951,2020-02-01,381860.0,940060.0,327098.0,-14.34,2020-03-06,763596.0,-18.77
88504,66066a6d60b8c294fcb9dd69,9955,2020-02-01,114414.0,294084.0,121361.0,6.07,2020-03-09,247411.0,-15.87
88505,66066a6d60b8c294fcb9dd6a,9958,2020-02-01,121790.0,221675.0,467060.0,283.50,2020-03-10,798726.0,260.31
88506,66066a6d60b8c294fcb9dd6b,9960,2020-02-01,29931.0,60887.0,26521.0,-11.39,2020-03-09,54753.0,-10.07
88507,66066a6d60b8c294fcb9dd6c,9962,2020-02-01,159127.0,323031.0,180245.0,13.27,2020-03-06,363248.0,12.45

In [6]:
collection = "monthly_revenue"
monthly_rev_pmart = TWMarketMonitor().directly_get_pmart(collection)

In [7]:
monthly_rev_pmart

{'去年單月營收(千元)': symbol      000116    000930    000960     0009A0       1101       1102  1103  \
 datetime
 2020-01-02     NaN       NaN       NaN        NaN        NaN        NaN   NaN
 2020-01-03     NaN       NaN       NaN        NaN        NaN        NaN   NaN
 2020-01-06     NaN       NaN       NaN        NaN        NaN        NaN   NaN
 2020-01-07     NaN       NaN       NaN        NaN        NaN        NaN   NaN
 2020-01-08     NaN       NaN       NaN        NaN        NaN        NaN   NaN
 ...            ...       ...       ...        ...        ...        ...   ...
 2024-03-29     NaN  360885.0  999390.0  1119497.0  7306069.0  6241236.0   NaN
 2024-04-01     NaN  360885.0  999390.0  1119497.0  7306069.0  6241236.0   NaN
 2024-04-02     NaN  360885.0  999390.0  1119497.0  7306069.0  6241236.0   NaN
 2024-04-03     NaN  360885.0  999390.0  1119497.0  7306069.0  6241236.0   NaN
 2024-04-08     NaN  426304.0       NaN        NaN        NaN        NaN   NaN

 symbol      1104      1108      1109  ...       9945     9946     9949  9950  \
 datetime                              ...
 2020-01-02   NaN       NaN       NaN  ...        NaN      NaN      NaN   NaN
 2020-01-03   NaN       NaN       NaN  ...        NaN      NaN      NaN   NaN
 2020-01-06   NaN       NaN       NaN  ...        NaN      NaN      NaN   NaN
 2020-01-07   NaN       NaN       NaN  ...        NaN      NaN      NaN   NaN
 2020-01-08   NaN       NaN       NaN  ...        NaN      NaN      NaN   NaN
 ...          ...       ...       ...  ...        ...      ...      ...   ...
 2024-03-29   NaN  361748.0  410951.0  ...  2778101.0  60061.0  12803.0   NaN
 2024-04-01   NaN  361748.0  410951.0  ...  2778101.0  60061.0  12803.0   NaN
 2024-04-02   NaN  361748.0  410951.0  ...  2778101.0  60061.0  12803.0   NaN
 2024-04-03   NaN  361748.0  410951.0  ...  2778101.0  60061.0  12803.0   NaN
 2024-04-08   NaN       NaN       NaN  ...        NaN      NaN      NaN   NaN

 symbol      9951     9955       9957      9958  9960      9962
 datetime
 2020-01-02   NaN      NaN        NaN       NaN   NaN       NaN
 2020-01-03   NaN      NaN        NaN       NaN   NaN       NaN
 2020-01-06   NaN      NaN        NaN       NaN   NaN       NaN
 2020-01-07   NaN      NaN        NaN       NaN   NaN       NaN
 2020-01-08   NaN      NaN        NaN       NaN   NaN       NaN
 ...          ...      ...        ...       ...   ...       ...
 2024-03-29   NaN  84196.0  4943931.0  758703.0   NaN  312305.0
 2024-04-01   NaN  84196.0  4943931.0  758703.0   NaN  312305.0
 2024-04-02   NaN  84196.0  4943931.0  758703.0   NaN  312305.0
 2024-04-03   NaN  84196.0  4943931.0  758703.0   NaN  312305.0
 2024-04-08   NaN      NaN        NaN       NaN   NaN       NaN

 [1034 rows x 2295 columns],
 '去年累積營收(千元)': symbol      000116     000930     000960     0009A0        1101        1102  \
 datetime
 2020-01-02     NaN        NaN        NaN        NaN         NaN         NaN
 2020-01-03     NaN        NaN        NaN        NaN         NaN         NaN
 2020-01-06     NaN        NaN        NaN        NaN         NaN         NaN
 2020-01-07     NaN        NaN        NaN        NaN         NaN         NaN
 2020-01-08     NaN        NaN        NaN        NaN         NaN         NaN
 ...            ...        ...        ...        ...         ...         ...
 2024-03-29     NaN   643321.0  1789561.0  1960163.0  14631290.0  11055730.0
 2024-04-01     NaN   643321.0  1789561.0  1960163.0  14631290.0  11055730.0
 2024-04-02     NaN   643321.0  1789561.0  1960163.0  14631290.0  11055730.0
 2024-04-03     NaN   643321.0  1789561.0  1960163.0  14631290.0  11055730.0
 2024-04-08     NaN  1069625.0        NaN        NaN         NaN         NaN

 symbol      1103  1104      1108      1109  ...       9945     9946     9949  \
 datetime                                    ...
 2020-01-02   NaN   NaN       NaN       NaN  ...        NaN      NaN      NaN
 2020-01-03   NaN   NaN       NaN       NaN  ...        NaN      NaN      NaN
 2020-01-06   NaN   NaN       NaN       NaN  ...        NaN      NaN      NaN
 2020-01-07   NaN   NaN       NaN       NaN  ...        NaN      NaN      NaN
 2020-01-08   NaN   NaN       NaN       NaN  ...        NaN      NaN      NaN
 ...          ...   ...       ...       ...  ...        ...      ...      ...
 2024-03-29   NaN   NaN  656649.0  708961.0  ...  4449551.0  78830.0  27922.0
 2024-04-01   NaN   NaN  656649.0  708961.0  ...  4449551.0  78830.0  27922.0
 2024-04-02   NaN   NaN  656649.0  708961.0  ...  4449551.0  78830.0  27922.0
 2024-04-03   NaN   NaN  656649.0  708961.0  ...  4449551.0  78830.0  27922.0
 2024-04-08   NaN   NaN       NaN       NaN  ...        NaN      NaN      NaN

 symbol      9950  9951      9955       9957       9958  9960      9962
 datetime
 2020-01-02   NaN   NaN       NaN        NaN        NaN   NaN       NaN
 2020-01-03   NaN   NaN       NaN        NaN        NaN   NaN       NaN
 2020-01-06   NaN   NaN       NaN        NaN        NaN   NaN       NaN
 2020-01-07   NaN   NaN       NaN        NaN        NaN   NaN       NaN
 2020-01-08   NaN   NaN       NaN        NaN        NaN   NaN       NaN
 ...          ...   ...       ...        ...        ...   ...       ...
 2024-03-29   NaN   NaN  167620.0  9053683.0  1447895.0   NaN  593478.0
 2024-04-01   NaN   NaN  167620.0  9053683.0  1447895.0   NaN  593478.0
 2024-04-02   NaN   NaN  167620.0  9053683.0  1447895.0   NaN  593478.0
 2024-04-03   NaN   NaN  167620.0  9053683.0  1447895.0   NaN  593478.0
 2024-04-08   NaN   NaN       NaN        NaN        NaN   NaN       NaN

 [1034 rows x 2295 columns],
 '單月營收(千元)': symbol      000116    000930     000960     0009A0       1101       1102  \
 datetime
 2020-01-02     NaN       NaN        NaN        NaN        NaN        NaN
 2020-01-03     NaN       NaN        NaN        NaN        NaN        NaN
 2020-01-06     NaN       NaN        NaN        NaN        NaN        NaN
 2020-01-07     NaN       NaN        NaN        NaN        NaN        NaN
 2020-01-08     NaN       NaN        NaN        NaN        NaN        NaN
 ...            ...       ...        ...        ...        ...        ...
 2024-03-29     NaN  466635.0  1602660.0  1265646.0  4798581.0  3599986.0
 2024-04-01     NaN  466635.0  1602660.0  1265646.0  4798581.0  3599986.0
 2024-04-02     NaN  466635.0  1602660.0  1265646.0  4798581.0  3599986.0
 2024-04-03     NaN  466635.0  1602660.0  1265646.0  4798581.0  3599986.0
 2024-04-08     NaN  703898.0        NaN        NaN        NaN        NaN

 symbol      1103  1104      1108      1109  ...       9945    9946     9949  \
 datetime                                    ...
 2020-01-02   NaN   NaN       NaN       NaN  ...        NaN     NaN      NaN
 2020-01-03   NaN   NaN       NaN       NaN  ...        NaN     NaN      NaN
 2020-01-06   NaN   NaN       NaN       NaN  ...        NaN     NaN      NaN
 2020-01-07   NaN   NaN       NaN       NaN  ...        NaN     NaN      NaN
 2020-01-08   NaN   NaN       NaN       NaN  ...        NaN     NaN      NaN
 ...          ...   ...       ...       ...  ...        ...     ...      ...
 2024-03-29   NaN   NaN  286337.0  226768.0  ...  1640917.0  2523.0  11404.0
 2024-04-01   NaN   NaN  286337.0  226768.0  ...  1640917.0  2523.0  11404.0
 2024-04-02   NaN   NaN  286337.0  226768.0  ...  1640917.0  2523.0  11404.0
 2024-04-03   NaN   NaN  286337.0  226768.0  ...  1640917.0  2523.0  11404.0
 2024-04-08   NaN   NaN       NaN       NaN  ...        NaN     NaN      NaN

 symbol      9950  9951     9955       9957      9958  9960      9962
 datetime
 2020-01-02   NaN   NaN      NaN        NaN       NaN   NaN       NaN
 2020-01-03   NaN   NaN      NaN        NaN       NaN   NaN       NaN
 2020-01-06   NaN   NaN      NaN        NaN       NaN   NaN       NaN
 2020-01-07   NaN   NaN      NaN        NaN       NaN   NaN       NaN
 2020-01-08   NaN   NaN      NaN        NaN       NaN   NaN       NaN
 ...          ...   ...      ...        ...       ...   ...       ...
 2024-03-29   NaN   NaN  76868.0  2663133.0  778820.0   NaN  149766.0
 2024-04-01   NaN   NaN  76868.0  2663133.0  778820.0   NaN  149766.0
 2024-04-02   NaN   NaN  76868.0  2663133.0  778820.0   NaN  149766.0
 2024-04-03   NaN   NaN  76868.0  2663133.0  778820.0   NaN  149766.0
 2024-04-08   NaN   NaN      NaN        NaN       NaN   NaN       NaN

 [1034 rows x 2295 columns],
 '單月營收成長率%': symbol      000116  000930  000960  0009A0   1101   1102  1103  1104   1108  \
 datetime
 2020-01-02     NaN     NaN     NaN     NaN    NaN    NaN   NaN   NaN    NaN
 2020-01-03     NaN     NaN     NaN     NaN    NaN    NaN   NaN   NaN    NaN
 2020-01-06     NaN     NaN     NaN     NaN    NaN    NaN   NaN   NaN    NaN
 2020-01-07     NaN     NaN     NaN     NaN    NaN    NaN   NaN   NaN    NaN
 2020-01-08     NaN     NaN     NaN     NaN    NaN    NaN   NaN   NaN    NaN
 ...            ...     ...     ...     ...    ...    ...   ...   ...    ...
 2024-03-29     NaN   29.30   60.36   13.05 -34.32 -42.32   NaN   NaN -20.85
 2024-04-01     NaN   29.30   60.36   13.05 -34.32 -42.32   NaN   NaN -20.85
 2024-04-02     NaN   29.30   60.36   13.05 -34.32 -42.32   NaN   NaN -20.85
 2024-04-03     NaN   29.30   60.36   13.05 -34.32 -42.32   NaN   NaN -20.85
 2024-04-08     NaN   65.12     NaN     NaN    NaN    NaN   NaN   NaN    NaN

 symbol       1109  ...   9945  9946   9949  9950  9951  9955   9957  9958  \
 datetime           ...
 2020-01-02    NaN  ...    NaN   NaN    NaN   NaN   NaN   NaN    NaN   NaN
 2020-01-03    NaN  ...    NaN   NaN    NaN   NaN   NaN   NaN    NaN   NaN
 2020-01-06    NaN  ...    NaN   NaN    NaN   NaN   NaN   NaN    NaN   NaN
 2020-01-07    NaN  ...    NaN   NaN    NaN   NaN   NaN   NaN    NaN   NaN
 2020-01-08    NaN  ...    NaN   NaN    NaN   NaN   NaN   NaN    NaN   NaN
 ...           ...  ...    ...   ...    ...   ...   ...   ...    ...   ...
 2024-03-29 -44.82  ... -40.93 -95.8 -10.93   NaN   NaN  -8.7 -46.13  2.65
 2024-04-01 -44.82  ... -40.93 -95.8 -10.93   NaN   NaN  -8.7 -46.13  2.65
 2024-04-02 -44.82  ... -40.93 -95.8 -10.93   NaN   NaN  -8.7 -46.13  2.65
 2024-04-03 -44.82  ... -40.93 -95.8 -10.93   NaN   NaN  -8.7 -46.13  2.65
 2024-04-08    NaN  ...    NaN   NaN    NaN   NaN   NaN   NaN    NaN   NaN

 symbol      9960   9962
 datetime
 2020-01-02   NaN    NaN
 2020-01-03   NaN    NaN
 2020-01-06   NaN    NaN
 2020-01-07   NaN    NaN
 2020-01-08   NaN    NaN
 ...          ...    ...
 2024-03-29   NaN -52.04
 2024-04-01   NaN -52.04
 2024-04-02   NaN -52.04
 2024-04-03   NaN -52.04
 2024-04-08   NaN    NaN

 [1034 rows x 2295 columns],
 '營收發布日': symbol     000116     000930     000960     0009A0       1101       1102 1103  \
 datetime
 2020-01-02    NaT        NaT        NaT        NaT        NaT        NaT  NaT
 2020-01-03    NaT        NaT        NaT        NaT        NaT        NaT  NaT
 2020-01-06    NaT        NaT        NaT        NaT        NaT        NaT  NaT
 2020-01-07    NaT        NaT        NaT        NaT        NaT        NaT  NaT
 2020-01-08    NaT        NaT        NaT        NaT        NaT        NaT  NaT
 ...           ...        ...        ...        ...        ...        ...  ...
 2024-03-29    NaT 2024-03-06 2024-03-08 2024-03-07 2024-03-08 2024-03-08  NaT
 2024-04-01    NaT 2024-03-06 2024-03-08 2024-03-07 2024-03-08 2024-03-08  NaT
 2024-04-02    NaT 2024-03-06 2024-03-08 2024-03-07 2024-03-08 2024-03-08  NaT
 2024-04-03    NaT 2024-03-06 2024-03-08 2024-03-07 2024-03-08 2024-03-08  NaT
 2024-04-08    NaT 2024-04-08        NaT        NaT        NaT        NaT  NaT

 symbol     1104       1108       1109  ...       9945       9946       9949  \
 datetime                               ...
 2020-01-02  NaT        NaT        NaT  ...        NaT        NaT        NaT
 2020-01-03  NaT        NaT        NaT  ...        NaT        NaT        NaT
 2020-01-06  NaT        NaT        NaT  ...        NaT        NaT        NaT
 2020-01-07  NaT        NaT        NaT  ...        NaT        NaT        NaT
 2020-01-08  NaT        NaT        NaT  ...        NaT        NaT        NaT
 ...         ...        ...        ...  ...        ...        ...        ...
 2024-03-29  NaT 2024-03-07 2024-03-08  ... 2024-03-08 2024-03-08 2024-03-08
 2024-04-01  NaT 2024-03-07 2024-03-08  ... 2024-03-08 2024-03-08 2024-03-08
 2024-04-02  NaT 2024-03-07 2024-03-08  ... 2024-03-08 2024-03-08 2024-03-08
 2024-04-03  NaT 2024-03-07 2024-03-08  ... 2024-03-08 2024-03-08 2024-03-08
 2024-04-08  NaT        NaT        NaT  ...        NaT        NaT        NaT

 symbol     9950 9951       9955       9957       9958 9960       9962
 datetime
 2020-01-02  NaT  NaT        NaT        NaT        NaT  NaT        NaT
 2020-01-03  NaT  NaT        NaT        NaT        NaT  NaT        NaT
 2020-01-06  NaT  NaT        NaT        NaT        NaT  NaT        NaT
 2020-01-07  NaT  NaT        NaT        NaT        NaT  NaT        NaT
 2020-01-08  NaT  NaT        NaT        NaT        NaT  NaT        NaT
 ...         ...  ...        ...        ...        ...  ...        ...
 2024-03-29  NaT  NaT 2024-03-08 2024-03-08 2024-03-08  NaT 2024-03-07
 2024-04-01  NaT  NaT 2024-03-08 2024-03-08 2024-03-08  NaT 2024-03-07
 2024-04-02  NaT  NaT 2024-03-08 2024-03-08 2024-03-08  NaT 2024-03-07
 2024-04-03  NaT  NaT 2024-03-08 2024-03-08 2024-03-08  NaT 2024-03-07
 2024-04-08  NaT  NaT        NaT        NaT        NaT  NaT        NaT

 [1034 rows x 2295 columns],
 '累積營收(千元)': symbol      000116     000930     000960     0009A0        1101        1102  \
 datetime
 2020-01-02     NaN        NaN        NaN        NaN         NaN         NaN
 2020-01-03     NaN        NaN        NaN        NaN         NaN         NaN
 2020-01-06     NaN        NaN        NaN        NaN         NaN         NaN
 2020-01-07     NaN        NaN        NaN        NaN         NaN         NaN
 2020-01-08     NaN        NaN        NaN        NaN         NaN         NaN
 ...            ...        ...        ...        ...         ...         ...
 2024-03-29     NaN   974969.0  3433761.0  2908559.0  12036511.0  10090552.0
 2024-04-01     NaN   974969.0  3433761.0  2908559.0  12036511.0  10090552.0
 2024-04-02     NaN   974969.0  3433761.0  2908559.0  12036511.0  10090552.0
 2024-04-03     NaN   974969.0  3433761.0  2908559.0  12036511.0  10090552.0
 2024-04-08     NaN  1678867.0        NaN        NaN         NaN         NaN

 symbol      1103  1104      1108      1109  ...       9945    9946     9949  \
 datetime                                    ...
 2020-01-02   NaN   NaN       NaN       NaN  ...        NaN     NaN      NaN
 2020-01-03   NaN   NaN       NaN       NaN  ...        NaN     NaN      NaN
 2020-01-06   NaN   NaN       NaN       NaN  ...        NaN     NaN      NaN
 2020-01-07   NaN   NaN       NaN       NaN  ...        NaN     NaN      NaN
 2020-01-08   NaN   NaN       NaN       NaN  ...        NaN     NaN      NaN
 ...          ...   ...       ...       ...  ...        ...     ...      ...
 2024-03-29   NaN   NaN  743486.0  693330.0  ...  4541237.0  5040.0  29586.0
 2024-04-01   NaN   NaN  743486.0  693330.0  ...  4541237.0  5040.0  29586.0
 2024-04-02   NaN   NaN  743486.0  693330.0  ...  4541237.0  5040.0  29586.0
 2024-04-03   NaN   NaN  743486.0  693330.0  ...  4541237.0  5040.0  29586.0
 2024-04-08   NaN   NaN       NaN       NaN  ...        NaN     NaN      NaN

 symbol      9950  9951      9955       9957       9958  9960      9962
 datetime
 2020-01-02   NaN   NaN       NaN        NaN        NaN   NaN       NaN
 2020-01-03   NaN   NaN       NaN        NaN        NaN   NaN       NaN
 2020-01-06   NaN   NaN       NaN        NaN        NaN   NaN       NaN
 2020-01-07   NaN   NaN       NaN        NaN        NaN   NaN       NaN
 2020-01-08   NaN   NaN       NaN        NaN        NaN   NaN       NaN
 ...          ...   ...       ...        ...        ...   ...       ...
 2024-03-29   NaN   NaN  201392.0  6118304.0  2077296.0   NaN  356961.0
 2024-04-01   NaN   NaN  201392.0  6118304.0  2077296.0   NaN  356961.0
 2024-04-02   NaN   NaN  201392.0  6118304.0  2077296.0   NaN  356961.0
 2024-04-03   NaN   NaN  201392.0  6118304.0  2077296.0   NaN  356961.0
 2024-04-08   NaN   NaN       NaN        NaN        NaN   NaN       NaN

 [1034 rows x 2295 columns],
 '累積營收成長率(%)': symbol      000116  000930  000960  0009A0   1101  1102  1103  1104   1108  \
 datetime
 2020-01-02     NaN     NaN     NaN     NaN    NaN   NaN   NaN   NaN    NaN
 2020-01-03     NaN     NaN     NaN     NaN    NaN   NaN   NaN   NaN    NaN
 2020-01-06     NaN     NaN     NaN     NaN    NaN   NaN   NaN   NaN    NaN
 2020-01-07     NaN     NaN     NaN     NaN    NaN   NaN   NaN   NaN    NaN
 2020-01-08     NaN     NaN     NaN     NaN    NaN   NaN   NaN   NaN    NaN
 ...            ...     ...     ...     ...    ...   ...   ...   ...    ...
 2024-03-29     NaN   51.55   91.88   48.38 -17.73 -8.73   NaN   NaN  13.22
 2024-04-01     NaN   51.55   91.88   48.38 -17.73 -8.73   NaN   NaN  13.22
 2024-04-02     NaN   51.55   91.88   48.38 -17.73 -8.73   NaN   NaN  13.22
 2024-04-03     NaN   51.55   91.88   48.38 -17.73 -8.73   NaN   NaN  13.22
 2024-04-08     NaN   56.96     NaN     NaN    NaN   NaN   NaN   NaN    NaN

 symbol      1109  ...  9945   9946  9949  9950  9951   9955   9957   9958  \
 datetime          ...
 2020-01-02   NaN  ...   NaN    NaN   NaN   NaN   NaN    NaN    NaN    NaN
 2020-01-03   NaN  ...   NaN    NaN   NaN   NaN   NaN    NaN    NaN    NaN
 2020-01-06   NaN  ...   NaN    NaN   NaN   NaN   NaN    NaN    NaN    NaN
 2020-01-07   NaN  ...   NaN    NaN   NaN   NaN   NaN    NaN    NaN    NaN
 2020-01-08   NaN  ...   NaN    NaN   NaN   NaN   NaN    NaN    NaN    NaN
 ...          ...  ...   ...    ...   ...   ...   ...    ...    ...    ...
 2024-03-29  -2.2  ...  2.06 -93.61  5.96   NaN   NaN  20.15 -32.42  43.47
 2024-04-01  -2.2  ...  2.06 -93.61  5.96   NaN   NaN  20.15 -32.42  43.47
 2024-04-02  -2.2  ...  2.06 -93.61  5.96   NaN   NaN  20.15 -32.42  43.47
 2024-04-03  -2.2  ...  2.06 -93.61  5.96   NaN   NaN  20.15 -32.42  43.47
 2024-04-08   NaN  ...   NaN    NaN   NaN   NaN   NaN    NaN    NaN    NaN

 symbol      9960   9962
 datetime
 2020-01-02   NaN    NaN
 2020-01-03   NaN    NaN
 2020-01-06   NaN    NaN
 2020-01-07   NaN    NaN
 2020-01-08   NaN    NaN
 ...          ...    ...
 2024-03-29   NaN -39.85
 2024-04-01   NaN -39.85
 2024-04-02   NaN -39.85
 2024-04-03   NaN -39.85
 2024-04-08   NaN    NaN

 [1034 rows x 2295 columns]}

In [8]:
monthly_rev_pmart['單月營收(千元)']#['revenue_yoy']['2023-12-01':]

symbol,000116,000930,000960,0009A0,1101,1102,1103,1104,1108,1109,...,9945,9946,9949,9950,9951,9955,9957,9958,9960,9962
datetime,,,,,,,,,,,,,,,,,,,,,
2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-29,NaN,466635.0,1602660.0,1265646.0,4798581.0,3599986.0,NaN,NaN,286337.0,226768.0,...,1640917.0,2523.0,11404.0,NaN,NaN,76868.0,2663133.0,778820.0,NaN,149766.0
2024-04-01,NaN,466635.0,1602660.0,1265646.0,4798581.0,3599986.0,NaN,NaN,286337.0,226768.0,...,1640917.0,2523.0,11404.0,NaN,NaN,76868.0,2663133.0,778820.0,NaN,149766.0
2024-04-02,NaN,466635.0,1602660.0,1265646.0,4798581.0,3599986.0,NaN,NaN,286337.0,226768.0,...,1640917.0,2523.0,11404.0,NaN,NaN,76868.0,2663133.0,778820.0,NaN,149766.0
2024-04-03,NaN,466635.0,1602660.0,1265646.0,4798581.0,3599986.0,NaN,NaN,286337.0,226768.0,...,1640917.0,2523.0,11404.0,NaN,NaN,76868.0,2663133.0,778820.0,NaN,149766.0
2024-04-08,NaN,703898.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
monthly_rev_pmart['revenue_yoy'] = monthly_rev_pmart['單月營收(千元)'] / monthly_rev_pmart['去年單月營收(千元)'] -1
example_factor = ts_rank(monthly_rev_pmart['revenue_yoy'],252)
example_factor

symbol,000116,000930,000960,0009A0,1101,1102,1103,1104,1108,1109,...,9945,9946,9949,9950,9951,9955,9957,9958,9960,9962
datetime,,,,,,,,,,,,,,,,,,,,,
2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-29,NaN,0.492063,NaN,0.107143,NaN,0.031746,NaN,NaN,NaN,0.031746,...,NaN,0.031746,0.500000,NaN,NaN,0.178571,NaN,NaN,NaN,0.031746
2024-04-01,NaN,0.490079,NaN,0.109127,NaN,0.033730,NaN,NaN,NaN,0.033730,...,NaN,0.033730,0.498016,NaN,NaN,0.176587,NaN,NaN,NaN,0.033730
2024-04-02,NaN,0.488095,NaN,0.111111,NaN,0.035714,NaN,NaN,NaN,0.035714,...,NaN,0.035714,0.496032,NaN,NaN,0.174603,NaN,NaN,NaN,0.035714
2024-04-03,NaN,0.486111,NaN,0.113095,NaN,0.037698,NaN,NaN,NaN,0.037698,...,NaN,0.037698,0.494048,NaN,NaN,0.172619,NaN,NaN,NaN,0.037698
2024-04-08,NaN,0.761905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
def get_weighting(factor):
    demean = factor.sub(factor.mean(axis=1), axis=0)
    weighting = demean.div(demean.abs().sum(axis=1), axis=0)
    return weighting

### 假設出訊號後隔天收盤進場

In [11]:
example_signal = get_weighting(example_factor)
example_weighting = example_signal.shift(2) #隔天收盤進場，後天才有部位
example_weighting

symbol,000116,000930,000960,0009A0,1101,1102,1103,1104,1108,1109,...,9945,9946,9949,9950,9951,9955,9957,9958,9960,9962
datetime,,,,,,,,,,,,,,,,,,,,,
2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-29,NaN,0.000146,NaN,-0.000877,NaN,-0.001073,NaN,NaN,NaN,-0.001073,...,NaN,-0.001073,0.000167,NaN,NaN,-0.000670,NaN,NaN,NaN,-0.001073
2024-04-01,NaN,0.000141,NaN,-0.000876,NaN,-0.001073,NaN,NaN,NaN,-0.001073,...,NaN,-0.001073,0.000162,NaN,NaN,-0.000679,NaN,NaN,NaN,-0.001073
2024-04-02,NaN,0.000136,NaN,-0.000876,NaN,-0.001074,NaN,NaN,NaN,-0.001074,...,NaN,-0.001074,0.000156,NaN,NaN,-0.000688,NaN,NaN,NaN,-0.001074
2024-04-03,NaN,0.000130,NaN,-0.000875,NaN,-0.001074,NaN,NaN,NaN,-0.001074,...,NaN,-0.001074,0.000151,NaN,NaN,-0.000697,NaN,NaN,NaN,-0.001074
2024-04-08,NaN,0.000125,NaN,-0.000874,NaN,-0.001074,NaN,NaN,NaN,-0.001074,...,NaN,-0.001074,0.000146,NaN,NaN,-0.000706,NaN,NaN,NaN,-0.001074

### Get returns

In [12]:
collection = 'securities_returns'
returns_pmart = TWMarketMonitor().directly_get_pmart(collection)

In [13]:
returns_pmart

{'日報酬率(%)': symbol      0015    0029    0050    0051    0052    0053    0055    0056  \
 datetime
 2020-01-02   NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 2020-01-03   NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 2020-01-06   NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 2020-01-07   NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 2020-01-08   NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 ...          ...     ...     ...     ...     ...     ...     ...     ...
 2024-03-29   0.0  0.0000  0.6373  0.1913  0.3465  0.6448  0.7943  0.3020
 2024-04-01   0.0 -0.9422 -0.3167  0.4456 -0.3139 -0.6407 -0.2364 -0.6774
 2024-04-02   0.0  1.2581  1.4295  0.0000  2.0151  1.8757 -0.2765  0.7325
 2024-04-03   0.0  3.0303 -0.6890 -0.1267 -0.7716 -0.2877 -0.8713 -0.3260
 2024-04-08   0.0 -0.7941  0.5676  0.4442  0.2177  0.1731  0.7990  0.4277

 symbol        0057    0061  ...  IX0059  IX0060  IX0075  IX0085  IX0099  \
 datetime                    ...
 2020-01-02     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
 2020-01-03     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
 2020-01-06     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
 2020-01-07     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
 2020-01-08     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
 ...            ...     ...  ...     ...     ...     ...     ...     ...
 2024-03-29  0.6894 -0.2363  ...  0.4311  1.2910  0.9850  1.2753  0.4914
 2024-04-01 -0.5991  1.7762  ...  0.0191  0.2218 -0.1288 -0.1017  2.5392
 2024-04-02  1.3775 -0.3490  ... -0.1669  0.4918  1.6493  0.6206  1.8698
 2024-04-03 -0.4246 -0.5254  ... -0.1528  0.1224 -0.5212 -0.2409  1.5316
 2024-04-08  0.4691 -0.1174  ...  0.3253  0.1955 -2.9432 -0.2318  1.6824

 symbol      IX0118    MSCI  T1001Y  T1010Y  T1012Y
 datetime
 2020-01-02     NaN     NaN     NaN     NaN     NaN
 2020-01-03     NaN     NaN     NaN     NaN     NaN
 2020-01-06     NaN     NaN     NaN     NaN     NaN
 2020-01-07     NaN     NaN     NaN     NaN     NaN
 2020-01-08     NaN     NaN     NaN     NaN     NaN
 ...            ...     ...     ...     ...     ...
 2024-03-29  0.8616  1.0194     0.0  0.0000     0.0
 2024-04-01  0.7999 -0.8808     0.0 -0.9422     0.0
 2024-04-02  0.2900  1.6478     0.0  1.2581     0.0
 2024-04-03  0.0537 -0.9002     0.0  3.0303     0.0
 2024-04-08  0.2674  0.3356     0.0 -0.7941     0.0

 [999 rows x 2550 columns],
 '近一季報酬率(%)': symbol         0015     0029     0050    0051     0052     0053    0055  \
 datetime
 2020-01-02      NaN      NaN      NaN     NaN      NaN      NaN     NaN
 2020-01-03      NaN      NaN      NaN     NaN      NaN      NaN     NaN
 2020-01-06      NaN      NaN      NaN     NaN      NaN      NaN     NaN
 2020-01-07      NaN      NaN      NaN     NaN      NaN      NaN     NaN
 2020-01-08      NaN      NaN      NaN     NaN      NaN      NaN     NaN
 ...             ...      ...      ...     ...      ...      ...     ...
 2024-03-29  25.4462  15.4387  19.3179  6.6529  23.1065  19.8183  5.2241
 2024-04-01  57.3675  30.7616  18.9400  7.1282  22.7201  19.0507  4.9753
 2024-04-02  57.3675  34.0725  21.1322  7.4199  26.1190  21.9646  4.6416
 2024-04-03  21.5520  19.2985  22.4303  8.6896  27.6806  23.6088  4.6406
 2024-04-08  21.5520  18.3511  22.9398  8.6479  27.7557  23.6463  4.9065

 symbol         0056     0057    0061  ...   IX0059   IX0060   IX0075   IX0085  \
 datetime                              ...
 2020-01-02      NaN      NaN     NaN  ...      NaN      NaN      NaN      NaN
 2020-01-03      NaN      NaN     NaN  ...      NaN      NaN      NaN      NaN
 2020-01-06      NaN      NaN     NaN  ...      NaN      NaN      NaN      NaN
 2020-01-07      NaN      NaN     NaN  ...      NaN      NaN      NaN      NaN
 2020-01-08      NaN      NaN     NaN  ...      NaN      NaN      NaN      NaN
 ...             ...      ...     ...  ...      ...      ...      ...      ...
 2024-03-29   8.6970  16.8500  3.9379  ...  10.3758   9.7576  30.1280   8.3775
 2024-04-01   7.9607  16.1500  5.7841  ...  10.3969  10.0010  29.9604   8.2673
 2024-04-02   9.4245  18.6398  6.0676  ...   9.1212  11.7773  30.8271   9.4910
 2024-04-03  10.5248  20.0102  6.0356  ...   9.3420  13.5875  27.4622  10.6457
 2024-04-08  11.3314  20.2041  8.4072  ...  10.0257  13.3197  23.5386   9.9778

 symbol       IX0099   IX0118     MSCI   T1001Y   T1010Y  T1012Y
 datetime
 2020-01-02      NaN      NaN      NaN      NaN      NaN     NaN
 2020-01-03      NaN      NaN      NaN      NaN      NaN     NaN
 2020-01-06      NaN      NaN      NaN      NaN      NaN     NaN
 2020-01-07      NaN      NaN      NaN      NaN      NaN     NaN
 2020-01-08      NaN      NaN      NaN      NaN      NaN     NaN
 ...             ...      ...      ...      ...      ...     ...
 2024-03-29  29.0848   7.7011  16.8964  25.4462  15.4387 -4.9919
 2024-04-01  32.3625   8.5626  15.8668  57.3675  30.7616 -4.9919
 2024-04-02  35.4901   9.6160  18.4246  57.3675  34.0725 -4.9919
 2024-04-03  38.8242  11.0641  19.8022  21.5520  19.2985 -4.9919
 2024-04-08  42.6901  11.5291  19.9837  21.5520  18.3511 -4.9919

 [999 rows x 2550 columns],
 '近一年報酬率(%)': symbol          0015      0029     0050     0051     0052     0053     0055  \
 datetime
 2020-01-02       NaN       NaN      NaN      NaN      NaN      NaN      NaN
 2020-01-03       NaN       NaN      NaN      NaN      NaN      NaN      NaN
 2020-01-06       NaN       NaN      NaN      NaN      NaN      NaN      NaN
 2020-01-07       NaN       NaN      NaN      NaN      NaN      NaN      NaN
 2020-01-08       NaN       NaN      NaN      NaN      NaN      NaN      NaN
 ...              ...       ...      ...      ...      ...      ...      ...
 2024-03-29   58.5310   44.2977  35.9711  43.3311  53.1658  46.0950  18.9010
 2024-04-01  156.9367  104.3131  34.4259  41.9702  50.5954  43.1445  18.6742
 2024-04-02  156.9367  109.4863  36.3476  41.9702  53.6300  45.8295  18.3460
 2024-04-03   60.2925   49.1224  35.4081  41.7904  52.4446  45.4100  17.3149
 2024-04-08   60.2925   47.9382  36.8519  41.9274  54.1832  47.9566  17.9827

 symbol         0056     0057     0061  ...   IX0059   IX0060   IX0075  \
 datetime                               ...
 2020-01-02      NaN      NaN      NaN  ...      NaN      NaN      NaN
 2020-01-03      NaN      NaN      NaN  ...      NaN      NaN      NaN
 2020-01-06      NaN      NaN      NaN  ...      NaN      NaN      NaN
 2020-01-07      NaN      NaN      NaN  ...      NaN      NaN      NaN
 2020-01-08      NaN      NaN      NaN  ...      NaN      NaN      NaN
 ...             ...      ...      ...  ...      ...      ...      ...
 2024-03-29  53.8255  33.4659 -11.1527  ...  36.4327  21.9815  57.2765
 2024-04-01  51.2788  31.2423 -10.7484  ...  35.2268  20.7277  56.6432
 2024-04-02  52.3869  33.0501 -11.0599  ...  35.0011  21.3215  59.2268
 2024-04-03  51.8901  32.4852 -11.5272  ...  34.7948  21.4700  58.3969
 2024-04-08  52.5398  34.3210 -13.0753  ...  34.7553  22.0128  56.8130

 symbol       IX0085   IX0099   IX0118     MSCI    T1001Y    T1010Y   T1012Y
 datetime
 2020-01-02      NaN      NaN      NaN      NaN       NaN       NaN      NaN
 2020-01-03      NaN      NaN      NaN      NaN       NaN       NaN      NaN
 2020-01-06      NaN      NaN      NaN      NaN       NaN       NaN      NaN
 2020-01-07      NaN      NaN      NaN      NaN       NaN       NaN      NaN
 2020-01-08      NaN      NaN      NaN      NaN       NaN       NaN      NaN
 ...             ...      ...      ...      ...       ...       ...      ...
 2024-03-29  19.7062  53.5121  19.4468  31.4494   58.5310   44.2977  19.3464
 2024-04-01  17.7749  55.3136  19.0778  29.4564  156.9367  104.3131  19.3464
 2024-04-02  18.5058  58.2177  19.4231  31.5895  156.9367  109.4863  19.3464
 2024-04-03  18.2204  60.6409  19.4872  30.4050   60.2925   49.1224  19.3464
 2024-04-08  19.1712  61.5592  19.7971  31.6114   60.2925   47.9382  19.3464

 [999 rows x 2550 columns],
 '近一月報酬率(%)': symbol        0015    0029     0050    0051     0052     0053    0055    0056  \
 datetime
 2020-01-02     NaN     NaN      NaN     NaN      NaN      NaN     NaN     NaN
 2020-01-03     NaN     NaN      NaN     NaN      NaN      NaN     NaN     NaN
 2020-01-06     NaN     NaN      NaN     NaN      NaN      NaN     NaN     NaN
 2020-01-07     NaN     NaN      NaN     NaN      NaN      NaN     NaN     NaN
 2020-01-08     NaN     NaN      NaN     NaN      NaN      NaN     NaN     NaN
 ...            ...     ...      ...     ...      ...      ...     ...     ...
 2024-03-29  3.8257  3.6875  10.1882  1.5514  10.5868   9.7824  5.8382  5.7294
 2024-04-01  7.7162 -0.0611  10.2238  1.5444  10.2779   8.8702  5.8529  4.9019
 2024-04-02  7.7162  2.4694  11.7994  1.5444  12.5001  10.9123  5.5602  5.6703
 2024-04-03  3.7864  4.2947  11.0291  1.4158  11.6321  10.5932  4.6405  5.3258
 2024-04-08 -0.8680  2.2122   3.2369  2.7257   2.8080   3.7035  4.0411  3.8230

 symbol        0057    0061  ...  IX0059  IX0060   IX0075  IX0085   IX0099  \
 datetime                    ...
 2020-01-02     NaN     NaN  ...     NaN     NaN      NaN     NaN      NaN
 2020-01-03     NaN     NaN  ...     NaN     NaN      NaN     NaN      NaN
 2020-01-06     NaN     NaN  ...     NaN     NaN      NaN     NaN      NaN
 2020-01-07     NaN     NaN  ...     NaN     NaN      NaN     NaN      NaN
 2020-01-08     NaN     NaN  ...     NaN     NaN      NaN     NaN      NaN
 ...            ...     ...  ...     ...     ...      ...     ...      ...
 2024-03-29  9.1037  1.1982  ...  1.5843  3.5585  20.7444  2.9724   6.8863
 2024-04-01  8.3489  2.7494  ...  0.0334  2.0652  18.6055  1.4160   8.3436
 2024-04-02  9.8414  2.3908  ... -0.1336  2.5671  20.5617  2.0454  10.3695
 2024-04-03  9.3750  1.8528  ... -0.2862  2.6927  19.9333  1.7996  12.0599
 2024-04-08  2.5687  2.1608  ...  3.2393  3.2638   0.6948  1.4938  13.5848

 symbol      IX0118     MSCI  T1001Y  T1010Y  T1012Y
 datetime
 2020-01-02     NaN      NaN     NaN     NaN     NaN
 2020-01-03     NaN      NaN     NaN     NaN     NaN
 2020-01-06     NaN      NaN     NaN     NaN     NaN
 2020-01-07     NaN      NaN     NaN     NaN     NaN
 2020-01-08     NaN      NaN     NaN     NaN     NaN
 ...            ...      ...     ...     ...     ...
 2024-03-29  1.0608   9.0126  3.8257  3.6875     0.0
 2024-04-01  0.7371   8.3408  7.7162 -0.0611     0.0
 2024-04-02  1.0293  10.1260  7.7162  2.4694     0.0
 2024-04-03  1.0835   9.1347  3.7864  4.2947     0.0
 2024-04-08  3.0299   2.2197 -0.8680  2.2122     0.0

 [999 rows x 2550 columns],
 '近一週報酬率(%)': symbol        0015    0029    0050    0051    0052    0053    0055    0056  \
 datetime
 2020-01-02     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 2020-01-03     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 2020-01-06     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 2020-01-07     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 2020-01-08     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 ...            ...     ...     ...     ...     ...     ...     ...     ...
 2024-03-29 -0.3273 -3.2353  0.4452  0.1913 -0.5306 -0.0582  0.3163  0.1507
 2024-04-01  0.0000 -1.8755 -0.0636  0.0634 -0.6257 -0.8140  0.5960 -0.0757
 2024-04-02  0.0000  0.6090  1.3007  1.0243  1.6950  1.8757 -0.1976  1.6310
 2024-04-03  0.0000  3.3436  0.5709  0.5744  1.0371  1.1675 -1.0672  0.5057
 2024-04-08  0.0000  3.4981  1.3024  0.3169  1.4483  1.7584 -0.3555  0.8335

 symbol        0057    0061  ...  IX0059  IX0060  IX0075  IX0085  IX0099  \
 datetime                    ...
 2020-01-02     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
 2020-01-03     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
 2020-01-06     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
 2020-01-07     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
 2020-01-08     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
 ...            ...     ...  ...     ...     ...     ...     ...     ...
 2024-03-29  0.3005  0.1185  ... -1.2714  0.5914  6.3983  0.2184 -1.7199
 2024-04-01 -0.1289  1.3561  ... -1.4706  0.8967  7.5299  0.1699  1.0739
 2024-04-02  1.0729  1.9643  ...  0.1531  3.1293  7.5714  2.3020  5.9978
 2024-04-03  0.6870  1.0676  ... -0.8584  1.7985  4.3649  1.3114  5.3873
 2024-04-08  1.4206 -0.9889  ...  0.0048  0.8115 -1.8566  0.1455  5.1701

 symbol      IX0118    MSCI  T1001Y  T1010Y  T1012Y
 datetime
 2020-01-02     NaN     NaN     NaN     NaN     NaN
 2020-01-03     NaN     NaN     NaN     NaN     NaN
 2020-01-06     NaN     NaN     NaN     NaN     NaN
 2020-01-07     NaN     NaN     NaN     NaN     NaN
 2020-01-08     NaN     NaN     NaN     NaN     NaN
 ...            ...     ...     ...     ...     ...
 2024-03-29  0.3009  0.2348 -0.3273 -3.2353     0.0
 2024-04-01  0.8297 -0.1668  0.0000 -1.8755     0.0
 2024-04-02  2.8450  1.6070  0.0000  0.6090     0.0
 2024-04-03  1.7229  0.4840  0.0000  3.3436     0.0
 2024-04-08  0.6122  1.0708  0.0000  3.4981     0.0

 [999 rows x 2550 columns]}

In [14]:
collection = 'securities_trading_data'
ohlcv_pmart = TWMarketMonitor().directly_get_pmart(collection)

In [15]:
ohlcv_pmart['開盤價']

symbol,0050,0051,0052,0053,0055,0056,0057,0061,006201,006203,...,9946,9949,9950,9951,9955,9957,9958,9960,9962,T1012Y
datetime,,,,,,,,,,,,,,,,,,,,,
2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.15,13.20,15.10,91.0,18.95,NaN,72.6,33.25,10.10,NaN
2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.45,13.15,15.30,91.0,19.00,NaN,72.6,32.35,10.05,NaN
2020-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.10,13.20,15.10,89.5,21.00,NaN,71.5,30.65,10.00,NaN
2020-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.00,12.85,15.00,88.9,21.20,NaN,71.2,31.45,9.88,NaN
2020-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.60,12.75,15.15,88.6,22.50,NaN,70.3,31.60,9.98,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-29,156.90,79.0,158.45,85.30,25.18,39.75,116.85,16.92,21.96,75.25,...,25.70,18.70,16.90,72.7,25.00,6.44,223.0,27.00,17.90,NaN
2024-04-01,158.20,78.7,160.00,85.95,25.38,39.89,117.85,16.90,22.25,75.90,...,25.50,18.60,17.00,72.4,25.15,6.44,220.0,27.10,18.10,NaN
2024-04-02,158.45,78.9,159.25,86.80,25.32,39.62,117.50,17.19,22.25,75.50,...,26.25,18.80,17.50,72.7,25.60,6.40,218.5,27.00,18.15,NaN
2024-04-03,158.65,78.8,161.20,85.70,25.25,39.69,117.25,17.23,22.18,75.75,...,26.70,18.80,17.30,72.6,26.00,6.38,213.5,26.90,18.30,NaN
2024-04-08,158.65,78.8,161.00,86.95,25.03,39.77,117.45,17.04,22.27,75.95,...,26.45,19.10,17.35,72.5,25.55,6.84,216.0,26.90,18.15,63.5

In [16]:
example_returns = returns_pmart['日報酬率(%)']*0.01
example_returns

symbol,0015,0029,0050,0051,0052,0053,0055,0056,0057,0061,...,IX0059,IX0060,IX0075,IX0085,IX0099,IX0118,MSCI,T1001Y,T1010Y,T1012Y
datetime,,,,,,,,,,,,,,,,,,,,,
2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-29,0.0,0.000000,0.006373,0.001913,0.003465,0.006448,0.007943,0.003020,0.006894,-0.002363,...,0.004311,0.012910,0.009850,0.012753,0.004914,0.008616,0.010194,0.0,0.000000,0.0
2024-04-01,0.0,-0.009422,-0.003167,0.004456,-0.003139,-0.006407,-0.002364,-0.006774,-0.005991,0.017762,...,0.000191,0.002218,-0.001288,-0.001017,0.025392,0.007999,-0.008808,0.0,-0.009422,0.0
2024-04-02,0.0,0.012581,0.014295,0.000000,0.020151,0.018757,-0.002765,0.007325,0.013775,-0.003490,...,-0.001669,0.004918,0.016493,0.006206,0.018698,0.002900,0.016478,0.0,0.012581,0.0
2024-04-03,0.0,0.030303,-0.006890,-0.001267,-0.007716,-0.002877,-0.008713,-0.003260,-0.004246,-0.005254,...,-0.001528,0.001224,-0.005212,-0.002409,0.015316,0.000537,-0.009002,0.0,0.030303,0.0
2024-04-08,0.0,-0.007941,0.005676,0.004442,0.002177,0.001731,0.007990,0.004277,0.004691,-0.001174,...,0.003253,0.001955,-0.029432,-0.002318,0.016824,0.002674,0.003356,0.0,-0.007941,0.0

### 將weighting 與 returns結合獲得績效

In [17]:
stocks = 20
top = example_weighting.apply(lambda row: row.nlargest(stocks), axis=1).fillna(0)
example_equalweight = top.applymap(lambda x: 1/stocks if x != 0 else 0)
recent_w_weighting = example_equalweight#[-5:].dropna(axis =1, how = 'all')
recent_w_weighting = recent_w_weighting.loc[:, (recent_w_weighting != 0.0).any(axis=0)]
recent_w_weighting

/var/folders/fx/jn0gghjd4cg68lr15nlpsbqr0000gn/T/ipykernel_2332/681453456.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  example_equalweight = top.applymap(lambda x: 1/stocks if x != 0 else 0)

symbol,000116,000930,000960,0009A0,1102,1104,1108,1109,1110,1210,...,3118,3188,3231,3259,3373,4542,4905,5355,5478,5516
datetime,,,,,,,,,,,,,,,,,,,,,
2020-01-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-01-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-01-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-01-07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-01-08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2024-04-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2024-04-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2024-04-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2024-04-08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
recent_w_returns = example_returns * recent_w_weighting
recent_w_profit = recent_w_returns.dropna(axis =1, how='all').dropna(axis=0, how='all')
recent_w_profit

symbol,1102,1104,1108,1109,1110,1210,1213,1218,1220,1225,...,3118,3188,3231,3259,3373,4542,4905,5355,5478,5516
datetime,,,,,,,,,,,,,,,,,,,,,
2020-01-02,0.0,0.0,-0.0,0.0,-0.0,-0.0,-0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,-0.0,0.0,0.0,-0.0,0.0
2020-01-03,-0.0,-0.0,0.0,0.0,0.0,-0.0,0.0,0.0,0.0,-0.0,...,-0.0,-0.0,-0.0,-0.0,-0.0,0.0,-0.0,-0.0,-0.0,0.0
2020-01-06,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,0.0,-0.0,...,0.0,-0.0,-0.0,-0.0,0.0,0.0,-0.0,-0.0,0.0,-0.0
2020-01-07,0.0,-0.0,0.0,-0.0,0.0,0.0,0.0,0.0,0.0,-0.0,...,0.0,0.0,0.0,0.0,-0.0,-0.0,-0.0,0.0,0.0,-0.0
2020-01-08,0.0,-0.0,-0.0,-0.0,-0.0,-0.0,0.0,-0.0,-0.0,0.0,...,-0.0,-0.0,-0.0,0.0,-0.0,0.0,-0.0,-0.0,-0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-29,0.0,0.0,-0.0,0.0,-0.0,0.0,-0.0,0.0,0.0,0.0,...,0.0,-0.0,0.0,0.0,-0.0,-0.0,0.0,-0.0,0.0,0.0
2024-04-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.0,...,0.0,0.0,-0.0,-0.0,0.0,0.0,0.0,-0.0,-0.0,0.0
2024-04-02,-0.0,-0.0,-0.0,0.0,0.0,-0.0,-0.0,-0.0,0.0,-0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-0.0,0.0,0.0,-0.0
2024-04-03,0.0,0.0,0.0,0.0,0.0,-0.0,-0.0,-0.0,-0.0,-0.0,...,0.0,-0.0,0.0,0.0,0.0,-0.0,0.0,-0.0,-0.0,0.0
2024-04-08,0.0,0.0,0.0,0.0,-0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-0.0,0.0,0.0,-0.0,0.0,0.0,0.0,0.0,-0.0

In [19]:
recent_w_profit.sum(axis =1)#.sum()

datetime
2020-01-02    0.000000
2020-01-03    0.000000
2020-01-06    0.000000
2020-01-07    0.000000
2020-01-08    0.000000
                ...
2024-03-29    0.000606
2024-04-01    0.004574
2024-04-02    0.002809
2024-04-03    0.001167
2024-04-08    0.002903
Length: 999, dtype: float64