In [1]:
import os
import sys
sys.path.append('..')
from data_center.tej_handler import TEJHandler
from monitor.tw_monitor import TWMarketMonitor

from pymongo import MongoClient
import tejapi

import pandas as pd
import numpy as np
from datetime import date
from dateutil.relativedelta import relativedelta
# TEJHandler()

In [7]:
TEJHandler().get_tej_data_table()

                     0
融資券資料        TWN/EWGIN
單季財務資料表    TWN/EWIFINQ
指數日行情      TWN/EWIPRCD
指數屬性表    TWN/EWIPRCSTD
證券屬性表    TWN/EWNPRCSTD
證券交易資料表     TWN/EWPRCD
報酬率資訊表     TWN/EWPRCD2
月營收資料表      TWN/EWSALE
三大法人資料    TWN/EWTINST1

In [4]:
pstage = TWMarketMonitor().get_data_from_mongo('PSTAGE', 'tsx', limit = 10000)
pstage

,_id,指數碼,日期,TEJ本益比,TEJ淨值市價比,成交量(千股),指數收盤價,指數最低價,指數最高價,指數開盤價,流通股數(千股),現金股利率
0,660c9c5060b8c294fc69addd,IR0059,2024-04-02,NaN,NaN,0.0,276.83,NaN,NaN,NaN,0,NaN
1,660c9c5060b8c294fc69adf1,IX0021,2024-04-02,43.3509,3.2446,36479.0,71.69,71.32,71.97,71.42,6699804,1.8723
2,660c9c5060b8c294fc69ae03,IX0039,2024-04-02,17.7019,1.2876,269040.0,1825.18,1819.67,1827.11,1826.10,249490512,2.7070
3,660c9c5060b8c294fc69add3,IR0049,2024-04-02,NaN,NaN,0.0,305.08,NaN,NaN,NaN,0,NaN
4,660c9c5060b8c294fc69adeb,IX0012,2024-04-02,325.6109,1.0823,49557.0,194.03,192.38,194.43,194.43,31820088,1.6445
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,66052db938c6a73d3962606c,IX0001,2010-09-10,17.9135,1.7562,4196331.0,7890.11,7859.33,7911.66,7900.56,581197914,3.4914
9996,66052db938c6a73d3962606b,IX0001,2010-09-09,17.7905,1.7442,4315208.0,7835.54,7817.87,7903.47,7901.83,580973821,3.5159
9997,66052db938c6a73d3962606a,IX0001,2010-09-08,17.8284,1.7479,4233877.0,7851.31,7824.65,7898.76,7866.35,580928031,3.5088
9998,66052db938c6a73d39626069,IX0001,2010-09-07,17.9070,1.7556,4494203.0,7884.40,7876.67,7922.07,7914.38,580773016,3.4942
9999,66052db938c6a73d39626068,IX0001,2010-09-06,17.9183,1.7567,4288898.0,7890.95,7841.83,7902.56,7879.70,580767297,3.4911

In [2]:
collection = 'monthly_revenue'
pstage = TWMarketMonitor().get_data_from_mongo('PSTAGE', collection, limit = 500000)
pdata = TWMarketMonitor().pdata_pipline(pstage, collection)
pmart = TWMarketMonitor().pmart_pipline(pdata)
pmart

Unsupported data code. Please use one of the following data codes with the correct column names to rename:
{'融資券資料': 'TWN/EWGIN', '單季財務資料表': 'TWN/EWIFINQ', '指數日行情': 'TWN/EWIPRCD', '指數屬性表': 'TWN/EWIPRCSTD', '證券屬性表': 'TWN/EWNPRCSTD', '證券交易資料表': 'TWN/EWPRCD', '報酬率資訊表': 'TWN/EWPRCD2', '月營收資料表': 'TWN/EWSALE', '三大法人資料': 'TWN/EWTINST1'}

KeyError: "None of ['datetime', 'symbol'] are in the columns"

In [16]:
# pstage = TWMarketMonitor().get_data_from_mongo('PSTAGE', 'securities_returns', limit = 500000)
# pdata = TEJHandler().pdata_pipline(pstage, 'TWN/EWPRCD2')
# pmart = TEJHandler().pmart_pipline(pdata, 'TWN/EWPRCD2')
# pmart

{'日報酬率(%)': symbol      0015    0029    0050    0051    0052    0053    0055    0056  \
 datetime
 2022-11-28   NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 2022-11-29   NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 2022-11-30   NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 2022-12-01   NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 2022-12-02   NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 ...          ...     ...     ...     ...     ...     ...     ...     ...
 2024-03-27   0.0  0.0000  0.0317  0.3201 -0.1255  0.4103  0.0000  0.7900
 2024-03-28   0.0  0.0000 -0.4757  0.0638 -0.2200 -0.4086 -0.4743  0.4804
 2024-03-29   0.0  0.0000  0.6373  0.1913  0.3465  0.6448  0.7943  0.3020
 2024-04-01   0.0 -0.9422 -0.3167  0.4456 -0.3139 -0.6407 -0.2364 -0.6774
 2024-04-02   0.0  1.2581  1.4295  0.0000  2.0151  1.8757 -0.2765  0.7325

 symbol        0057    0061  ...  IX0059  IX0060  IX0075  IX0085  IX0099  \
 datetime                    ...
 2022-11-28     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
 2022-11-29     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
 2022-11-30     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
 2022-12-01     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
 2022-12-02     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
 ...            ...     ...  ...     ...     ...     ...     ...     ...
 2024-03-27 -0.0429  0.3571  ...  0.8659  1.4313  2.5352  0.7345  2.1197
 2024-03-28 -0.3435  0.4152  ... -0.9865 -0.3341  2.3346 -0.2398 -1.1167
 2024-03-29  0.6894 -0.2363  ...  0.4311  1.2910  0.9850  1.2753  0.4914
 2024-04-01 -0.5991  1.7762  ...  0.0191  0.2218 -0.1288 -0.1017  2.5392
 2024-04-02  1.3775 -0.3490  ... -0.1669  0.4918  1.6493  0.6206  1.8698

 symbol      IX0118    MSCI  T1001Y  T1010Y  T1012Y
 datetime
 2022-11-28     NaN     NaN     NaN     NaN     NaN
 2022-11-29     NaN     NaN     NaN     NaN     NaN
 2022-11-30     NaN     NaN     NaN     NaN     NaN
 2022-12-01     NaN     NaN     NaN     NaN     NaN
 2022-12-02     NaN     NaN     NaN     NaN     NaN
 ...            ...     ...     ...     ...     ...
 2024-03-27  1.1573  0.2073     0.0  0.0000     0.0
 2024-03-28 -0.2892 -0.3761     0.0  0.0000     0.0
 2024-03-29  0.8616  1.0194     0.0  0.0000     0.0
 2024-04-01  0.7999 -0.8808     0.0 -0.9422     0.0
 2024-04-02  0.2900  1.6478     0.0  1.2581     0.0

 [287 rows x 2519 columns],
 '近一季報酬率(%)': symbol         0015     0029     0050    0051     0052     0053    0055  \
 datetime
 2022-11-28      NaN      NaN      NaN     NaN      NaN      NaN     NaN
 2022-11-29      NaN      NaN      NaN     NaN      NaN      NaN     NaN
 2022-11-30      NaN      NaN      NaN     NaN      NaN      NaN     NaN
 2022-12-01      NaN      NaN      NaN     NaN      NaN      NaN     NaN
 2022-12-02      NaN      NaN      NaN     NaN      NaN      NaN     NaN
 ...             ...      ...      ...     ...      ...      ...     ...
 2024-03-27  25.4462  15.4387  18.8657  6.7437  23.0947  19.6227  5.4608
 2024-03-28  25.4462  15.4387  18.3003  6.6665  22.6814  18.4720  4.3516
 2024-03-29  25.4462  15.4387  19.3179  6.6529  23.1065  19.8183  5.2241
 2024-04-01  25.4462  14.3510  18.9400  7.1282  22.7201  19.0507  4.9753
 2024-04-02  25.4462  15.7897  21.1322  7.4199  26.1190  21.9646  4.6416

 symbol        0056     0057    0061  ...   IX0059   IX0060   IX0075  IX0085  \
 datetime                             ...
 2022-11-28     NaN      NaN     NaN  ...      NaN      NaN      NaN     NaN
 2022-11-29     NaN      NaN     NaN  ...      NaN      NaN      NaN     NaN
 2022-11-30     NaN      NaN     NaN  ...      NaN      NaN      NaN     NaN
 2022-12-01     NaN      NaN     NaN  ...      NaN      NaN      NaN     NaN
 2022-12-02     NaN      NaN     NaN  ...      NaN      NaN      NaN     NaN
 ...            ...      ...     ...  ...      ...      ...      ...     ...
 2024-03-27  7.7939  16.9177  6.7084  ...   8.6686   7.8426  25.7609  6.4597
 2024-03-28  8.5729  16.5161  5.4167  ...   8.3843   8.1372  30.3968  6.8333
 2024-03-29  8.6970  16.8500  3.9379  ...  10.3758   9.7576  30.1280  8.3775
 2024-04-01  7.9607  16.1500  5.7841  ...  10.3969  10.0010  29.9604  8.2673
 2024-04-02  9.4245  18.6398  6.0676  ...   9.1212  11.7773  30.8271  9.4910

 symbol       IX0099  IX0118     MSCI   T1001Y   T1010Y  T1012Y
 datetime
 2022-11-28      NaN     NaN      NaN      NaN      NaN     NaN
 2022-11-29      NaN     NaN      NaN      NaN      NaN     NaN
 2022-11-30      NaN     NaN      NaN      NaN      NaN     NaN
 2022-12-01      NaN     NaN      NaN      NaN      NaN     NaN
 2022-12-02      NaN     NaN      NaN      NaN      NaN     NaN
 ...             ...     ...      ...      ...      ...     ...
 2024-03-27  31.3001  6.6173  16.3673  25.4462  15.4387 -4.9919
 2024-03-28  29.3776  6.7803  15.8163  25.4462  15.4387 -4.9919
 2024-03-29  29.0848  7.7011  16.8964  25.4462  15.4387 -4.9919
 2024-04-01  32.3625  8.5626  15.8668  25.4462  14.3510 -4.9919
 2024-04-02  35.4901  9.6160  18.4246  25.4462  15.7897 -4.9919

 [287 rows x 2519 columns],
 '近一年報酬率(%)': symbol         0015     0029     0050     0051     0052     0053     0055  \
 datetime
 2022-11-28      NaN      NaN      NaN      NaN      NaN      NaN      NaN
 2022-11-29      NaN      NaN      NaN      NaN      NaN      NaN      NaN
 2022-11-30      NaN      NaN      NaN      NaN      NaN      NaN      NaN
 2022-12-01      NaN      NaN      NaN      NaN      NaN      NaN      NaN
 2022-12-02      NaN      NaN      NaN      NaN      NaN      NaN      NaN
 ...             ...      ...      ...      ...      ...      ...      ...
 2024-03-27  60.2924  39.9994  34.8057  42.3398  51.2940  43.8494  18.7975
 2024-03-28  58.5310  41.3224  35.3345  42.8061  53.2750  45.2794  18.2340
 2024-03-29  58.5310  44.2977  35.9711  43.3311  53.1658  46.0950  18.9010
 2024-04-01  60.2925  42.9381  34.4259  41.9702  50.5954  43.1445  18.6742
 2024-04-02  60.2925  44.7364  36.3476  41.9702  53.6300  45.8295  18.3460

 symbol         0056     0057     0061  ...   IX0059   IX0060   IX0075  \
 datetime                               ...
 2022-11-28      NaN      NaN      NaN  ...      NaN      NaN      NaN
 2022-11-29      NaN      NaN      NaN  ...      NaN      NaN      NaN
 2022-11-30      NaN      NaN      NaN  ...      NaN      NaN      NaN
 2022-12-01      NaN      NaN      NaN  ...      NaN      NaN      NaN
 2022-12-02      NaN      NaN      NaN  ...      NaN      NaN      NaN
 ...             ...      ...      ...  ...      ...      ...      ...
 2024-03-27  51.7664  31.8793 -11.2639  ...  34.0005  18.3103  51.9365
 2024-03-28  53.8542  32.9317 -10.8954  ...  34.9165  19.5387  57.8557
 2024-03-29  53.8255  33.4659 -11.1527  ...  36.4327  21.9815  57.2765
 2024-04-01  51.2788  31.2423 -10.7484  ...  35.2268  20.7277  56.6432
 2024-04-02  52.3869  33.0501 -11.0599  ...  35.0011  21.3215  59.2268

 symbol       IX0085   IX0099   IX0118     MSCI   T1001Y   T1010Y   T1012Y
 datetime
 2022-11-28      NaN      NaN      NaN      NaN      NaN      NaN      NaN
 2022-11-29      NaN      NaN      NaN      NaN      NaN      NaN      NaN
 2022-11-30      NaN      NaN      NaN      NaN      NaN      NaN      NaN
 2022-12-01      NaN      NaN      NaN      NaN      NaN      NaN      NaN
 2022-12-02      NaN      NaN      NaN      NaN      NaN      NaN      NaN
 ...             ...      ...      ...      ...      ...      ...      ...
 2024-03-27  15.8040  51.9060  16.3715  30.2006  60.2924  39.9994  19.3464
 2024-03-28  16.8038  52.4703  17.8271  30.8041  58.5310  41.3224  19.3464
 2024-03-29  19.7062  53.5121  19.4468  31.4494  58.5310  44.2977  19.3464
 2024-04-01  17.7749  55.3136  19.0778  29.4564  60.2925  42.9381  19.3464
 2024-04-02  18.5058  58.2177  19.4231  31.5895  60.2925  44.7364  19.3464

 [287 rows x 2519 columns],
 '近一月報酬率(%)': symbol        0015    0029     0050    0051     0052     0053    0055    0056  \
 datetime
 2022-11-28     NaN     NaN      NaN     NaN      NaN      NaN     NaN     NaN
 2022-11-29     NaN     NaN      NaN     NaN      NaN      NaN     NaN     NaN
 2022-11-30     NaN     NaN      NaN     NaN      NaN      NaN     NaN     NaN
 2022-12-01     NaN     NaN      NaN     NaN      NaN      NaN     NaN     NaN
 2022-12-02     NaN     NaN      NaN     NaN      NaN      NaN     NaN     NaN
 ...            ...     ...      ...     ...      ...      ...     ...     ...
 2024-03-27  6.8616  2.8125   9.9753  2.8891  10.2565   9.3867  6.5263  5.4384
 2024-03-28  6.8616  2.8125   9.4522  2.9547  10.0139   8.9398  6.0211  5.9449
 2024-03-29  3.8257  3.6875  10.1882  1.5514  10.5868   9.7824  5.8382  5.7294
 2024-04-01  3.7864 -0.0305  10.2238  1.5444  10.2779   8.8702  5.8529  4.9019
 2024-04-02  3.7864  1.2272  11.7994  1.5444  12.5001  10.9123  5.5602  5.6703

 symbol        0057    0061  ...  IX0059  IX0060   IX0075  IX0085   IX0099  \
 datetime                    ...
 2022-11-28     NaN     NaN  ...     NaN     NaN      NaN     NaN      NaN
 2022-11-29     NaN     NaN  ...     NaN     NaN      NaN     NaN      NaN
 2022-11-30     NaN     NaN  ...     NaN     NaN      NaN     NaN      NaN
 2022-12-01     NaN     NaN  ...     NaN     NaN      NaN     NaN      NaN
 2022-12-02     NaN     NaN  ...     NaN     NaN      NaN     NaN      NaN
 ...            ...     ...  ...     ...     ...      ...     ...      ...
 2024-03-27  8.8828  1.8115  ...  3.9592  3.7082  15.8094  3.0613  10.0419
 2024-03-28  8.5087  2.2342  ...  2.9336  3.3617  18.5131  2.8141   8.8130
 2024-03-29  9.1037  1.1982  ...  1.5843  3.5585  20.7444  2.9724   6.8863
 2024-04-01  8.3489  2.7494  ...  0.0334  2.0652  18.6055  1.4160   8.3436
 2024-04-02  9.8414  2.3908  ... -0.1336  2.5671  20.5617  2.0454  10.3695

 symbol      IX0118     MSCI  T1001Y  T1010Y  T1012Y
 datetime
 2022-11-28     NaN      NaN     NaN     NaN     NaN
 2022-11-29     NaN      NaN     NaN     NaN     NaN
 2022-11-30     NaN      NaN     NaN     NaN     NaN
 2022-12-01     NaN      NaN     NaN     NaN     NaN
 2022-12-02     NaN      NaN     NaN     NaN     NaN
 ...            ...      ...     ...     ...     ...
 2024-03-27  1.6445   8.5735  6.8616  2.8125     0.0
 2024-03-28  1.3506   8.1651  6.8616  2.8125     0.0
 2024-03-29  1.0608   9.0126  3.8257  3.6875     0.0
 2024-04-01  0.7371   8.3408  3.7864 -0.0305     0.0
 2024-04-02  1.0293  10.1260  3.7864  1.2272     0.0

 [287 rows x 2519 columns],
 '近一週報酬率(%)': symbol        0015    0029    0050    0051    0052    0053    0055    0056  \
 datetime
 2022-11-28     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 2022-11-29     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 2022-11-30     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 2022-12-01     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 2022-12-02     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 ...            ...     ...     ...     ...     ...     ...     ...     ...
 2024-03-27 -0.3273  2.1422  2.9046  1.5554  2.0855  2.6362  1.7700 -0.2019
 2024-03-28 -0.3273 -0.9037 -0.3177 -0.3179 -0.7811 -0.2923 -0.3166 -0.4759
 2024-03-29 -0.3273 -3.2353  0.4452  0.1913 -0.5306 -0.0582  0.3163  0.1507
 2024-04-01  0.0000 -0.9422 -0.0636  0.0634 -0.6257 -0.8140  0.5960 -0.0757
 2024-04-02  0.0000  0.3040  1.3007  1.0243  1.6950  1.8757 -0.1976  1.6310

 symbol        0057    0061  ...  IX0059  IX0060  IX0075  IX0085  IX0099  \
 datetime                    ...
 2022-11-28     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
 2022-11-29     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
 2022-11-30     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
 2022-12-01     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
 2022-12-02     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
 ...            ...     ...  ...     ...     ...     ...     ...     ...
 2024-03-27  1.7920 -1.6336  ... -0.4250 -0.9297 -3.1500 -1.5416  0.2864
 2024-03-28 -0.4290 -1.0520  ... -1.5236 -1.6486  2.2082 -2.1643 -2.5578
 2024-03-29  0.3005  0.1185  ... -1.2714  0.5914  6.3983  0.2184 -1.7199
 2024-04-01 -0.1289  1.3561  ... -1.4706  0.8967  7.5299  0.1699  1.0739
 2024-04-02  1.0729  1.9643  ...  0.1531  3.1293  7.5714  2.3020  5.9978

 symbol      IX0118    MSCI  T1001Y  T1010Y  T1012Y
 datetime
 2022-11-28     NaN     NaN     NaN     NaN     NaN
 2022-11-29     NaN     NaN     NaN     NaN     NaN
 2022-11-30     NaN     NaN     NaN     NaN     NaN
 2022-12-01     NaN     NaN     NaN     NaN     NaN
 2022-12-02     NaN     NaN     NaN     NaN     NaN
 ...            ...     ...     ...     ...     ...
 2024-03-27 -0.2934  2.2461 -0.3273  2.1422     0.0
 2024-03-28 -1.2180 -0.5991 -0.3273 -0.9037     0.0
 2024-03-29  0.3009  0.2348 -0.3273 -3.2353     0.0
 2024-04-01  0.8297 -0.1668  0.0000 -0.9422     0.0
 2024-04-02  2.8450  1.6070  0.0000  0.3040     0.0

 [287 rows x 2519 columns]}

In [19]:
pmart['日報酬率(%)'].sort_index(ascending=False)

symbol,0015,0029,0050,0051,0052,0053,0055,0056,0057,0061,...,IX0059,IX0060,IX0075,IX0085,IX0099,IX0118,MSCI,T1001Y,T1010Y,T1012Y
datetime,,,,,,,,,,,,,,,,,,,,,
2024-04-02,0.0,1.2581,1.4295,0.0000,2.0151,1.8757,-0.2765,0.7325,1.3775,-0.3490,...,-0.1669,0.4918,1.6493,0.6206,1.8698,0.2900,1.6478,0.0,1.2581,0.0
2024-04-01,0.0,-0.9422,-0.3167,0.4456,-0.3139,-0.6407,-0.2364,-0.6774,-0.5991,1.7762,...,0.0191,0.2218,-0.1288,-0.1017,2.5392,0.7999,-0.8808,0.0,-0.9422,0.0
2024-03-29,0.0,0.0000,0.6373,0.1913,0.3465,0.6448,0.7943,0.3020,0.6894,-0.2363,...,0.4311,1.2910,0.9850,1.2753,0.4914,0.8616,1.0194,0.0,0.0000,0.0
2024-03-28,0.0,0.0000,-0.4757,0.0638,-0.2200,-0.4086,-0.4743,0.4804,-0.3435,0.4152,...,-0.9865,-0.3341,2.3346,-0.2398,-1.1167,-0.2892,-0.3761,0.0,0.0000,0.0
2024-03-27,0.0,0.0000,0.0317,0.3201,-0.1255,0.4103,0.0000,0.7900,-0.0429,0.3571,...,0.8659,1.4313,2.5352,0.7345,2.1197,1.1573,0.2073,0.0,0.0000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-11-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-11-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-11-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN