In [1]:
import os
import sys
sys.path.append('..')
from data_center.tej_handler import TEJHandler
from monitor.tw_monitor import TWMarketMonitor

from pymongo import MongoClient
import tejapi

import pandas as pd
import numpy as np
from datetime import date
from dateutil.relativedelta import relativedelta
# TEJHandler()

In [3]:
collection = "monthly_revenue"
pstage = TWMarketMonitor().get_data_from_mongo('PSTAGE', collection, limit = 100000)
pdata = TWMarketMonitor().pdata_pipline(pstage, collection)
pmart = TWMarketMonitor().pmart_pipline(pdata, collection)
pmart['去年單月營收(千元)']

symbol,000116,000930,000960,0009A0,1101,1102,1103,1104,1108,1109,...,9945,9946,9949,9950,9951,9955,9957,9958,9960,9962
datetime,,,,,,,,,,,,,,,,,,,,,
1990-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-01-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-27,NaN,360885.0,999390.0,1119497.0,7306069.0,6241236.0,NaN,NaN,361748.0,410951.0,...,2778101.0,60061.0,12803.0,NaN,NaN,84196.0,4943931.0,758703.0,NaN,312305.0
2024-03-28,NaN,360885.0,999390.0,1119497.0,7306069.0,6241236.0,NaN,NaN,361748.0,410951.0,...,2778101.0,60061.0,12803.0,NaN,NaN,84196.0,4943931.0,758703.0,NaN,312305.0
2024-03-29,NaN,360885.0,999390.0,1119497.0,7306069.0,6241236.0,NaN,NaN,361748.0,410951.0,...,2778101.0,60061.0,12803.0,NaN,NaN,84196.0,4943931.0,758703.0,NaN,312305.0
2024-04-01,NaN,360885.0,999390.0,1119497.0,7306069.0,6241236.0,NaN,NaN,361748.0,410951.0,...,2778101.0,60061.0,12803.0,NaN,NaN,84196.0,4943931.0,758703.0,NaN,312305.0
2024-04-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
last = pmart['去年單月營收(千元)'].sort_index(ascending=False)
last.loc[:'2020-01-01']

KeyError: 'Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is not allowed.'

In [6]:
collection = "tsx"
pstage = TWMarketMonitor().get_data_from_mongo('PSTAGE', collection, limit = 500000)
pdata = TWMarketMonitor().pdata_pipline(pstage, collection)
pmart = TWMarketMonitor().pmart_pipline(pdata, collection)
pmart

{'TEJ本益比': symbol       IR0001   IR0002   IR0003   IR0009   IR0010   IR0011    IR0012  \
 datetime
 1990-01-04      NaN      NaN      NaN      NaN      NaN      NaN       NaN
 1990-01-05      NaN      NaN      NaN      NaN      NaN      NaN       NaN
 1990-01-06      NaN      NaN      NaN      NaN      NaN      NaN       NaN
 1990-01-08      NaN      NaN      NaN      NaN      NaN      NaN       NaN
 1990-01-09      NaN      NaN      NaN      NaN      NaN      NaN       NaN
 ...             ...      ...      ...      ...      ...      ...       ...
 2024-03-27  24.6493  18.7809  21.2359  29.5453  23.2580  34.0395  318.3027
 2024-03-28  24.5860  18.7055  21.2397  29.4510  23.2173  34.0637  315.3580
 2024-03-29  24.7667  18.9058  21.2894  29.4938  23.4615  34.3625  318.9081
 2024-04-01  24.6782  18.7255  21.3106  29.7743  23.4971  34.2076  326.2773
 2024-04-02  24.9808  19.0618  21.3510  29.7859  23.3567  33.9468  325.6109

 symbol       IR0016   IR0017   IR0018  ...   IX0057  IX0058   IX0059   IX0060  \
 datetime                               ...
 1990-01-04      NaN      NaN      NaN  ...      NaN     NaN      NaN      NaN
 1990-01-05      NaN      NaN      NaN  ...      NaN     NaN      NaN      NaN
 1990-01-06      NaN      NaN      NaN  ...      NaN     NaN      NaN      NaN
 1990-01-08      NaN      NaN      NaN  ...      NaN     NaN      NaN      NaN
 1990-01-09      NaN      NaN      NaN  ...      NaN     NaN      NaN      NaN
 ...             ...      ...      ...  ...      ...     ...      ...      ...
 2024-03-27  43.7886  42.9207  29.9777  ...  35.8672     NaN  25.4937  21.7917
 2024-03-28  43.2411  42.4241  29.8439  ...  36.0196     NaN  25.3833  21.7056
 2024-03-29  43.4677  42.7176  29.6423  ...  35.9454     NaN  25.3991  21.9853
 2024-04-01  43.4972  43.5334  29.5073  ...  36.5130     NaN  25.4536  22.0479
 2024-04-02  43.6370  43.8181  29.1879  ...  36.3863     NaN  25.4270  22.2775

 symbol       IX0075   IX0082   IX0085   IX0099   IX0118     MSCI
 datetime
 1990-01-04      NaN      NaN      NaN      NaN      NaN      NaN
 1990-01-05      NaN      NaN      NaN      NaN      NaN      NaN
 1990-01-06      NaN      NaN      NaN      NaN      NaN      NaN
 1990-01-08      NaN      NaN      NaN      NaN      NaN      NaN
 1990-01-09      NaN      NaN      NaN      NaN      NaN      NaN
 ...             ...      ...      ...      ...      ...      ...
 2024-03-27  32.4220  23.4795  25.1539  27.2497  32.0477  23.2453
 2024-03-28  33.1796  23.4065  25.1109  27.1836  31.9914  23.1713
 2024-03-29  33.5071  23.6360  25.4303  27.1801  32.2742  23.4043
 2024-04-01  33.4629  23.4450  25.4053  27.5037  32.5192  23.2318
 2024-04-02  34.0154  23.8133  25.8004  28.1526  32.7804  23.5805

 [8825 rows x 116 columns],
 'TEJ淨值市價比': symbol      IR0001  IR0002  IR0003  IR0009  IR0010  IR0011  IR0012  IR0016  \
 datetime
 1990-01-04     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 1990-01-05     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 1990-01-06     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 1990-01-08     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 1990-01-09     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 ...            ...     ...     ...     ...     ...     ...     ...     ...
 2024-03-27  2.3969  2.3998  1.3234  1.6200  0.9734  2.6395  1.0580  1.2997
 2024-03-28  2.3908  2.3902  1.3237  1.6148  0.9717  2.6414  1.0482  1.2834
 2024-03-29  2.4083  2.4158  1.3268  1.6172  0.9819  2.6646  1.0600  1.2902
 2024-04-01  2.3997  2.3927  1.3281  1.6326  0.9834  2.6526  1.0845  1.2910
 2024-04-02  2.4289  2.4357  1.3306  1.6321  0.9775  2.6324  1.0823  1.2952

 symbol      IR0017  IR0018  ...  IX0057  IX0058  IX0059  IX0060  IX0075  \
 datetime                    ...
 1990-01-04     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
 1990-01-05     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
 1990-01-06     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
 1990-01-08     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
 1990-01-09     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
 ...            ...     ...  ...     ...     ...     ...     ...     ...
 2024-03-27  3.1826  1.3171  ...  2.2564  2.1035  4.0656  3.4393  6.2379
 2024-03-28  3.1458  1.3113  ...  2.2659  2.1052  4.0480  3.4257  6.3837
 2024-03-29  3.1676  1.3024  ...  2.2611  2.0884  4.0506  3.4699  6.4467
 2024-04-01  3.2281  1.2965  ...  2.2968  2.1182  4.0592  3.4797  6.4382
 2024-04-02  3.2492  1.2824  ...  2.2888  2.1184  4.0550  3.5160  6.5445

 symbol      IX0082  IX0085  IX0099  IX0118    MSCI
 datetime
 1990-01-04     NaN     NaN     NaN     NaN     NaN
 1990-01-05     NaN     NaN     NaN     NaN     NaN
 1990-01-06     NaN     NaN     NaN     NaN     NaN
 1990-01-08     NaN     NaN     NaN     NaN     NaN
 1990-01-09     NaN     NaN     NaN     NaN     NaN
 ...            ...     ...     ...     ...     ...
 2024-03-27  2.6025  3.6372  2.8703  3.5644  2.6101
 2024-03-28  2.5944  3.6310  2.8633  3.5581  2.6018
 2024-03-29  2.6198  3.6772  2.8629  3.5895  2.6280
 2024-04-01  2.5987  3.6736  2.8970  3.6168  2.6086
 2024-04-02  2.6395  3.7307  2.9654  3.6458  2.6478

 [8825 rows x 116 columns],
 '成交量(千股)': symbol         IR0001     IR0002     IR0003     IR0009   IR0010   IR0011  \
 datetime
 1990-01-04        NaN        NaN        NaN        NaN      NaN      NaN
 1990-01-05        NaN        NaN        NaN        NaN      NaN      NaN
 1990-01-06        NaN        NaN        NaN        NaN      NaN      NaN
 1990-01-08        NaN        NaN        NaN        NaN      NaN      NaN
 1990-01-09        NaN        NaN        NaN        NaN      NaN      NaN
 ...               ...        ...        ...        ...      ...      ...
 2024-03-27  7726443.0   794977.0  1050346.0  1674149.0  17978.0  22648.0
 2024-03-28  8671376.0  1208020.0  1144240.0  1444378.0  19425.0  25524.0
 2024-03-29  8501295.0  1431220.0  1192932.0  1155916.0  24299.0  36101.0
 2024-04-01  8434260.0   817247.0   845145.0  1034084.0  16976.0  14700.0
 2024-04-02  8095952.0   865590.0   803645.0  1191781.0  14891.0  16318.0

 symbol       IR0012   IR0016    IR0017    IR0018  ...    IX0057   IX0058  \
 datetime                                          ...
 1990-01-04      NaN      NaN       NaN       NaN  ...       NaN      NaN
 1990-01-05      NaN      NaN       NaN       NaN  ...       NaN      NaN
 1990-01-06      NaN      NaN       NaN       NaN  ...       NaN      NaN
 1990-01-08      NaN      NaN       NaN       NaN  ...       NaN      NaN
 1990-01-09      NaN      NaN       NaN       NaN  ...       NaN      NaN
 ...             ...      ...       ...       ...  ...       ...      ...
 2024-03-27  49210.0  27016.0  366722.0  315889.0  ...  142807.0  13716.0
 2024-03-28  50010.0  28754.0  304907.0  175487.0  ...  170665.0  12041.0
 2024-03-29  38280.0  27934.0  215631.0  105982.0  ...  178184.0  16181.0
 2024-04-01  51463.0  24603.0  163123.0   54605.0  ...  191076.0  40414.0
 2024-04-02  49557.0  27154.0  172221.0   68996.0  ...  180173.0  17690.0

 symbol      IX0059    IX0060   IX0075     IX0082    IX0085   IX0099    IX0118  \
 datetime
 1990-01-04     NaN       NaN      NaN        NaN       NaN      NaN       NaN
 1990-01-05     NaN       NaN      NaN        NaN       NaN      NaN       NaN
 1990-01-06     NaN       NaN      NaN        NaN       NaN      NaN       NaN
 1990-01-08     NaN       NaN      NaN        NaN       NaN      NaN       NaN
 1990-01-09     NaN       NaN      NaN        NaN       NaN      NaN       NaN
 ...            ...       ...      ...        ...       ...      ...       ...
 2024-03-27  7585.0  221862.0   9146.0  1218363.0  178375.0  55078.0  443132.0
 2024-03-28  7623.0  234806.0   9625.0  1630695.0  178055.0  84841.0  524110.0
 2024-03-29  9421.0  254579.0  10515.0  1739865.0  196593.0  70967.0  537831.0
 2024-04-01  8408.0  184674.0   5657.0  1205397.0  126506.0  66186.0  513742.0
 2024-04-02  8818.0  159726.0   5620.0  1216560.0  102483.0  79043.0  495150.0

 symbol           MSCI
 datetime
 1990-01-04        NaN
 1990-01-05        NaN
 1990-01-06        NaN
 1990-01-08        NaN
 1990-01-09        NaN
 ...               ...
 2024-03-27  1261875.0
 2024-03-28  1712160.0
 2024-03-29  2144583.0
 2024-04-01  1281531.0
 2024-04-02  1290746.0

 [8825 rows x 116 columns],
 '指數收盤價': symbol        IR0001    IR0002    IR0003    IR0009  IR0010   IR0011  IR0012  \
 datetime
 1990-01-04       NaN       NaN       NaN       NaN     NaN      NaN     NaN
 1990-01-05       NaN       NaN       NaN       NaN     NaN      NaN     NaN
 1990-01-06       NaN       NaN       NaN       NaN     NaN      NaN     NaN
 1990-01-08       NaN       NaN       NaN       NaN     NaN      NaN     NaN
 1990-01-09       NaN       NaN       NaN       NaN     NaN      NaN     NaN
 ...              ...       ...       ...       ...     ...      ...     ...
 2024-03-27  43641.03  34499.80  39294.63  34201.25  311.54  3439.14  360.45
 2024-03-28  43534.18  34361.75  39340.31  34102.76  310.99  3441.59  357.12
 2024-03-29  43858.44  34729.90  39443.81  34151.68  314.27  3471.78  361.14
 2024-04-01  43702.62  34392.76  39487.77  34471.29  314.74  3456.12  369.49
 2024-04-02  44230.90  35014.73  39581.19  34458.58  312.86  3429.77  368.73

 symbol       IR0016  IR0017  IR0018  ...  IX0057  IX0058  IX0059  IX0060  \
 datetime                             ...
 1990-01-04      NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
 1990-01-05      NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
 1990-01-06      NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
 1990-01-08      NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
 1990-01-09      NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
 ...             ...     ...     ...  ...     ...     ...     ...     ...
 2024-03-27  1083.91  665.45  180.78  ...  131.71  103.97  210.85  281.34
 2024-03-28  1077.22  657.75  180.09  ...  132.25  104.05  208.77  280.40
 2024-03-29  1082.92  662.33  178.87  ...  131.95  103.23  209.67  284.02
 2024-04-01  1083.57  674.97  178.06  ...  134.02  104.70  209.71  284.65
 2024-04-02  1087.32  679.37  176.13  ...  133.57  104.71  209.36  286.05

 symbol      IX0075    IX0082  IX0085  IX0099    IX0118    MSCI
 datetime
 1990-01-04     NaN       NaN     NaN     NaN       NaN     NaN
 1990-01-05     NaN       NaN     NaN     NaN       NaN     NaN
 1990-01-06     NaN       NaN     NaN     NaN       NaN     NaN
 1990-01-08     NaN       NaN     NaN     NaN       NaN     NaN
 1990-01-09     NaN       NaN     NaN     NaN       NaN     NaN
 ...            ...       ...     ...     ...       ...     ...
 2024-03-27  210.31  11610.25  204.36  234.62   9928.16  797.58
 2024-03-28  215.22  11578.29  203.87  232.00   9899.45  794.58
 2024-03-29  217.34  11690.98  206.47  233.14   9984.74  802.68
 2024-04-01  217.06  11587.51  206.26  239.06  10064.61  795.61
 2024-04-02  220.64  11775.80  207.54  243.53  10093.80  808.72

 [8825 rows x 116 columns],
 '指數最低價': symbol      IR0001  IR0002  IR0003  IR0009  IR0010  IR0011  IR0012  IR0016  \
 datetime
 1990-01-04     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 1990-01-05     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 1990-01-06     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 1990-01-08     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 1990-01-09     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 ...            ...     ...     ...     ...     ...     ...     ...     ...
 2024-03-27     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 2024-03-28     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 2024-03-29     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 2024-04-01     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 2024-04-02     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN

 symbol      IR0017  IR0018  ...  IX0057  IX0058  IX0059  IX0060  IX0075  \
 datetime                    ...
 1990-01-04     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
 1990-01-05     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
 1990-01-06     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
 1990-01-08     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
 1990-01-09     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
 ...            ...     ...  ...     ...     ...     ...     ...     ...
 2024-03-27     NaN     NaN  ...  130.63  103.66  209.15     NaN  203.47
 2024-03-28     NaN     NaN  ...  131.73  103.92  208.77     NaN  209.36
 2024-03-29     NaN     NaN  ...  131.94  103.13  208.66     NaN  209.83
 2024-04-01     NaN     NaN  ...  132.09  103.49  209.54     NaN  214.11
 2024-04-02     NaN     NaN  ...  133.46  104.36  208.76     NaN  216.80

 symbol      IX0082  IX0085  IX0099  IX0118    MSCI
 datetime
 1990-01-04     NaN     NaN     NaN     NaN     NaN
 1990-01-05     NaN     NaN     NaN     NaN     NaN
 1990-01-06     NaN     NaN     NaN     NaN     NaN
 1990-01-08     NaN     NaN     NaN     NaN     NaN
 1990-01-09     NaN     NaN     NaN     NaN     NaN
 ...            ...     ...     ...     ...     ...
 2024-03-27     NaN     NaN  229.81     NaN  794.45
 2024-03-28     NaN     NaN  231.81     NaN  790.01
 2024-03-29     NaN     NaN  232.11     NaN  795.68
 2024-04-01     NaN     NaN  233.69     NaN  795.09
 2024-04-02     NaN     NaN  239.27     NaN  803.27

 [8825 rows x 116 columns],
 '指數最高價': symbol      IR0001  IR0002  IR0003  IR0009  IR0010  IR0011  IR0012  IR0016  \
 datetime
 1990-01-04     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 1990-01-05     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 1990-01-06     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 1990-01-08     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 1990-01-09     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 ...            ...     ...     ...     ...     ...     ...     ...     ...
 2024-03-27     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 2024-03-28     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 2024-03-29     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 2024-04-01     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 2024-04-02     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN

 symbol      IR0017  IR0018  ...  IX0057  IX0058  IX0059  IX0060  IX0075  \
 datetime                    ...
 1990-01-04     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
 1990-01-05     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
 1990-01-06     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
 1990-01-08     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
 1990-01-09     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
 ...            ...     ...  ...     ...     ...     ...     ...     ...
 2024-03-27     NaN     NaN  ...  132.10  105.43  211.03     NaN  211.02
 2024-03-28     NaN     NaN  ...  132.80  105.00  211.19     NaN  215.30
 2024-03-29     NaN     NaN  ...  132.87  104.80  210.56     NaN  218.98
 2024-04-01     NaN     NaN  ...  134.38  106.37  210.33     NaN  218.66
 2024-04-02     NaN     NaN  ...  134.53  105.74  210.15     NaN  220.64

 symbol      IX0082  IX0085  IX0099  IX0118    MSCI
 datetime
 1990-01-04     NaN     NaN     NaN     NaN     NaN
 1990-01-05     NaN     NaN     NaN     NaN     NaN
 1990-01-06     NaN     NaN     NaN     NaN     NaN
 1990-01-08     NaN     NaN     NaN     NaN     NaN
 1990-01-09     NaN     NaN     NaN     NaN     NaN
 ...            ...     ...     ...     ...     ...
 2024-03-27     NaN     NaN  234.62     NaN  800.42
 2024-03-28     NaN     NaN  236.36     NaN  797.14
 2024-03-29     NaN     NaN  234.43     NaN  804.37
 2024-04-01     NaN     NaN  239.35     NaN  805.21
 2024-04-02     NaN     NaN  244.71     NaN  808.72

 [8825 rows x 116 columns],
 '指數開盤價': symbol      IR0001  IR0002  IR0003  IR0009  IR0010  IR0011  IR0012  IR0016  \
 datetime
 1990-01-04     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 1990-01-05     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 1990-01-06     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 1990-01-08     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 1990-01-09     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 ...            ...     ...     ...     ...     ...     ...     ...     ...
 2024-03-27     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 2024-03-28     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 2024-03-29     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 2024-04-01     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 2024-04-02     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN

 symbol      IR0017  IR0018  ...  IX0057  IX0058  IX0059  IX0060  IX0075  \
 datetime                    ...
 1990-01-04     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
 1990-01-05     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
 1990-01-06     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
 1990-01-08     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
 1990-01-09     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
 ...            ...     ...  ...     ...     ...     ...     ...     ...
 2024-03-27     NaN     NaN  ...  130.63  103.66  209.15     NaN  205.02
 2024-03-28     NaN     NaN  ...  131.73  103.98  210.34     NaN  210.11
 2024-03-29     NaN     NaN  ...  132.08  104.08  208.84     NaN  215.23
 2024-04-01     NaN     NaN  ...  132.09  103.49  209.87     NaN  217.46
 2024-04-02     NaN     NaN  ...  134.07  104.89  209.37     NaN  217.07

 symbol      IX0082  IX0085  IX0099  IX0118    MSCI
 datetime
 1990-01-04     NaN     NaN     NaN     NaN     NaN
 1990-01-05     NaN     NaN     NaN     NaN     NaN
 1990-01-06     NaN     NaN     NaN     NaN     NaN
 1990-01-08     NaN     NaN     NaN     NaN     NaN
 1990-01-09     NaN     NaN     NaN     NaN     NaN
 ...            ...     ...     ...     ...     ...
 2024-03-27     NaN     NaN  230.46     NaN  797.29
 2024-03-28     NaN     NaN  234.96     NaN  795.90
 2024-03-29     NaN     NaN  232.11     NaN  795.99
 2024-04-01     NaN     NaN  233.82     NaN  804.75
 2024-04-02     NaN     NaN  239.27     NaN  803.86

 [8825 rows x 116 columns],
 '流通股數(千股)': symbol           IR0001       IR0002       IR0003       IR0009      IR0010  \
 datetime
 1990-01-04          NaN          NaN          NaN          NaN         NaN
 1990-01-05          NaN          NaN          NaN          NaN         NaN
 1990-01-06          NaN          NaN          NaN          NaN         NaN
 1990-01-08          NaN          NaN          NaN          NaN         NaN
 1990-01-09          NaN          NaN          NaN          NaN         NaN
 ...                 ...          ...          ...          ...         ...
 2024-03-27  762198088.0  350134314.0  172074582.0  280425733.0  13879107.0
 2024-03-28  762204174.0  350134314.0  172074582.0  280431820.0  13879107.0
 2024-03-29  762214140.0  350137469.0  172075236.0  280431880.0  13879107.0
 2024-04-01  762204019.0  350137469.0  172075236.0  280431880.0  13879107.0
 2024-04-02  762213305.0  350137787.0  172075775.0  280435080.0  13879107.0

 symbol          IR0011      IR0012      IR0016      IR0017     IR0018  ...  \
 datetime                                                               ...
 1990-01-04         NaN         NaN         NaN         NaN        NaN  ...
 1990-01-05         NaN         NaN         NaN         NaN        NaN  ...
 1990-01-06         NaN         NaN         NaN         NaN        NaN  ...

In [2]:
collection = "monthly_revenue"
pstage = TWMarketMonitor().get_data_from_mongo('PSTAGE', collection, limit = 500000)
pdata = TWMarketMonitor().pdata_pipline(pstage, collection)
pmart = TWMarketMonitor().pmart_pipline(pdata, collection)
pmart

ValueError: cannot reindex on an axis with duplicate labels

In [ ]:
pmart['去年單月營收(千元)'].sort_index(ascending=False)

symbol,000116,000930,000960,0009A0,1101,1102,1103,1104,1108,1109,...,9945,9946,9949,9950,9951,9955,9957,9958,9960,9962
datetime,,,,,,,,,,,,,,,,,,,,,
2024-04-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-04-01,NaN,360885.0,999390.0,1119497.0,7306069.0,6241236.0,NaN,NaN,361748.0,410951.0,...,2778101.0,60061.0,12803.0,NaN,NaN,84196.0,4943931.0,758703.0,NaN,312305.0
2024-03-29,NaN,360885.0,999390.0,1119497.0,7306069.0,6241236.0,NaN,NaN,361748.0,410951.0,...,2778101.0,60061.0,12803.0,NaN,NaN,84196.0,4943931.0,758703.0,NaN,312305.0
2024-03-28,NaN,360885.0,999390.0,1119497.0,7306069.0,6241236.0,NaN,NaN,361748.0,410951.0,...,2778101.0,60061.0,12803.0,NaN,NaN,84196.0,4943931.0,758703.0,NaN,312305.0
2024-03-27,NaN,360885.0,999390.0,1119497.0,7306069.0,6241236.0,NaN,NaN,361748.0,410951.0,...,2778101.0,60061.0,12803.0,NaN,NaN,84196.0,4943931.0,758703.0,NaN,312305.0
2024-03-26,NaN,360885.0,999390.0,1119497.0,7306069.0,6241236.0,NaN,NaN,361748.0,410951.0,...,2778101.0,60061.0,12803.0,NaN,NaN,84196.0,4943931.0,758703.0,NaN,312305.0
2024-03-25,NaN,360885.0,999390.0,1119497.0,7306069.0,6241236.0,NaN,NaN,361748.0,410951.0,...,2778101.0,60061.0,12803.0,NaN,NaN,84196.0,4943931.0,758703.0,NaN,312305.0
2024-03-22,NaN,360885.0,999390.0,1119497.0,7306069.0,6241236.0,NaN,NaN,361748.0,410951.0,...,2778101.0,60061.0,12803.0,NaN,NaN,84196.0,4943931.0,758703.0,NaN,312305.0

In [19]:
pmart['日報酬率(%)'].sort_index(ascending=False)

symbol,0015,0029,0050,0051,0052,0053,0055,0056,0057,0061,...,IX0059,IX0060,IX0075,IX0085,IX0099,IX0118,MSCI,T1001Y,T1010Y,T1012Y
datetime,,,,,,,,,,,,,,,,,,,,,
2024-04-02,0.0,1.2581,1.4295,0.0000,2.0151,1.8757,-0.2765,0.7325,1.3775,-0.3490,...,-0.1669,0.4918,1.6493,0.6206,1.8698,0.2900,1.6478,0.0,1.2581,0.0
2024-04-01,0.0,-0.9422,-0.3167,0.4456,-0.3139,-0.6407,-0.2364,-0.6774,-0.5991,1.7762,...,0.0191,0.2218,-0.1288,-0.1017,2.5392,0.7999,-0.8808,0.0,-0.9422,0.0
2024-03-29,0.0,0.0000,0.6373,0.1913,0.3465,0.6448,0.7943,0.3020,0.6894,-0.2363,...,0.4311,1.2910,0.9850,1.2753,0.4914,0.8616,1.0194,0.0,0.0000,0.0
2024-03-28,0.0,0.0000,-0.4757,0.0638,-0.2200,-0.4086,-0.4743,0.4804,-0.3435,0.4152,...,-0.9865,-0.3341,2.3346,-0.2398,-1.1167,-0.2892,-0.3761,0.0,0.0000,0.0
2024-03-27,0.0,0.0000,0.0317,0.3201,-0.1255,0.4103,0.0000,0.7900,-0.0429,0.3571,...,0.8659,1.4313,2.5352,0.7345,2.1197,1.1573,0.2073,0.0,0.0000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-11-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-11-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-11-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN