In [2]:
import os
import sys
sys.path.append('..')
from backtest.operators import * 
from data_center.tej_handler import TEJHandler
from monitor.tw_monitor import TWMarketMonitor

from pymongo import MongoClient
import tejapi

import pandas as pd
import numpy as np
from datetime import date
from dateutil.relativedelta import relativedelta
# TEJHandler()

In [11]:
collection = "securities_property"
pstage = TWMarketMonitor().get_data_from_mongo('PSTAGE', collection, limit = 500000)
pstage

,_id,證券碼,目前狀態,證券名稱,證券全稱,英文簡稱,英文全稱,統一編號,上市別,證券種類代碼,證券種類名稱,上市日,下市日,TSE業別,TSE產業名,TSE產業名(英文)
0,6604e07ad89563f0a1d78d99,2514,2024-01-01,龍邦,龍邦國際興業,Long Bon,"Long Bon International Co., Lt",22817273,TSE,STOCK,普通股,1992-09-26,NaT,20,其他,Others
1,6604e07ad89563f0a1d79217,5267,2024-01-01,龍翩,龍翩真空科技,Lung Pien,"Lung Pien Vacuum Indstry Co.,",27390847,ROTC,STOCK,普通股,NaT,NaT,26,光電業,Optoelectronic
2,6604e07ad89563f0a1d794de,6753,2024-01-01,龍德造船,龍德造船工業,LungTeh,"Lung Teh Shipbuilding Co., Ltd",40607762,TSE,STOCK,普通股,2023-03-10,NaT,15,航運業,Shipping & Trans.
3,6604e07ad89563f0a1d792a8,5530,2024-01-01,龍巖,龍巖,Lung Yen,Lungyen Life Service Corp.,22415496,OTC,STOCK,普通股,2000-10-04,NaT,20,其他,Others
4,6604e07ad89563f0a1d79044,3611,2024-01-01,鼎翰,鼎翰科技,TSC Auto ID,"TSC Auto ID Technology Co.,Ltd",28624652,OTC,STOCK,普通股,2008-11-26,NaT,25,電腦及週邊,Computer & Periphera
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3458,6604e07ad89563f0a1d7967a,8414,2020-01-01,F-富怡,英屬開曼群島商富怡國際,FIL,Ferrell International Limited,8414,DIST,STOCK,普通股,NaT,2012-07-03,18,貿易百貨,Trading & Cons.
3459,6604e07ad89563f0a1d79064,3651,2020-01-01,F-天鵬,天鵬盛電子,Keen High,Keen High Technologies Limited,28988858,DIST,STOCK,普通股,NaT,2014-01-22,31,其他電子業,Other Electronic
3460,6604e07ad89563f0a1d7905c,3638,2020-01-01,F-IML,安恩科技,IML,Integrated Memory Logic Limite,28982833,DIST,STOCK,普通股,2010-05-18,2014-09-10,24,半導體,Semiconductor
3461,6604e07ad89563f0a1d79216,5266,2020-01-01,F*AS,"Auto Server Co., Ltd.",AS,"Auto Server Co., Ltd.",38493428,DIST,STOCK,普通股,2014-01-14,2016-03-24,30,資訊服務業,Information Service
3462,6604e07ad89563f0a1d796b4,8705,2020-01-01,D 東隆,D 東隆五金工業,Tong Lung Metal,Tong Lung Metal Industry Co.,66426273,DIST,STOCK,普通股,1994-11-10,2013-01-01,20,其他,Others

In [7]:
pstage_rename = TWMarketMonitor().rename_symbol_and_datetime(pstage,collection)
dict_pdate = TWMarketMonitor().unstack_data(pstage_rename)
dict_pdate

ValueError: Index contains duplicate entries, cannot reshape

In [3]:
collection = "securities_property"
securities_property = TWMarketMonitor().directly_get_pmart(collection) 
SP_key_list = list(securities_property.keys())
SP_key_list

{'證券名稱': symbol        0001 000116   0002  0003    0004  0005  0006  0007    0008  \
 datetime
 2020-01-01  野村鴻運基金   日盛證券  第一金福元  匯豐成長  兆豐國際國民  匯豐成功  荷銀鴻福  匯豐成龍  野村鴻揚貨幣
 2021-01-01     NaN    NaN    NaN   NaN     NaN   NaN   NaN   NaN     NaN
 2022-01-01     NaN    NaN    NaN   NaN     NaN   NaN   NaN   NaN     NaN
 2023-01-01     NaN    NaN    NaN   NaN     NaN   NaN   NaN   NaN     NaN
 2024-01-01     NaN    NaN    NaN   NaN     NaN   NaN   NaN   NaN     NaN

 symbol      0009  ... T2503Y T2506Y  T2520Y T3701Y T3706Y  T3707Y T3714Y  \
 datetime          ...
 2020-01-01  建弘廣福  ...  永豐高科技   永豐中小  永豐領航科技    NaN    NaN     NaN    NaN
 2021-01-01   NaN  ...    NaN    NaN     NaN    NaN    NaN     NaN    NaN
 2022-01-01   NaN  ...    NaN    NaN     NaN   國泰國泰  國泰大中華  國泰科技生化   國泰小龍
 2023-01-01   NaN  ...    NaN    NaN     NaN    NaN    NaN     NaN    NaN
 2024-01-01   NaN  ...    NaN    NaN     NaN    NaN    NaN     NaN    NaN

 symbol      T3735Y T4706Y    T4720Y
 datetime
 2020-01-01  國泰價值卓越   台新主流  台新2000高科
 2021-01-01     NaN    NaN       NaN
 2022-01-01     NaN    NaN       NaN
 2023-01-01     NaN    NaN       NaN
 2024-01-01     NaN    NaN       NaN

 [5 rows x 3457 columns],
 '證券全稱': symbol     0001 000116           0002          0003 0004 0005          0006  \
 datetime
 2020-01-01        日盛證券  第一金福元證券投資信託基金  匯豐成長證券投資信託基金            荷銀鴻福證券投資信託基金
 2021-01-01  NaN    NaN            NaN           NaN  NaN  NaN           NaN
 2022-01-01  NaN    NaN            NaN           NaN  NaN  NaN           NaN
 2023-01-01  NaN    NaN            NaN           NaN  NaN  NaN           NaN
 2024-01-01  NaN    NaN            NaN           NaN  NaN  NaN           NaN

 symbol              0007 0008          0009  ...         T2503Y  \
 datetime                                     ...
 2020-01-01  匯豐成龍證券投資信託基金       建弘廣福證券投資信託基金  ...  永豐高科技證券投資信託基金
 2021-01-01           NaN  NaN           NaN  ...            NaN
 2022-01-01           NaN  NaN           NaN  ...            NaN
 2023-01-01           NaN  NaN           NaN  ...            NaN
 2024-01-01           NaN  NaN           NaN  ...            NaN

 symbol                 T2506Y          T2520Y         T3701Y         T3706Y  \
 datetime
 2020-01-01  永豐中小證券投資信託基金A TWD  永豐領航科技證券投資信託基金            NaN            NaN
 2021-01-01                NaN             NaN            NaN            NaN
 2022-01-01                NaN             NaN  國泰國泰證券投資信託基金A  國泰大中華證券投資信託基金
 2023-01-01                NaN             NaN            NaN            NaN
 2024-01-01                NaN             NaN            NaN            NaN

 symbol              T3707Y       T3714Y    T3735Y        T4706Y  \
 datetime
 2020-01-01             NaN          NaN  國泰價值卓越基金  台新主流證券投資信託基金
 2021-01-01             NaN          NaN       NaN           NaN
 2022-01-01  國泰科技生化證券投資信託基金  國泰小龍基金A TWD       NaN           NaN
 2023-01-01             NaN          NaN       NaN           NaN
 2024-01-01             NaN          NaN       NaN           NaN

 symbol                 T4720Y
 datetime
 2020-01-01  台新2000高科技證券投資信託基金
 2021-01-01                NaN
 2022-01-01                NaN
 2023-01-01                NaN
 2024-01-01                NaN

 [5 rows x 3457 columns],
 '英文簡稱': symbol     0001              000116                0002                0003  \
 datetime
 2020-01-01       Jih Sun Securities  FSITC Fu Yuan Fund  HSBC Taiwan Growth
 2021-01-01  NaN                 NaN                 NaN                 NaN
 2022-01-01  NaN                 NaN                 NaN                 NaN
 2023-01-01  NaN                 NaN                 NaN                 NaN
 2024-01-01  NaN                 NaN                 NaN                 NaN

 symbol     0004 0005                  0006                0007 0008  \
 datetime
 2020-01-01            ABN AMRO Fortune Fun  HSBC Taiwan Dragon
 2021-01-01  NaN  NaN                   NaN                 NaN  NaN
 2022-01-01  NaN  NaN                   NaN                 NaN  NaN
 2023-01-01  NaN  NaN                   NaN                 NaN  NaN
 2024-01-01  NaN  NaN                   NaN                 NaN  NaN

 symbol                    0009  ...                T2503Y           T2506Y  \
 datetime                        ...
 2020-01-01  NITC Great Fortune  ...  SinoPac Hi-Tech Fund  SP Small& Med A
 2021-01-01                 NaN  ...                   NaN              NaN
 2022-01-01                 NaN  ...                   NaN              NaN
 2023-01-01                 NaN  ...                   NaN              NaN
 2024-01-01                 NaN  ...                   NaN              NaN

 symbol                  T2520Y              T3701Y                T3706Y  \
 datetime
 2020-01-01  SinoPac Pilot Fund                 NaN                   NaN
 2021-01-01                 NaN                 NaN                   NaN
 2022-01-01                 NaN  Cathay Cathay Fd A  Cathay Greater China
 2023-01-01                 NaN                 NaN                   NaN
 2024-01-01                 NaN                 NaN                   NaN

 symbol                 T3707Y         T3714Y            T3735Y  \
 datetime
 2020-01-01                NaN            NaN  Cathay Val.&Sup.
 2021-01-01                NaN            NaN               NaN
 2022-01-01  Cathay Tech. Fund  Cathay Dragon               NaN
 2023-01-01                NaN            NaN               NaN
 2024-01-01                NaN            NaN               NaN

 symbol                  T4706Y              T4720Y
 datetime
 2020-01-01  Taishin Mainstream  TS 2000 High Tech.
 2021-01-01                 NaN                 NaN
 2022-01-01                 NaN                 NaN
 2023-01-01                 NaN                 NaN
 2024-01-01                 NaN                 NaN

 [5 rows x 3457 columns],
 '英文全稱': symbol                                0001                        000116  \
 datetime
 2020-01-01  Nomura Taiwan Growth Selection  Jih Sun Securities Co., Ltd.
 2021-01-01                             NaN                           NaN
 2022-01-01                             NaN                           NaN
 2023-01-01                             NaN                           NaN
 2024-01-01                             NaN                           NaN

 symbol                   0002               0003          0004  \
 datetime
 2020-01-01  NITC Fu-Yuan Fund  China Growth Fund  Citizen Fund
 2021-01-01                NaN                NaN           NaN
 2022-01-01                NaN                NaN           NaN
 2023-01-01                NaN                NaN           NaN
 2024-01-01                NaN                NaN           NaN

 symbol                    0005                       0006               0007  \
 datetime
 2020-01-01  China Success Fund  ABN-AMRO Hua Fortune Fund  China Dragon Fund
 2021-01-01                 NaN                        NaN                NaN
 2022-01-01                 NaN                        NaN                NaN
 2023-01-01                 NaN                        NaN                NaN
 2024-01-01                 NaN                        NaN                NaN

 symbol                              0008                     0009  ...  \
 datetime                                                           ...
 2020-01-01  NMR Income Money Market Fund  NITC Great Fortune Fund  ...
 2021-01-01                           NaN                      NaN  ...
 2022-01-01                           NaN                      NaN  ...
 2023-01-01                           NaN                      NaN  ...
 2024-01-01                           NaN                      NaN  ...

 symbol                             T2503Y                         T2506Y  \
 datetime
 2020-01-01  SinoPac Securities Investment  SinoPac Small and Medium Fund
 2021-01-01                            NaN                            NaN
 2022-01-01                            NaN                            NaN
 2023-01-01                            NaN                            NaN
 2024-01-01                            NaN                            NaN

 symbol                  T2520Y              T3701Y                     T3706Y  \
 datetime
 2020-01-01  SinoPac Pilot Fund                 NaN                        NaN
 2021-01-01                 NaN                 NaN                        NaN
 2022-01-01                 NaN  Cathay Cathay Fund  Cathay Greater China Fund
 2023-01-01                 NaN                 NaN                        NaN
 2024-01-01                 NaN                 NaN                        NaN

 symbol                              T3707Y              T3714Y  \
 datetime
 2020-01-01                             NaN                 NaN
 2021-01-01                             NaN                 NaN
 2022-01-01  Cathay Securities Investment T  Cathay Dragon Fund
 2023-01-01                             NaN                 NaN
 2024-01-01                             NaN                 NaN

 symbol                              T3735Y                   T4706Y  \
 datetime
 2020-01-01  Cathay Value and Superior Fund  Taishin Mainstream Fund
 2021-01-01                             NaN                      NaN
 2022-01-01                             NaN                      NaN
 2023-01-01                             NaN                      NaN
 2024-01-01                             NaN                      NaN

 symbol                            T4720Y
 datetime
 2020-01-01  Taishin 2000 High Tech. Fund
 2021-01-01                           NaN
 2022-01-01                           NaN
 2023-01-01                           NaN
 2024-01-01                           NaN

 [5 rows x 3457 columns],
 '統一編號': symbol     0001    000116 0002 0003 0004 0005 0006 0007 0008 0009  ... T2503Y  \
 datetime                                                           ...
 2020-01-01       03098908                                          ...
 2021-01-01  NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...    NaN
 2022-01-01  NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...    NaN
 2023-01-01  NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...    NaN
 2024-01-01  NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...    NaN

 symbol     T2506Y T2520Y T3701Y T3706Y T3707Y T3714Y T3735Y T4706Y T4720Y
 datetime
 2020-01-01                  NaN    NaN    NaN    NaN
 2021-01-01    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
 2022-01-01    NaN    NaN                                NaN    NaN    NaN
 2023-01-01    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
 2024-01-01    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

 [5 rows x 3457 columns],
 '上市別': symbol      0001 000116  0002  0003  0004  0005  0006  0007  0008  0009  ...  \
 datetime                                                                 ...
 2020-01-01  DIST   DIST  DIST  DIST  DIST  DIST  DIST  DIST  DIST  DIST  ...
 2021-01-01   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
 2022-01-01   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
 2023-01-01   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
 2024-01-01   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...

 symbol     T2503Y T2506Y T2520Y T3701Y T3706Y T3707Y T3714Y T3735Y T4706Y  \
 datetime
 2020-01-01   DIST   DIST   DIST    NaN    NaN    NaN    NaN   DIST   DIST
 2021-01-01    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
 2022-01-01    NaN    NaN    NaN   DIST   DIST   DIST   DIST    NaN    NaN
 2023-01-01    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
 2024-01-01    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

 symbol     T4720Y
 datetime
 2020-01-01   DIST
 2021-01-01    NaN
 2022-01-01    NaN
 2023-01-01    NaN
 2024-01-01    NaN

 [5 rows x 3457 columns],
 '證券種類代碼': symbol      0001 000116  0002  0003  0004  0005  0006  0007  0008  0009  ...  \
 datetime                                                                 ...
 2020-01-01  FUND  STOCK  FUND  FUND  FUND  FUND  FUND  FUND  FUND  FUND  ...
 2021-01-01   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
 2022-01-01   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
 2023-01-01   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
 2024-01-01   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...

 symbol     T2503Y T2506Y T2520Y T3701Y T3706Y T3707Y T3714Y T3735Y T4706Y  \
 datetime
 2020-01-01   FUND   FUND   FUND    NaN    NaN    NaN    NaN   FUND   FUND
 2021-01-01    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
 2022-01-01    NaN    NaN    NaN   FUND   FUND   FUND   FUND    NaN    NaN
 2023-01-01    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
 2024-01-01    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

 symbol     T4720Y
 datetime
 2020-01-01   FUND
 2021-01-01    NaN
 2022-01-01    NaN
 2023-01-01    NaN
 2024-01-01    NaN

 [5 rows x 3457 columns],
 '證券種類名稱': symbol     0001 000116 0002 0003 0004 0005 0006 0007 0008 0009  ... T2503Y  \
 datetime                                                        ...
 2020-01-01   基金    普通股   基金   基金   基金   基金   基金   基金   基金   基金  ...     基金
 2021-01-01  NaN    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...    NaN
 2022-01-01  NaN    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...    NaN
 2023-01-01  NaN    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...    NaN
 2024-01-01  NaN    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...    NaN

 symbol     T2506Y T2520Y T3701Y T3706Y T3707Y T3714Y T3735Y T4706Y T4720Y
 datetime
 2020-01-01     基金     基金    NaN    NaN    NaN    NaN     基金     基金     基金
 2021-01-01    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
 2022-01-01    NaN    NaN     基金     基金     基金     基金    NaN    NaN    NaN
 2023-01-01    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
 2024-01-01    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

 [5 rows x 3457 columns],
 '上市日': symbol           0001     000116       0002       0003       0004       0005  \
 datetime
 2020-01-01 1988-05-12 1996-06-28 1988-06-28 1988-07-12 1988-08-06 1990-10-06
 2021-01-01        NaT        NaT        NaT        NaT        NaT        NaT
 2022-01-01        NaT        NaT        NaT        NaT        NaT        NaT
 2023-01-01        NaT        NaT        NaT        NaT        NaT        NaT
 2024-01-01        NaT        NaT        NaT        NaT        NaT        NaT

 symbol           0006       0007       0008       0009  ... T2503Y T2506Y  \
 datetime                                                ...
 2020-01-01 1990-12-20 1992-01-29 1992-01-29 1992-02-24  ...    NaT    NaT
 2021-01-01        NaT        NaT        NaT        NaT  ...    NaT    NaT
 2022-01-01        NaT        NaT        NaT        NaT  ...    NaT    NaT
 2023-01-01        NaT        NaT        NaT        NaT  ...    NaT    NaT
 2024-01-01        NaT        NaT        NaT        NaT  ...    NaT    NaT

 symbol     T2520Y T3701Y T3706Y T3707Y T3714Y T3735Y T4706Y T4720Y
 datetime
 2020-01-01    NaT    NaT    NaT    NaT    NaT    NaT    NaT    NaT
 2021-01-01    NaT    NaT    NaT    NaT    NaT    NaT    NaT    NaT
 2022-01-01    NaT    NaT    NaT    NaT    NaT    NaT    NaT    NaT
 2023-01-01    NaT    NaT    NaT    NaT    NaT    NaT    NaT    NaT
 2024-01-01    NaT    NaT    NaT    NaT    NaT    NaT    NaT    NaT

 [5 rows x 3457 columns],
 '下市日': symbol           0001     000116       0002       0003       0004       0005  \
 datetime
 2020-01-01 2005-05-31 2002-02-05 1999-06-22 1998-01-08 2000-06-21 1998-02-02
 2021-01-01        NaT        NaT        NaT        NaT        NaT        NaT
 2022-01-01        NaT        NaT        NaT        NaT        NaT        NaT
 2023-01-01        NaT        NaT        NaT        NaT        NaT        NaT
 2024-01-01        NaT        NaT        NaT        NaT        NaT        NaT

 symbol           0006       0007       0008       0009  ...     T2503Y  \
 datetime                                                ...
 2020-01-01 1998-02-26 1996-02-09 1994-11-29 1994-09-17  ... 2019-06-28
 2021-01-01        NaT        NaT        NaT        NaT  ...        NaT
 2022-01-01        NaT        NaT        NaT        NaT  ...        NaT
 2023-01-01        NaT        NaT        NaT        NaT  ...        NaT
 2024-01-01        NaT        NaT        NaT        NaT  ...        NaT

 symbol         T2506Y     T2520Y     T3701Y     T3706Y     T3707Y     T3714Y  \
 datetime
 2020-01-01 2019-06-28 2019-06-28        NaT        NaT        NaT        NaT
 2021-01-01        NaT        NaT        NaT        NaT        NaT        NaT
 2022-01-01        NaT        NaT 2022-12-02 2022-12-02 2022-12-02 2022-12-02
 2023-01-01        NaT        NaT        NaT        NaT        NaT        NaT
 2024-01-01        NaT        NaT        NaT        NaT        NaT        NaT

 symbol         T3735Y     T4706Y     T4720Y
 datetime
 2020-01-01 2019-06-18 2018-07-27 2018-07-27
 2021-01-01        NaT        NaT        NaT
 2022-01-01        NaT        NaT        NaT
 2023-01-01        NaT        NaT        NaT
 2024-01-01        NaT        NaT        NaT

 [5 rows x 3457 columns],
 'TSE業別': symbol     0001 000116 0002 0003 0004 0005 0006 0007 0008 0009  ... T2503Y  \
 datetime                                                        ...
 2020-01-01          17                                          ...
 2021-01-01  NaN    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...    NaN
 2022-01-01  NaN    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...    NaN
 2023-01-01  NaN    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...    NaN
 2024-01-01  NaN    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...    NaN

 symbol     T2506Y T2520Y T3701Y T3706Y T3707Y T3714Y T3735Y T4706Y T4720Y
 datetime
 2020-01-01                  NaN    NaN    NaN    NaN
 2021-01-01    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
 2022-01-01    NaN    NaN                                NaN    NaN    NaN
 2023-01-01    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
 2024-01-01    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

 [5 rows x 3457 columns],
 'TSE產業名': symbol     0001 000116 0002 0003 0004 0005 0006 0007 0008 0009  ... T2503Y  \
 datetime                                                        ...
 2020-01-01         金融業                                          ...
 2021-01-01  NaN    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...    NaN
 2022-01-01  NaN    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...    NaN
 2023-01-01  NaN    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...    NaN
 2024-01-01  NaN    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...    NaN

 symbol     T2506Y T2520Y T3701Y T3706Y T3707Y T3714Y T3735Y T4706Y T4720Y
 datetime
 2020-01-01                  NaN    NaN    NaN    NaN
 2021-01-01    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
 2022-01-01    NaN    NaN                                NaN    NaN    NaN
 2023-01-01    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
 2024-01-01    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

 [5 rows x 3457 columns],
 'TSE產業名(英文)': symbol     0001     000116 0002 0003 0004 0005 0006 0007 0008 0009  ...  \
 datetime                                                            ...
 2020-01-01       Financial                                          ...
 2021-01-01  NaN        NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...
 2022-01-01  NaN        NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...
 2023-01-01  NaN        NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...
 2024-01-01  NaN        NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...

 symbol     T2503Y T2506Y T2520Y T3701Y T3706Y T3707Y T3714Y T3735Y T4706Y  \
 datetime

In [7]:
SP_key_list = list(securities_property.keys())
SP_key_list

['證券名稱',
 '證券全稱',
 '英文簡稱',
 '英文全稱',
 '統一編號',
 '上市別',
 '證券種類代碼',
 '證券種類名稱',
 '上市日',
 '下市日',
 'TSE業別',
 'TSE產業名',
 'TSE產業名(英文)']

In [15]:
securities_property[SP_key_list[6]]

symbol,0001,000116,0002,0003,0004,0005,0006,0007,0008,0009,...,T2503Y,T2506Y,T2520Y,T3701Y,T3706Y,T3707Y,T3714Y,T3735Y,T4706Y,T4720Y
datetime,,,,,,,,,,,,,,,,,,,,,
2020-01-01,FUND,STOCK,FUND,FUND,FUND,FUND,FUND,FUND,FUND,FUND,...,FUND,FUND,FUND,NaN,NaN,NaN,NaN,FUND,FUND,FUND
2021-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,FUND,FUND,FUND,FUND,NaN,NaN,NaN
2023-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Get Weighting

In [2]:
collection = "monthly_revenue"
monthly_rev_pmart = TWMarketMonitor().directly_get_pmart(collection)

In [3]:
monthly_rev_pmart['revenue_yoy'] = monthly_rev_pmart['單月營收(千元)'] / monthly_rev_pmart['去年單月營收(千元)'] -1
example_factor = ts_rank(monthly_rev_pmart['revenue_yoy'],252)

In [4]:
def get_weighting(factor):
    demean = factor.sub(factor.mean(axis=1), axis=0)
    weighting = demean.div(demean.abs().sum(axis=1), axis=0)
    return weighting

### 假設出訊號後隔天收盤進場

In [5]:
example_signal = get_weighting(example_factor)
example_weighting = example_signal.shift(2) #隔天收盤進場，後天才有部位

### Get returns

In [6]:
collection = 'securities_returns'
returns_pmart = TWMarketMonitor().directly_get_pmart(collection)

In [7]:
collection = 'securities_trading_data'
ohlcv_pmart = TWMarketMonitor().directly_get_pmart(collection)

In [65]:
ohlcv_pmart['開盤價']

symbol,0050,0051,0052,0053,0055,0056,0057,0061,006201,006203,...,9946,9949,9950,9951,9955,9957,9958,9960,9962,T1012Y
datetime,,,,,,,,,,,,,,,,,,,,,
2022-12-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.15,18.75,10.90,67.0,21.15,NaN,89.5,25.40,17.15,NaN
2022-12-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.20,19.10,10.50,67.1,20.85,NaN,88.4,26.20,17.35,NaN
2022-12-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.20,18.80,10.85,66.7,20.65,NaN,86.2,26.30,17.20,NaN
2022-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.25,18.85,10.85,66.1,20.40,NaN,88.0,26.45,17.10,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-28,157.30,78.35,158.80,85.35,25.39,39.55,115.80,16.82,21.95,74.50,...,25.50,18.90,17.15,73.4,23.55,6.46,224.0,27.00,17.90,NaN
2024-03-29,156.90,79.00,158.45,85.30,25.18,39.75,116.85,16.92,21.96,75.25,...,25.70,18.70,16.90,72.7,25.00,6.44,223.0,27.00,17.90,NaN
2024-04-01,158.20,78.70,160.00,85.95,25.38,39.89,117.85,16.90,22.25,75.90,...,25.50,18.60,17.00,72.4,25.15,6.44,220.0,27.10,18.10,NaN
2024-04-02,158.45,78.90,159.25,86.80,25.32,39.62,117.50,17.19,22.25,75.50,...,26.25,18.80,17.50,72.7,25.60,6.40,218.5,27.00,18.15,63.5
2024-04-03,158.65,78.80,161.20,85.70,25.25,39.69,117.25,17.23,22.18,75.75,...,26.70,18.80,17.30,72.6,26.00,6.38,213.5,26.90,18.30,63.5

In [49]:
example_returns = returns_pmart['日報酬率(%)']*0.01

### 將weighting 與 returns結合獲得績效

In [55]:
stocks = 20
top = example_weighting.apply(lambda row: row.nlargest(stocks), axis=1).fillna(0)
example_equalweight = top.applymap(lambda x: 1/stocks if x != 0 else 0)
recent_w_weighting = example_equalweight#[-5:].dropna(axis =1, how = 'all')
recent_w_weighting = recent_w_weighting.loc[:, (recent_w_weighting != 0.0).any(axis=0)]
recent_w_weighting

/var/folders/fx/jn0gghjd4cg68lr15nlpsbqr0000gn/T/ipykernel_9314/681453456.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  example_equalweight = top.applymap(lambda x: 1/stocks if x != 0 else 0)

symbol,000116,000930,000960,0009A0,1101,1102,1104,1107,1108,1109,...,3228,3229,3231,3259,3373,4542,4905,5355,5478,5516
datetime,,,,,,,,,,,,,,,,,,,,,
1990-01-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1990-01-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1990-01-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1990-01-08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1990-01-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2024-03-29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2024-04-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2024-04-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2024-04-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [56]:
recent_w_returns = example_returns * recent_w_weighting
recent_w_profit = recent_w_returns.dropna(axis =1, how='all').dropna(axis=0, how='all')
recent_w_profit

symbol,1101,1102,1104,1108,1109,1110,1210,1213,1215,1216,...,3228,3229,3231,3259,3373,4542,4905,5355,5478,5516
datetime,,,,,,,,,,,,,,,,,,,,,
2022-11-29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.0,0.0,0.0,...,-0.0,-0.0,0.0,-0.0,0.0,NaN,NaN,NaN,NaN,NaN
2022-11-30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.0,0.0,0.0
2022-12-01,0.0,-0.0,0.0,0.0,0.0,0.0,0.0,-0.0,0.0,-0.0,...,-0.0,0.0,-0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-12-02,-0.0,0.0,-0.0,-0.0,0.0,-0.0,0.0,0.0,-0.0,-0.0,...,-0.0,0.0,0.0,-0.0,0.0,-0.0,0.0,0.0,-0.0,0.0
2022-12-05,0.0,0.0,0.0,0.0,0.0,-0.0,0.0,0.0,-0.0,0.0,...,0.0,0.0,-0.0,0.0,0.0,0.0,0.0,-0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-28,0.0,-0.0,0.0,-0.0,-0.0,-0.0,-0.0,0.0,0.0,-0.0,...,-0.0,0.0,0.0,0.0,-0.0,-0.0,-0.0,0.0,-0.0,0.0
2024-03-29,0.0,0.0,0.0,-0.0,0.0,-0.0,0.0,-0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,-0.0,-0.0,0.0,-0.0,0.0,0.0
2024-04-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.0,...,0.0,-0.0,-0.0,-0.0,0.0,0.0,0.0,-0.0,-0.0,0.0
2024-04-02,-0.0,-0.0,-0.0,-0.0,0.0,0.0,-0.0,-0.0,0.0,-0.0,...,-0.0,0.0,0.0,0.0,0.0,0.0,-0.0,0.0,0.0,-0.0
2024-04-03,0.0,0.0,0.0,0.0,0.0,0.0,-0.0,-0.0,-0.0,-0.0,...,-0.0,-0.0,0.0,0.0,0.0,-0.0,0.0,-0.0,-0.0,0.0

In [61]:
recent_w_profit.sum(axis =1)#.sum()

datetime
2022-11-29    0.008785
2022-11-30    0.011908
2022-12-01    0.001652
2022-12-02   -0.001208
2022-12-05    0.002191
                ...
2024-03-28    0.003670
2024-03-29    0.000606
2024-04-01    0.004574
2024-04-02    0.002809
2024-04-03    0.001167
Length: 287, dtype: float64