In [1]:
import os
import sys
sys.path.append('..')
from data_center.tej_handler import TEJHandler
from monitor.tw_monitor import TWMarketMonitor

from pymongo import MongoClient
import tejapi

import pandas as pd
import numpy as np
from datetime import date
from dateutil.relativedelta import relativedelta
# TEJHandler()

In [2]:
collection = "monthly_revenue"
pstage = TWMarketMonitor().get_data_from_mongo('PSTAGE', collection, limit = 500000)
pdata = TWMarketMonitor().pdata_pipline(pstage, collection)
pmart = TWMarketMonitor().pmart_pipline(pdata, collection)
pmart['財報發布日']

KeyError: '財報發佈日'

In [5]:
pmart.keys()

dict_keys(['去年單月營收(千元)', '去年累積營收(千元)', '單月營收(千元)', '單月營收成長率%', '營收發布日', '累積營收(千元)', '累積營收成長率(%)'])

In [7]:
pmart['單月營收(千元)']

symbol,000116,000930,000960,0009A0,1101,1102,1103,1104,1107,1108,...,9946,9949,9950,9951,9955,9957,9958,9960,9962,L2301
datetime,,,,,,,,,,,,,,,,,,,,,
1990-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-01-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-27,NaN,466635.0,1602660.0,1265646.0,4798581.0,3599986.0,NaN,NaN,NaN,286337.0,...,2523.0,11404.0,NaN,NaN,76868.0,2663133.0,778820.0,NaN,149766.0,NaN
2024-03-28,NaN,466635.0,1602660.0,1265646.0,4798581.0,3599986.0,NaN,NaN,NaN,286337.0,...,2523.0,11404.0,NaN,NaN,76868.0,2663133.0,778820.0,NaN,149766.0,NaN
2024-03-29,NaN,466635.0,1602660.0,1265646.0,4798581.0,3599986.0,NaN,NaN,NaN,286337.0,...,2523.0,11404.0,NaN,NaN,76868.0,2663133.0,778820.0,NaN,149766.0,NaN
2024-04-01,NaN,466635.0,1602660.0,1265646.0,4798581.0,3599986.0,NaN,NaN,NaN,286337.0,...,2523.0,11404.0,NaN,NaN,76868.0,2663133.0,778820.0,NaN,149766.0,NaN
2024-04-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
pdata

{'去年單月營收(千元)': symbol        000116    000930    000960     0009A0        1101       1102  \
 datetime
 1996-04-01       NaN   55334.0  103209.0   147373.0   1450789.0  1149912.0
 1996-05-01       NaN   50589.0   99180.0   130409.0   1536590.0  1257875.0
 1996-06-01  189206.0   64516.0  143535.0   145409.0   1380420.0  1222279.0
 1996-07-01  188106.0   48147.0  110773.0   147450.0   1392820.0  1227922.0
 1996-08-01  157604.0   32431.0  100272.0   124299.0   1406466.0  1195892.0
 ...              ...       ...       ...        ...         ...        ...
 2023-11-01       NaN  429673.0  746615.0  1109097.0   9674576.0  8306062.0
 2023-12-01       NaN  415544.0  761193.0  1184490.0  12584154.0  8340507.0
 2024-01-01       NaN  282436.0  790171.0   840666.0   7325221.0  4814494.0
 2024-02-01       NaN  360885.0  999390.0  1119497.0   7306069.0  6241236.0
 2024-03-01       NaN       NaN       NaN        NaN         NaN        NaN

 symbol          1103      1104      1107      1108  ...      9946     9949  \
 datetime                                            ...
 1996-04-01  320453.0  286569.0  204399.0  345686.0  ...       NaN      NaN
 1996-05-01  339553.0  290383.0  239052.0  405875.0  ...       NaN      NaN
 1996-06-01  287199.0  238801.0  220796.0  416223.0  ...       NaN      NaN
 1996-07-01  278971.0  278663.0  207213.0  401893.0  ...       NaN      NaN
 1996-08-01  300516.0  307783.0  220977.0  408780.0  ...       NaN      NaN
 ...              ...       ...       ...       ...  ...       ...      ...
 2023-11-01  221763.0  631827.0       NaN  383773.0  ...  133308.0  18859.0
 2023-12-01  228644.0  725055.0       NaN  418099.0  ...   26801.0  29993.0
 2024-01-01  191217.0  504378.0       NaN  294901.0  ...   18769.0  15119.0
 2024-02-01  211050.0  591525.0       NaN  361748.0  ...   60061.0  12803.0
 2024-03-01       NaN       NaN       NaN       NaN  ...       NaN      NaN

 symbol          9950      9951     9955       9957       9958     9960  \
 datetime
 1996-04-01       NaN       NaN      NaN        NaN        NaN      NaN
 1996-05-01       NaN       NaN      NaN        NaN        NaN      NaN
 1996-06-01       NaN       NaN      NaN        NaN        NaN      NaN
 1996-07-01       NaN       NaN      NaN        NaN        NaN      NaN
 1996-08-01       NaN       NaN      NaN        NaN        NaN      NaN
 ...              ...       ...      ...        ...        ...      ...
 2023-11-01  214236.0  500111.0  91270.0        NaN   944060.0  96570.0
 2023-12-01  282439.0  506796.0  84115.0        NaN  1082675.0  58764.0
 2024-01-01  262023.0  368737.0  83424.0  4109752.0   689192.0  59256.0
 2024-02-01  191612.0  411041.0  84196.0  4943931.0   758703.0  61630.0
 2024-03-01       NaN       NaN      NaN        NaN        NaN      NaN

 symbol          9962     L2301
 datetime
 1996-04-01       NaN       NaN
 1996-05-01       NaN  756194.0
 1996-06-01       NaN  768838.0
 1996-07-01       NaN  763727.0
 1996-08-01       NaN  871616.0
 ...              ...       ...
 2023-11-01  308663.0       NaN
 2023-12-01  385673.0       NaN
 2024-01-01  281173.0       NaN
 2024-02-01  312305.0       NaN
 2024-03-01       NaN       NaN

 [336 rows x 2595 columns],
 '去年累積營收(千元)': symbol         000116     000930      000960      0009A0         1101  \
 datetime
 1996-04-01        NaN   294016.0    499384.0    648710.0    5603088.0
 1996-05-01  1062455.0   344605.0    598564.0    779119.0    7139678.0
 1996-06-01  1251661.0   409120.0    742099.0    924528.0    8520098.0
 1996-07-01  1439767.0   444851.0    852871.0   1073328.0    9912918.0
 1996-08-01  1597371.0   476256.0    953144.0   1197628.0   11319383.0
 ...               ...        ...         ...         ...          ...
 2023-11-01        NaN  4231259.0  10669891.0  10252491.0  100384633.0
 2023-12-01        NaN  4646803.0  11431084.0  11436980.0  112968787.0
 2024-01-01        NaN   282436.0    790171.0    840666.0    7325221.0
 2024-02-01        NaN   643321.0   1789561.0   1960163.0   14631290.0
 2024-03-01        NaN        NaN         NaN         NaN          NaN

 symbol            1102       1103       1104       1107       1108  ...  \
 datetime                                                            ...
 1996-04-01   4476543.0  1237489.0  1134414.0   790743.0  1277036.0  ...
 1996-05-01   5734418.0  1577042.0  1424797.0  1029795.0  1682951.0  ...
 1996-06-01   6956697.0  1864241.0  1663598.0  1250591.0  2099174.0  ...
 1996-07-01   8184619.0  2143212.0  1942261.0  1457804.0  2501067.0  ...
 1996-08-01   9380511.0  2443728.0  2250044.0  1678782.0  2909807.0  ...
 ...                ...        ...        ...        ...        ...  ...
 2023-11-01  82003956.0  2025015.0  6330757.0        NaN  3731154.0  ...
 2023-12-01  90344463.0  2253659.0  7055812.0        NaN  4149253.0  ...
 2024-01-01   4814494.0   191217.0   504378.0        NaN   294901.0  ...
 2024-02-01  11055730.0   402267.0  1095903.0        NaN   656649.0  ...
 2024-03-01         NaN        NaN        NaN        NaN        NaN  ...

 symbol           9946      9949       9950       9951       9955       9957  \
 datetime
 1996-04-01        NaN       NaN        NaN        NaN        NaN        NaN
 1996-05-01        NaN       NaN        NaN        NaN        NaN        NaN
 1996-06-01        NaN       NaN        NaN        NaN        NaN        NaN
 1996-07-01        NaN       NaN        NaN        NaN        NaN        NaN
 1996-08-01        NaN       NaN        NaN        NaN        NaN        NaN
 ...               ...       ...        ...        ...        ...        ...
 2023-11-01  2246901.0  181911.0  2008259.0  4343238.0  1077891.0        NaN
 2023-12-01  2273702.0  211904.0  2290698.0  4850034.0  1162006.0        NaN
 2024-01-01    18769.0   15119.0   262023.0   368737.0    83424.0  4109752.0
 2024-02-01    78830.0   27922.0   453635.0   779778.0   167620.0  9053683.0
 2024-03-01        NaN       NaN        NaN        NaN        NaN        NaN

 symbol           9958      9960       9962      L2301
 datetime
 1996-04-01        NaN       NaN        NaN        NaN
 1996-05-01        NaN       NaN        NaN  3450561.0
 1996-06-01        NaN       NaN        NaN  4219399.0
 1996-07-01        NaN       NaN        NaN  4976117.0
 1996-08-01        NaN       NaN        NaN  5847733.0
 ...               ...       ...        ...        ...
 2023-11-01  8133269.0  890176.0  3145132.0        NaN
 2023-12-01  9215944.0  948940.0  3530805.0        NaN
 2024-01-01   689192.0   59256.0   281173.0        NaN
 2024-02-01  1447895.0  120886.0   593478.0        NaN
 2024-03-01        NaN       NaN        NaN        NaN

 [336 rows x 2595 columns],
 '單月營收(千元)': symbol        000116    000930     000960     0009A0       1101       1102  \
 datetime
 1996-04-01  358297.0  106301.0   143812.0   274567.0  1297276.0  1290885.0
 1996-05-01  282521.0   58895.0   231041.0   290362.0  1311739.0  1286520.0
 1996-06-01  280811.0   75905.0   220640.0   229905.0  1381932.0  1383600.0
 1996-07-01  225128.0   64056.0   129794.0   195770.0  1318492.0  1297169.0
 1996-08-01  225160.0   83975.0   198646.0   193356.0  1280747.0  1290815.0
 ...              ...       ...        ...        ...        ...        ...
 2023-11-01       NaN  592499.0  1814663.0  1386294.0  8786909.0  6915817.0
 2023-12-01       NaN  517558.0  1952634.0  1482048.0  9514039.0  6313936.0
 2024-01-01       NaN  508334.0  1831101.0  1642913.0  7237930.0  6490566.0
 2024-02-01       NaN  466635.0  1602660.0  1265646.0  4798581.0  3599986.0
 2024-03-01       NaN       NaN        NaN        NaN        NaN        NaN

 symbol          1103      1104      1107      1108  ...      9946     9949  \
 datetime                                            ...
 1996-04-01  319602.0  303133.0  188023.0  339426.0  ...       NaN      NaN
 1996-05-01  271042.0  281160.0  148778.0  364513.0  ...       NaN      NaN
 1996-06-01  258041.0  273827.0  198815.0  409822.0  ...       NaN      NaN
 1996-07-01  277424.0  287487.0  154258.0  408710.0  ...       NaN      NaN
 1996-08-01  280419.0  250799.0  148764.0  367943.0  ...       NaN      NaN
 ...              ...       ...       ...       ...  ...       ...      ...
 2023-11-01  255428.0  777614.0       NaN  503715.0  ...  105001.0  17917.0
 2023-12-01  283279.0  742480.0       NaN  449490.0  ...  144819.0  22478.0
 2024-01-01  242960.0  680762.0       NaN  457149.0  ...    2517.0  18182.0
 2024-02-01  201295.0  477355.0       NaN  286337.0  ...    2523.0  11404.0
 2024-03-01       NaN       NaN       NaN       NaN  ...       NaN      NaN

 symbol          9950      9951      9955       9957       9958     9960  \
 datetime
 1996-04-01       NaN       NaN       NaN        NaN        NaN      NaN
 1996-05-01       NaN       NaN       NaN        NaN        NaN      NaN
 1996-06-01       NaN       NaN       NaN        NaN        NaN      NaN
 1996-07-01       NaN       NaN       NaN        NaN        NaN      NaN
 1996-08-01       NaN       NaN       NaN        NaN        NaN      NaN
 ...              ...       ...       ...        ...        ...      ...
 2023-11-01  173879.0  519328.0   86398.0        NaN  1546059.0  92299.0
 2023-12-01  220819.0  454478.0   89234.0        NaN  2135974.0  56963.0
 2024-01-01  229513.0  446429.0  124524.0  3455171.0  1298476.0  49458.0
 2024-02-01  234168.0  368284.0   76868.0  2663133.0   778820.0  47141.0
 2024-03-01       NaN       NaN       NaN        NaN        NaN      NaN

 symbol          9962      L2301
 datetime
 1996-04-01       NaN        NaN
 1996-05-01       NaN   847913.0
 1996-06-01       NaN   800211.0
 1996-07-01       NaN   954749.0
 1996-08-01       NaN  1046322.0
 ...              ...        ...
 2023-11-01  275411.0        NaN
 2023-12-01  432453.0        NaN
 2024-01-01  207195.0        NaN
 2024-02-01  149766.0        NaN
 2024-03-01       NaN        NaN

 [336 rows x 2595 columns],
 '單月營收成長率%': symbol      000116  000930  000960  0009A0   1101   1102   1103   1104   1107  \
 datetime
 1996-04-01     NaN   92.11   39.34   86.31 -10.58  12.26  -0.27   5.78  -8.01
 1996-05-01     NaN   16.42  132.95  122.65 -14.63   2.28 -20.18  -3.18 -37.76
 1996-06-01   48.42   17.65   53.72   58.11   0.11  13.20 -10.15  14.67  -9.96
 1996-07-01   19.68   33.04   17.17   32.77  -5.34   5.64  -0.55   3.17 -25.56
 1996-08-01   42.86  158.93   98.11   55.56  -8.94   7.94  -6.69 -18.51 -32.68
 ...            ...     ...     ...     ...    ...    ...    ...    ...    ...
 2023-11-01     NaN   37.90  143.05   24.99  -9.18 -16.74  15.18  23.07    NaN
 2023-12-01     NaN   24.55  156.52   25.12 -24.40 -24.30  23.90   2.40    NaN
 2024-01-01     NaN   79.98  131.73   95.43  -1.19  34.81  27.06  34.97    NaN
 2024-02-01     NaN   29.30   60.36   13.05 -34.32 -42.32  -4.62 -19.30    NaN
 2024-03-01     NaN     NaN     NaN     NaN    NaN    NaN    NaN    NaN    NaN

 symbol       1108  ...    9946   9949   9950   9951   9955   9957   9958  \
 datetime           ...
 1996-04-01  -1.81  ...     NaN    NaN    NaN    NaN    NaN    NaN    NaN
 1996-05-01 -10.19  ...     NaN    NaN    NaN    NaN    NaN    NaN    NaN
 1996-06-01  -1.54  ...     NaN    NaN    NaN    NaN    NaN    NaN    NaN
 1996-07-01   1.70  ...     NaN    NaN    NaN    NaN    NaN    NaN    NaN
 1996-08-01  -9.99  ...     NaN    NaN    NaN    NaN    NaN    NaN    NaN
 ...           ...  ...     ...    ...    ...    ...    ...    ...    ...
 2023-11-01  31.25  ...  -21.23  -4.99 -18.84   3.84  -5.34    NaN  63.77
 2023-12-01   7.51  ...  440.35 -25.06 -21.82 -10.32   6.09    NaN  97.29
 2024-01-01  55.02  ...  -86.59  20.26 -12.41  21.07  49.27 -15.93  88.41
 2024-02-01 -20.85  ...  -95.80 -10.93  22.21 -10.40  -8.70 -46.13   2.65
 2024-03-01    NaN  ...     NaN    NaN    NaN    NaN    NaN    NaN    NaN

 symbol       9960   9962  L2301
 datetime
 1996-04-01    NaN    NaN    NaN
 1996-05-01    NaN    NaN  12.13
 1996-06-01    NaN    NaN   4.08
 1996-07-01    NaN    NaN  25.01
 1996-08-01    NaN    NaN  20.04
 ...           ...    ...    ...
 2023-11-01  -4.42 -10.77    NaN
 2023-12-01  -3.06  12.13    NaN
 2024-01-01 -16.54 -26.31    NaN
 2024-02-01 -23.51 -52.04    NaN
 2024-03-01    NaN    NaN    NaN

 [336 rows x 2595 columns],
 '營收發布日': symbol     000116     000930     000960     0009A0       1101       1102  \
 datetime
 1996-04-01    NaT        NaT        NaT        NaT        NaT        NaT
 1996-05-01    NaT        NaT        NaT        NaT        NaT        NaT
 1996-06-01    NaT        NaT        NaT        NaT        NaT        NaT
 1996-07-01    NaT        NaT        NaT        NaT        NaT        NaT
 1996-08-01    NaT        NaT        NaT        NaT        NaT        NaT
 ...           ...        ...        ...        ...        ...        ...
 2023-11-01    NaT 2023-12-06 2023-12-11 2023-12-07 2023-12-11 2023-12-08
 2023-12-01    NaT 2024-01-05 2024-01-10 2024-01-09 2024-01-10 2024-01-10
 2024-01-01    NaT 2024-02-06 2024-02-15 2024-02-06 2024-02-15 2024-02-15
 2024-02-01    NaT 2024-03-06 2024-03-08 2024-03-07 2024-03-08 2024-03-08
 2024-03-01    NaT        NaT        NaT        NaT        NaT        NaT

 symbol           1103       1104 1107       1108  ...       9946       9949  \
 datetime                                          ...
 1996-04-01        NaT        NaT  NaT        NaT  ...        NaT        NaT
 1996-05-01        NaT        NaT  NaT        NaT  ...        NaT        NaT
 1996-06-01        NaT        NaT  NaT        NaT  ...        NaT        NaT
 1996-07-01        NaT        NaT  NaT        NaT  ...        NaT        NaT
 1996-08-01        NaT        NaT  NaT        NaT  ...        NaT        NaT
 ...               ...        ...  ...        ...  ...        ...        ...
 2023-11-01 2023-12-11 2023-12-08  NaT 2023-12-11  ... 2023-12-06 2023-12-08
 2023-12-01 2024-01-10 2024-01-10  NaT 2024-01-09  ... 2024-01-09 2024-01-10
 2024-01-01 2024-02-15 2024-02-15  NaT 2024-02-07  ... 2024-02-06 2024-02-15
 2024-02-01 2024-03-11 2024-03-11  NaT 2024-03-07  ... 2024-03-08 2024-03-08
 2024-03-01        NaT        NaT  NaT        NaT  ...        NaT        NaT

 symbol           9950       9951       9955       9957       9958       9960  \
 datetime
 1996-04-01        NaT        NaT        NaT        NaT        NaT        NaT
 1996-05-01        NaT        NaT        NaT        NaT        NaT        NaT
 1996-06-01        NaT        NaT        NaT        NaT        NaT        NaT
 1996-07-01        NaT        NaT        NaT        NaT        NaT        NaT
 1996-08-01        NaT        NaT        NaT        NaT        NaT        NaT
 ...               ...        ...        ...        ...        ...        ...
 2023-11-01 2023-12-11 2023-12-11 2023-12-08        NaT 2023-12-08 2023-12-08
 2023-12-01 2024-01-10 2024-01-10 2024-01-10        NaT 2024-01-09 2024-01-10
 2024-01-01 2024-02-07 2024-02-15 2024-02-07 2024-02-15 2024-02-07 2024-02-07
 2024-02-01 2024-03-11 2024-03-11 2024-03-08 2024-03-08 2024-03-08 2024-03-11
 2024-03-01        NaT        NaT        NaT        NaT        NaT        NaT

 symbol           9962 L2301
 datetime
 1996-04-01        NaT   NaT
 1996-05-01        NaT   NaT
 1996-06-01        NaT   NaT
 1996-07-01        NaT   NaT
 1996-08-01        NaT   NaT
 ...               ...   ...
 2023-11-01 2023-12-06   NaT
 2023-12-01 2024-01-05   NaT
 2024-01-01 2024-02-07   NaT
 2024-02-01 2024-03-07   NaT
 2024-03-01        NaT   NaT

 [336 rows x 2595 columns],
 '累積營收(千元)': symbol         000116     000930      000960      0009A0         1101  \
 datetime
 1996-04-01   743296.0   191045.0    428627.0    645002.0    5255919.0
 1996-05-01  1025817.0   249940.0    659668.0    935364.0    6567658.0
 1996-06-01  1306628.0   301836.0    880307.0   1165269.0    7949590.0
 1996-07-01  1523194.0   365892.0   1010102.0   1360646.0    9268081.0
 1996-08-01  1743158.0   449623.0   1208748.0   1554001.0   10548828.0
 ...               ...        ...         ...         ...          ...
 2023-11-01        NaN  5175331.0  16806409.0  13446057.0   99100658.0
 2023-12-01        NaN  5692889.0  18759043.0  14928105.0  108614697.0
 2024-01-01        NaN   508334.0   1831101.0   1642913.0    7237930.0
 2024-02-01        NaN   974969.0   3433761.0   2908559.0   12036511.0
 2024-03-01        NaN        NaN         NaN         NaN          NaN

 symbol            1102       1103       1104       1107       1108  ...  \
 datetime                                                            ...
 1996-04-01   5143501.0  1298104.0  1193165.0   808170.0  1434106.0  ...
 1996-05-01   6430020.0  1569146.0  1474325.0   956959.0  1798634.0  ...
 1996-06-01   7813621.0  1827187.0  1748152.0  1155774.0  2208455.0  ...
 1996-07-01   9110790.0  2104611.0  2035639.0  1310032.0  2620929.0  ...
 1996-08-01  10401605.0  2385030.0  2286438.0  1458796.0  2988872.0  ...
 ...                ...        ...        ...        ...        ...  ...
 2023-11-01  73861071.0  2628002.0  7059882.0        NaN  4645368.0  ...
 2023-12-01  80175007.0  2911281.0  7802362.0        NaN  5094858.0  ...
 2024-01-01   6490566.0   242960.0   680762.0        NaN   457149.0  ...
 2024-02-01  10090552.0   444255.0  1158116.0        NaN   743486.0  ...
 2024-03-01         NaN        NaN        NaN        NaN        NaN  ...

 symbol          9946      9949       9950       9951       9955       9957  \
 datetime
 1996-04-01       NaN       NaN        NaN        NaN        NaN        NaN
 1996-05-01       NaN       NaN        NaN        NaN        NaN        NaN
 1996-06-01       NaN       NaN        NaN        NaN        NaN        NaN
 1996-07-01       NaN       NaN        NaN        NaN        NaN        NaN
 1996-08-01       NaN       NaN        NaN        NaN        NaN        NaN
 ...              ...       ...        ...        ...        ...        ...
 2023-11-01  818436.0  155066.0  2700031.0  4753604.0  1050848.0        NaN
 2023-12-01  963255.0  177544.0  2920850.0  5208082.0  1140082.0        NaN
 2024-01-01    2517.0   18182.0   229513.0   446429.0   124524.0  3455171.0
 2024-02-01    5040.0   29586.0   463681.0   814713.0   201392.0  6118304.0
 2024-03-01       NaN       NaN        NaN        NaN        NaN        NaN

 symbol            9958      9960       9962      L2301
 datetime
 1996-04-01         NaN       NaN        NaN        NaN
 1996-05-01         NaN       NaN        NaN  3902313.0
 1996-06-01         NaN       NaN        NaN  4702524.0
 1996-07-01         NaN       NaN        NaN  5657273.0
 1996-08-01         NaN       NaN        NaN  6703595.0
 ...                ...       ...        ...        ...
 2023-11-01  12379187.0  750763.0  3067149.0        NaN
 2023-12-01  14515161.0  807726.0  3499602.0        NaN
 2024-01-01   1298476.0   49458.0   207195.0        NaN
 2024-02-01   2077296.0   96599.0   356961.0        NaN
 2024-03-01         NaN       NaN        NaN        NaN

 [336 rows x 2595 columns],
 '累積營收成長率(%)': symbol      000116  000930  000960  0009A0   1101   1102   1103   1104   1107  \
 datetime
 1996-04-01     NaN  -35.02  -14.17   -0.57  -6.20  14.90   4.90   5.18   2.20
 1996-05-01   -3.45  -27.47   10.21   20.05  -8.01  12.13  -0.50   3.48  -7.07
 1996-06-01    4.39  -26.22   18.62   26.04  -6.70  12.32  -1.99   5.08  -7.58
 1996-07-01    5.79  -17.75   18.44   26.77  -6.51  11.32  -1.80   4.81 -10.14
 1996-08-01    9.13   -5.59   26.82   29.76  -6.81  10.89  -2.40   1.62 -13.10
 ...            ...     ...     ...     ...    ...    ...    ...    ...    ...
 2023-11-01     NaN   22.31   57.51   31.15  -1.28  -9.93  29.78  11.52    NaN
 2023-12-01     NaN   22.51   64.11   30.52  -3.85 -11.26  29.18  10.58    NaN
 2024-01-01     NaN   79.98  131.73   95.43  -1.19  34.81  27.06  34.97    NaN
 2024-02-01     NaN   51.55   91.88   48.38 -17.73  -8.73  10.44   5.68    NaN
 2024-03-01     NaN     NaN     NaN     NaN    NaN    NaN    NaN    NaN    NaN

 symbol       1108  ...   9946   9949   9950   9951   9955   9957   9958  \

In [11]:
pdata['財報發布日']

KeyError: '財報發布日'